﻿@using VS_LOAN.Core.Web.Resources;
@{
    ViewBag.Title = Global.Home_Index_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}









<script type="text/javascript">
    SetActiveMenu('@ViewBag.formindex', 2);
</script>
<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            @*<li>
                    <a href="/HoSo/Index">Hồ sơ của tôi</a>
                </li>*@
            <li>
                <a href="#" class="active">Duyệt hồ sơ</a>
            </li>
        </ul>
    </div>
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form">
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Nhóm</label>
                        <div class="col-sm-5 col-xs-12 ">
                            <select id="ddlNhom" class="chosen-select form-control" data-placeholder="Chọn nhóm">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Thành viên</label>
                        <div class="col-sm-5 col-xs-12 ">
                            <select id="ddlThanhVienNhom" class="chosen-select form-control" data-placeholder="Chọn thành viên nhóm">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 col-xs-12">
                            <label class="control-label no-padding-right">
                                <input name="radio-ngay" type="radio" checked="checked" value="1" class="ace">
                                <span class="lbl"> Ngày tạo</span>
                            </label>
                            <label class="control-label no-padding-right">
                                <input name="radio-ngay" type="radio" value="2" class="ace">
                                <span class="lbl"> Ngày cập nhật</span>
                            </label>
                        </div>
                        <div class="col-sm-2 col-xs-12 ">
                            <div class="input-group">
                                <input class="form-control date-picker" id="txtFromDate" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-12 ">
                            <div class="input-group">
                                <input class="form-control date-picker" id="txtToDate" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                        <label class="col-sm-1 col-xs-12  control-label no-padding-right">Mã hồ sơ</label>
                        <div class="col-sm-2 col-xs-12">
                            <input type="text" class="form-control" id="txtMaHS" placeholder="Nhập mã hồ sơ" />
                        </div>
                        <label class="col-sm-1 col-xs-12  control-label no-padding-right">CMND</label>
                        <div class="col-sm-2 col-xs-12">
                            <input type="text" class="form-control" id="txtCMND" placeholder="Nhập CMND" />
                        </div>
                        
                    </div>
                    <div class="form-group">

                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Tìm kiếm</label>
                        <div class="col-sm-5 col-xs-12 ">
                            <input type="text" class="form-control" id="txtFreeText" placeholder="Tìm kiếm" />
                        </div>
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Trạng thái</label>
                        <div class="col-sm-5 col-xs-12 ">
                            <select id="ddlStatus" class="chosen-select form-control" multiple data-placeholder="Chọn nhóm"></select>
                        </div>

                    </div>
                    <div class="form-group text-right">
                        <div class="col-xs-12 ">
                            <a class="btn btn-primary" id="btn_search">
                                Tìm kiếm
                            </a>
                        </div>
                    </div>

                </form>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <div class="table-header">
                    Danh sách hồ sơ
                </div>
                <div class="dataTables_wrapper form-inline no-footer">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>
                                Hiển thị
                                <select id="ddlLimit" class="form-control input-sm" onchange="onSelectLimit()">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> dòng mỗi trang
                            </label>
                        </div>
                    </div>
                </div>
                <!-- div.table-responsive -->
                <!-- div.dataTables_borderWrap -->
                <div class="col">
                    <div class="report-table-custom--overflow">
                        <table id="dtSource" class="report-table-custom table table-striped table-bordered table-hover">
                            <thead class="table-header">
                                <tr>
                                    <th class="center w-45">STT</th>
                                    <th class="w-98">ID</th>
                                    <th class="w-94">Ngày tạo</th>
                                    <th class="w-84">Đối tác</th>
                                    <th class="w-105">CMND</th>
                                    <th class="m-w-150">Tên khách hàng</th>
                                    <th style="width: 150px">Trạng thái</th>
                                    @*<th style="width: 150px">F88</th>*@
                                    <th class="m-w-300">Ghi chú</th>
                                    <th class="w-94">Ngày giải ngân</th>
                                    <th class="w-94">Ngày cập nhật cuối</th>
                                    <th class="w-150">Tên sản phẩm</th>
                                    <th class="w-84">Mã nhân viên</th>
                                    <th class="m-w-150">Nhân viên bán hàng</th>
                                    <th class="w-130">Đội ngũ bán hàng</th>
                                    <th class="m-w-150">Nhân viên nhập liệu</th>
                                    <th class="w-60">Bảo hiểm</th>
                                    <th class="w-130">Khu vực</th>
                                    <th class="w-84">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix" />
                <div class="one-row no-gutters justify-content-between paginate">
                    <div class="col-auto">
                        <div class="dataTables_info" id="dtSource_info" role="status" aria-live="polite"></div>
                    </div>
                    <div class="col-auto">
                        <div class="one-row no-gutters align-items-center">
                            <div class="col-auto">
                                <span id="totalPage"></span>
                            </div>
                            <div class="col">
                                <div class="dataTables_paginate paging_simple_numbers" id="dtSource_paginate">
                                    <ul class="pagination" id="paging"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12 clearfix" style="margin-bottom:40px">
                <div class="pull-right">
                    <a id="btnDownReport" onclick="DownloadReport(this)" class="btn btn-sm btn-primary "><i class="ace-icon fa fa-download"></i>@Global.Button_Download</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script>
    var lstStatus = [
        { value: "0", display: "Lưu tạm" },
        { value: "1", display: "Nhập liệu" },
        { value: "2", display: "Thẩm định" },
        { value: "3", display: "Từ chối" },
        { value: "4", display: "Bổ sung hồ sơ" },
        { value: "5", display: "Giải ngân" },
        { value: "6", display: "Đã đối chiếu" },
        { value: "7", display: "Hủy" },
        { value: "8", display: "PCB" },
    ]
    var queries = new URLSearchParams(window.location.search);
    var page = 1;
    var limit = 10;
    var pageMargin = 2;
    var totalPage = 1;
    var totalRecord = 0;
    $(document).ready(function e() {
        renderStatusList();
        window.addEventListener('popstate', function (e) {
            queries = new URLSearchParams(window.location.search)
            bindQueries()
            var maNhom = queries.get("maNhom");
            //$('#ddlNhom').val(maNhom)
            //$('#ddlNhom').chosen().trigger("chosen:updated").change();
            //var memberId = queries.get("maThanhVien");
            //if (isNullOrWhiteSpace(maNhom) || parseInt(maNhom) === 0 || isNullOrWhiteSpace(memberId) || parseInt(memberId) === 0) {
            //    $('#ddlThanhVienNhom').empty();
            //    $('#ddlThanhVienNhom').append("<option value='0'></option>");
            //    $('#ddlThanhVienNhom').val('0');
            //    $('#ddlThanhVienNhom').chosen().trigger("chosen:updated");
            //}
            //else {
            //    $('#ddlThanhVienNhom').val(memberId)
            //    $('#ddlThanhVienNhom').chosen().trigger("chosen:updated");
            //}

            page = queries.get("page");
            if (isNullOrUndefined(page) || isNullOrWhiteSpace(page))
                page = 1;
            else
                page = parseInt(page)
            limit = queries.get("limit")
            if (isNullOrUndefined(limit) || isNullOrWhiteSpace(limit))
                limit = 10;
            else
                limit = parseInt(limit)
            getData(page, limit, memberId, true)
        });
        var input = document.getElementById("txtFreeText");
        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                $("#btn_search").click();
            }
        });
        function bindQueries() {
            
            var fromDate = queries.get("fromDate");
            if (isNullOrWhiteSpace(fromDate)) {
                fromDate = new Date().getDay + -7;
            }
            $("#txtFromDate").datepicker({ dateFormat: 'yy/mm/dd' }).datepicker("setDate", fromDate);
            var toDate = queries.get("toDate");
            if (isNullOrWhiteSpace(toDate)) {
                toDate = new Date().getDay + 1;
            }
            $("#txtToDate").datepicker({ dateFormat: 'yy/mm/dd' }).datepicker("setDate", toDate);
            var dateType = queries.get("loaiNgay");
            setCheckedValueOfRadioButtonGroup("radio-ngay", dateType)
            var maHS = queries.get("maHS");
            $('#txtMaHS').val(maHS)
            $('#txtFreeText').val(queries.get("freetext"))
            var cmnd = queries.get("cmnd");
            $('#txtCMND').val(cmnd)
            page = queries.get("page");
            if (isNullOrUndefined(page) || isNullOrWhiteSpace(page))
                page = 1;
            else
                page = parseInt(page)
            limit = queries.get("limit")
            if (isNullOrUndefined(limit) || isNullOrWhiteSpace(limit))
                limit = 10;
            else
                limit = parseInt(limit)
            $("#ddlLimit").val(limit)
        }

        $('#ddlThanhVienNhom').chosen({ width: '100%', allow_single_deselect: true });
        $('#ddlNhom').chosen({ width: '100%', allow_single_deselect: true });
        $('#ddllimit').chosen({ width: '100%', allow_single_deselect: true });
        $('#txtFromDate').datepicker({
            dateFormat: 'dd-mm-yy'
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        $('#txtToDate').datepicker({
            dateFormat: 'dd-mm-yy'
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        var status = decodeURI(queries.get("status"))
        if (!isNullOrWhiteSpace(status)) {
            let arrStatus = status.split(',')
            $('#ddlStatus').val(arrStatus).chosen().trigger("chosen:updated")
        }

        bindQueries()
    });
    function renderStatusList() {
        $("#ddlStatus").empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSTrangThai", "QuanLyHoSo")',
            data: {},
            success: function (data) {
                $('#ddlStatus').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, item) {
                        $('#ddlStatus').append("<option value='" + item.ID + "'>" + item.Ten + "</option>");
                    });
                    debugger
                    var status = decodeURI(queries.get("status"))
                    if (!isNullOrWhiteSpace(status)) {
                        let arrStatus = status.split(',')
                        $('#ddlStatus').val(arrStatus).chosen().trigger("chosen:updated")
                    }
                    $('#ddlStatus').chosen().trigger("chosen:updated");
                }
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });

        //$.each(lstStatus, function (index, item) {
        //    $("#ddlStatus").append("<option value='" + item.value + "'>" + item.display + "</option>")
        //})
        //$('#ddlStatus').chosen().trigger("chosen:updated");
        //$('#ddlStatus').trigger("change");

    }
    function getTotalPage(totalRecord, limit) {
        return totalRecord > limit ? Math.ceil(totalRecord / limit) : 1
    }
    function onClickPage(page) {
        page = page;
        getData(page, limit);
    }
    function renderGoPreviousPage(page) {
        let newCurrentPage = page
        if (page > 1) {
            newCurrentPage = page - 1
            return "<li class='paginate_button previous' aria-controls='dtSource' tabindex='0' onclick='onClickPage(" + newCurrentPage +")'>"
                + "<a href='javascript:;'>Trước</a>"
                + "</li>"

        } else {
            return ""
        }
    }
    function renderGoNextPage(page) {
        if (page < totalPage) {
            newCurrentPage = page + 1
           return "<li class='paginate_button next' aria-controls='dtSource' tabindex='0' onclick='onClickPage(" + newCurrentPage +")' >"
                +"<a href='javascript:;'>Sau</a>"
                + "</li>"

        } else {
            return ""
        }
    }
    function renderGoLastPage(page) {

        if (totalPage > page) {
            return "<li class='paginate_button next' aria-controls='dtSource' tabindex='0' onclick='onClickPage(" + totalPage + ")' >"
                + "<a href='javascript:;'>Trang cuối</a>"
                + "</li>"
        } else {
            return ""
        }
    }
    function renderGoFirstPage(page) {
        if (totalPage > 1 && page > 1) {
            return "<li class='paginate_button next' aria-controls='dtSource' tabindex='0' onclick='onClickPage(" + 1 + ")' >"
                + "<a href='javascript:;'>Trang đầu</a>"
                + "</li>"
        } else {
            return ""
        }
    }
    function renderTotalPage(totalPage) {
        if (totalPage > 0)
            return "<label>Tổng: " + totalPage + "</label>"
        return "";
    }
    function renderPageList(page, limit, totalRc) {
        totalPage = getTotalPage(totalRc, limit)
        var startPage = page > pageMargin ? page - pageMargin : 1;
        var endPage = pageMargin + page > totalPage ? totalPage : pageMargin + page
        var paging = $("#paging");
        paging.empty();
        var first = renderGoFirstPage(page)
        var next = renderGoNextPage(page);
        var prev = renderGoPreviousPage(page)
        var last = renderGoLastPage(page)
        paging.append(first)
        paging.append(prev)
        for (var i = startPage; i <= endPage; i++) {
            var active = page == i ? ' active' : '';
            var item = "<li class='paginate_button" + active + " aria-controls='dtSource' tabindex='0' onclick='onClickPage(" + i + ")' >"
                + "<a href='javascript:;'>" + i + "</a>"
                + "</li>"
            paging.append(item)
        }
        paging.append(next);
        paging.append(last)
    }
    function getValueDisplay(value, type) {
        if (isNullOrWhiteSpace(type))
            return value
        var display = null
        switch (type)
        {
            case 'datetime':
                display = FormatDateTimeDMY(value);
            default: break;
        }
        return display;
    }
    function renderStatus(MaTrangThai, TrangThaiHS) {
        var statusString = "";
        if (MaTrangThai == '@((int)VS_LOAN.Core.Entity.TrangThaiHoSo.Nhap)')
            statusString = "<span class='label label-sm label-light arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VS_LOAN.Core.Entity.TrangThaiHoSo.NhapLieu)')
            statusString = "<span class='label label-sm label-purple arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VS_LOAN.Core.Entity.TrangThaiHoSo.ThamDinh)')
            statusString = "<span class='label label-sm label-danger arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VS_LOAN.Core.Entity.TrangThaiHoSo.DaDoiChieu)' || MaTrangThai == 19)
            statusString = "<span class='label label-sm label-dadoichieu arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VS_LOAN.Core.Entity.TrangThaiHoSo.TuChoi)')
            statusString = "<span class='label label-sm label-inverse arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VS_LOAN.Core.Entity.TrangThaiHoSo.Cancel)')
            statusString = "<span class='label label-sm label-cancel arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VS_LOAN.Core.Entity.TrangThaiHoSo.PCB)')
            statusString = "<span class='label label-sm label-pcb arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VS_LOAN.Core.Entity.TrangThaiHoSo.BoSungHoSo)')
            statusString = "<span class='label label-sm label-info arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        else if (MaTrangThai == '@((int)VS_LOAN.Core.Entity.TrangThaiHoSo.GiaiNgan)')
            statusString = "<span class='label label-sm label-success arrowed arrowed-righ'>" + TrangThaiHS + "</span>";
        return "<td class='text-left'>" + statusString + "</td>";;
    }
     function renderF88Status(status) {
        var statusString = "";
        if (status == '@((int)VS_LOAN.Core.Entity.F88Result.Approve)')
            statusString = "<span class='label label-sm label-info arrowed arrowed-righ'>Chấp nhận</span>";
        else if (status == '@((int)VS_LOAN.Core.Entity.F88Result.Deny)')
            statusString = "<span class='label label-sm label-inverse arrowed arrowed-righ'>Từ chối</span>";
       
        return "<td class='text-left'>" + statusString + "</td>";;
    }
    function renderTextLeft(value, type, className ='') {
        return "<td class='text-left " + className + "'>" + getValueDisplay(value,type) + "</td>";
    }
    function renderTextCenter(value, type) {
        return "<td class='text-center'>" + getValueDisplay(value, type) + "</td>";
    }
    function renderCoBaoHiem(CoBaoHiem) {
        var value = ""
        if (CoBaoHiem == true)
            value = "<td class='text-left'> <div class='orange bolder' title='Không có bảo hiểm' ><i class=\"ace-icon fa fa-ban bigger-130\"></i></div> </td>";
        else
            value = "<td class='text-left'> <div class='green bolder'title = 'Có bảo hiểm' > <i class=\"ace-icon glyphicon glyphicon-ok bigger-130\"></i></div> </td>";
        return value;
    }
    function renderAction(id) {
        var thaotac = "<div class='action-buttons'>"
            + "<a title='@Global.Button_View' class=\"blue\" style='cursor: pointer' id='" + id+ "' onClick='XemHS(" + id +")'>"
            + "<i class=\"ace-icon fa fa-eye bigger-130\">"
            + "</i></a></div>"
        return "<td class='text-center'>" + thaotac + "</td>"
    }
    function onSelectLimit() {
        limit = $("#ddlLimit").val()
        getData(page,limit)
        //alert(limit)
    }
    function renderRow(index, rowData) {
        page = queries.get("page");
        if (isNullOrUndefined(page) || isNullOrWhiteSpace(page))
            page = 1;
        else
            page = parseInt(page)
        limit = queries.get("limit")
        if (isNullOrUndefined(limit) || isNullOrWhiteSpace(limit))
            limit = 10;
        else
            limit = parseInt(limit)
        var stt = (page - 1) * limit + index + 1;
        return "<tr role='row' class = 'odd'>"
            + renderTextCenter(stt)
            + renderTextLeft(rowData.MaHoSo)
            + renderTextLeft(rowData.NgayTao, 'datetime')
            + renderTextLeft(rowData.DoiTac)
            + renderTextLeft(rowData.CMND)
            + renderTextLeft(rowData.TenKH)
            + renderStatus(rowData.MaTrangThai, rowData.TrangThaiHS)
            //+ renderF88Status(rowData.F88Result)
            + renderTextLeft(rowData.GhiChu, '', 'tb-row-breakword')
            + renderTextLeft(rowData.DisbursementDate, 'datetime')
            + renderTextLeft(rowData.NgayCapNhat, 'datetime')
            + renderTextLeft(rowData.TenSanPham)
            + renderTextLeft(rowData.MaNV)
            + renderTextLeft(rowData.NhanVienBanHang)
            + renderTextLeft(rowData.DoiNguBanHang)
            + renderTextLeft(rowData.MaNVLayHS)
            + renderCoBaoHiem(rowData.CoBaoHiem)
            + renderTextLeft(rowData.DiaChiKH)
            + renderAction(rowData.ID)
            + "</tr>";
    }
    function renderTableBody(datas) {
        var table = $("#dtSource")
        var tableBody = $("#dtSource").find("tbody");
            tableBody.empty();
        if (isNullOrNoItem(datas))
            return;
        $.each(datas, function (index, item) {
            tableBody.append(renderRow(index, item));
        });

    }

    function getData(page, limit,memberId=0, isPopState = false)
    {
        showBlock($('#panel_body'), strLoading);
        //queries = new URLSearchParams(window.location.search);
        //memberId = parseInt(queries.get("maThanhVien"));
        $.ajax( {
                url: '@Url.Action("TimHS", "DuyetHoSo")',
                type: "GET",
                contentType: "application/json",
            data: {
                'page': page,
                'limit': limit,
                'maNhom': $('#ddlNhom').val(),
                'maThanhVien': (isNaN(memberId) || memberId == 0) ? $('#ddlThanhVienNhom').val() : memberId,
                  'fromDate':$('#txtFromDate').val(),
                  'toDate': $('#txtToDate').val(),
                  'maHS':$('#txtMaHS').val(),
                'cmnd': $('#txtCMND').val(),
                'freetext': $("#txtFreeText").val(),
                'loaiNgay': $('input[name="radio-ngay"]:checked').val(),
                'status': !isNullOrNoItem($("#ddlStatus").val()) ? $("#ddlStatus").val().toString() : ""
            },
            success: function (response) {
                if (response.success == true) {
                    totalRecord = response.data.TotalRecord;
                    var search = this.url.replace("/DuyetHoSo/TimHS", "");
                    queries = new URLSearchParams(search)
                    page = queries.get("page");
                    if (isNullOrUndefined(page) || isNullOrWhiteSpace(page))
                        page = 1;
                    else
                        page = parseInt(page)
                    limit = queries.get("limit")
                    if (isNullOrUndefined(limit) || isNullOrWhiteSpace(limit))
                        limit = 10;
                    else
                        limit = parseInt(limit)
                    renderTableBody(response.data.Datas)
                    //renderGoPreviousPage(page);
                    renderPageList(page, limit, totalRecord)
                    $("#dtSource_info").text("Tổng: " + totalRecord + " items");
                    $("#totalPage").text("Tổng: " + totalPage + " trang");
                }
                else {
                    swal({
                        title: "",
                        text: response.Message.ErrorMessage,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
            },
                error: function (jqXHR, exception) {
                    showError(jqXHR, exception);
                },
                complete: function () {
                    $('#panel_body').unblock();
                    if (!isPopState) {
                        var requestUrl = this.url.replace("TimHS", "Index")
                        window.history.pushState(requestUrl, this.title, requestUrl)
                    }

            }
        })

    }
    var strLoading = '@Global.Message_Loading';
    $('#btn_search').click(function (e) {
        showBlock($('#panel_body'), strLoading);
        getData(page, limit);

       //$('#dtSource').DataTable().ajax.reload();
        //$('#dtSource').DataTable().columns.adjust().draw();
    });

    $(document).ready(function () {
        LayNhom();
    });


    function LayNhom() {
        $('#ddlNhom').empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSNhom", "DuyetHoSo")',
            data: {},
            success: function (data) {
                $('#ddlNhom').append("<option value='0'></option>");
                if (data.data != null) {
                    $.each(data.data, function (index, item) {
                        $('#ddlNhom').append("<option value='" + item.ID + "'>" + item.Ten + "(" + item.TenQL + ")</option>");
                    });
                    var maNhom = queries.get("maNhom");
                    $('#ddlNhom').val(maNhom)
                    $('#ddlNhom').chosen().trigger("chosen:updated").change();
                }
                queries = new URLSearchParams(window.location.search)
                var memberId = queries.get("maThanhVien");
                getData(page, limit, memberId);
                //InitTable();
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

    $('#ddlNhom').change(function () {
        $('#ddlThanhVienNhom').empty();
        $('#ddlThanhVienNhom').append("<option value='0'></option>");
        var maNhom = $('#ddlNhom').val()
        if (!isNullOrUndefined(maNhom)) {
             $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSThanhVienNhom", "DuyetHoSo")',
            data: { "maNhom": $('#ddlNhom').val() },
            success: function (data) {
                if (data.data != null) {
                    $.each(data.data, function (index, item) {
                        $('#ddlThanhVienNhom').append("<option value='" + item.Id + "'>" + item.Name + "</option>");
                    });
                    var memberId = queries.get("maThanhVien");
                    $('#ddlThanhVienNhom').val(memberId)
                }
            },
            complete: function () {
                $('#ddlThanhVienNhom').chosen().trigger("chosen:updated");
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
        }

    });

</script>
<script>
    function XemHS(id) {
        window.location = "/DuyetHoSo/XemHSByID?id=" + id;
    }
    function SuaHS(id) {
        window.location = "/DuyetHoSo/SuaHSByID?id=" + id;
    }
</script>
<script>
    function DownloadReport(e) {
        var maNhom = 0;
        var maThanhVien = 0;
        if ($('#ddlNhom').val() != undefined) {
            maNhom = $('#ddlNhom').val();
        }
        if ($('#ddlThanhVienNhom').val() != undefined) {
            maThanhVien = $('#ddlThanhVienNhom').val();
        }
        var objectSend = JSON.stringify({ 'maNhom': maNhom, 'maThanhVien': maThanhVien, 'fromDate': $('#txtFromDate').val(), 'toDate': $('#txtToDate').val(), 'maHS': $('#txtMaHS').val(), 'cmnd': $('#txtCMND').val(), 'loaiNgay': $('input[name="radio-ngay"]:checked').val() });
        $.ajax({
            traditional: true,
            url: '/DuyetHoSo/DownloadReport',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: objectSend,
            success: function (data) {
                if (data.success == true) {
                    var link = document.createElement("a");
                    link.href = data.data;
                    link.click();
                }
                else {
                    swal({
                        title: "",
                        text: data.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {

            },
        });
    }

</script>