﻿@using VS_LOAN.Core.Web.Resources;
@using VS_LOAN.Core.Web.Helpers;
@{

    ViewBag.Title = Global.Home_Index_Title;
    if (GlobalData.User.OrgId != 2)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}









<script type="text/javascript">
    SetActiveMenu('@ViewBag.formindex', 2);
</script>
<div class="main-content-inner">
    @*<div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>

                    <a href="#">@Global.Home_Index_A01</a>
                </li>
            </ul>
        </div>*@
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                @*<div class="alert alert-block alert-success">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>

                        <i class="ace-icon fa fa-check green"></i>
                        @Global.Home_Index_AlertSuccess
                    </div>*@
                <!-- /.row -->
                @*<div class="row">
                        <div class="col-xs-12">
                            <div class="wrapper">

                            </div>
                        </div>
                    </div>*@
                <!-- /.row -->
                <div class="space"></div>
                <div class="row">

                    @if (GlobalData.User.OrgId != 2)
                    {
                        <div class="col-xs-12">
                            <div class="wrapper">
                                <img class="img-responsive center-block" src="~/Content/images/banner.png">
                                <p>
                                    <span style="color: #008446;"><strong>Địa chỉ liên hệ</strong></span><br>
                                    <strong>
                                        Công ty Cổ Phần Dịch Vụ Tài Chính Việt Bank<br>
                                    </strong>
                                    Địa chỉ trụ sở: Tầng 3, Cao ốc Long Mã, 602 - 602A Cộng Hòa, Phường 13, Quận Tân Bình, TP. HCM<br />
                                    Số điện thoại: 0938 79 74 78 (Từ 7:00-19:00, thứ 2 đến Chủ Nhật và các ngày lễ)<br />
                                    Website: <a target="_blank" href="https://vietstargroup.vn">https://vietstargroup.vn</a>
                                </p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12">
                            <div class="wrapper">
                                <img class="img-responsive center-block" src="~/Content/images/banner.png">
                                <p>
                                    <span style="color: #008446;"><strong>Địa chỉ liên hệ</strong></span><br>
                                    <strong>
                                        Công ty Cổ Phần Thu Hồi Nợ Vietstar<br>
                                    </strong>
                                    Địa chỉ trụ sở: Tầng 3, Cao ốc Long Mã, 602 - 602A Cộng Hòa, Phường 13, Quận Tân Bình, TP. HCM<br />
                                    Số điện thoại: 0938 79 74 78 (Từ 7:00-19:00, thứ 2 đến Chủ Nhật và các ngày lễ)<br />
                                    Website: <a target="_blank" href="https://vietstargroup.vn">https://vietstargroup.vn</a>
                                </p>
                            </div>
                        </div>
                    }

                    <!-- /.col -->

                    <div class="vspace-6-sm"></div>

                    <div class="col-sm-6">

                    </div>
                    <!-- /.col -->
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>
