﻿@using VS_LOAN.Core.Web.Resources
@using VS_LOAN.Core.Web.Helpers;
<div id="navbar" style="background:#0D622F" class="navbar navbar-default">
    <div class="navbar-container" id="navbar-container">
        @*<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>*@
        <button data-target="#sidebar" data-toggle="collapse" type="button" class="pull-left navbar-toggle" aria-expanded="true">
            <span class="sr-only">Toggle sidebar</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-header pull-left">
            <a href="/"  class="navbar-brand">
                <small>
                    @*<i class="fa fa-leaf"></i>*@
					
					 @if (GlobalData.User.OrgId == 2)
                    {
							<img alt="" class="logo_kpmgRevoke" src="/logoRevoke.png">
							 <strong class="hidden-xs" style="text-transform:uppercase">HỆ THỐNG BÁO CÁO</strong>
					}
					else 
					{
					       <img alt="" class="logo_kpmg" src="/Logo.png">
							<strong class="hidden-xs" style="text-transform:uppercase">HỆ THỐNG KIỂM DUYỆT HỒ SƠ</strong>						   
					}
             
                   
                </small>
            </a>









        </div>
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav" style="text-align: right;">
                @Html.Raw(VS_LOAN.Core.Web.Helpers.MenuWarning.GetMenuTopCanhBao())
                @if (Session[VS_LOAN.Core.Web.Helpers.Constant.SESSION_LOGIN] != null)
                {
                    var loginInfo = (VS_LOAN.Core.Entity.Model.UserPMModel)Session[VS_LOAN.Core.Web.Helpers.Constant.SESSION_LOGIN];
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" style="background:#0D622F" class="dropdown-toggle">
                            @*<img class="nav-user-photo" src="~/Content/ace-master/assets/avatars/avatar2.png" alt="Jason's Photo" />*@
                            <span class="user-info">
                                <small></small>
                                @loginInfo.FullName
                            </span>
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="@Url.Action("UserProfile", "Employee")">
                                    <i class="ace-icon fa fa-user"></i>
                                    @Global.NavBar_TTCN@*Thông tin cá nhân*@
                                </a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a href="javascript:void(0);" onclick="doLogout()">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    @Global.NavBar_DX@*Đăng xuất*@
                                </a>
                            </li>
                        </ul>
                    </li>
                }
              
            </ul>


        </div>
    </div>
    <!-- /.navbar-container -->
    <script type="text/javascript">

    </script>
</div>

<script type="text/javascript">

    function doLogout() {
        $.ajax({
            type: "POST",
            datatype: "JSON",
            url: '@Url.Action("DangXuat", "Employee")',
            success: function (data) {
                 window.location = data.newurl;
            },
            error: function (jqXHR, exception) { if (jqXHR.status != 0) alert('Error'); }
        });
    };
</script>
