﻿@using VS_LOAN.Core.Web.Resources;
@{
    ViewBag.Title = Global.Home_Index_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}









<script type="text/javascript">
    SetActiveMenu('@ViewBag.formindex', 2);
</script>
<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="#">Hồ sơ của tôi</a>
            </li>
        </ul>
    </div>
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form">
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Từ ngày</label>
                        <div class="col-sm-2 col-xs-12 ">
                            <div class="input-group">
                                <input class="form-control date-picker" id="txtFromDate" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                        <label class="col-sm-1 col-xs-12  control-label no-padding-right" for="form-field-1">Đến ngày</label>
                        <div class="col-sm-2 col-xs-12 ">
                            <div class="input-group">
                                <input class="form-control date-picker" id="txtToDate" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                        <label class="col-sm-1 col-xs-12  control-label no-padding-right">Mã hồ sơ</label>
                        <div class="col-sm-2 col-xs-12">
                            <input type="text" class="form-control" id="txtMaHS" placeholder="Nhập mã hồ sơ" />
                        </div>
                        <label class="col-sm-1 col-xs-12  control-label no-padding-right">Số điện thoại</label>
                        <div class="col-sm-2 col-xs-12">
                            <input type="text" class="form-control" id="txtSDT" placeholder="Nhập SDT" />
                        </div>
                    </div>
                
                    <div class="space-4"></div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <a class="btn btn-primary" id="btn_search">
                                    Tìm kiếm
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <div class="table-header">
                    Danh sách hồ sơ
                </div>

                <!-- div.table-responsive -->
                <!-- div.dataTables_borderWrap -->
                <div>
                    <table id="dtSource" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:50px" class="center">STT</th>
                                <th style="width:50px">ID</th>
                                <th style="width:80px">Ngày tạo</th>
                                <th style="width:80px">Đối tác</th>
                                <th style="width:80px">CMND</th>
                                <th style="width:120px">Tên khách hàng</th>
                                <th style="width:120px">Trạng thái</th>
                                <th style="width:120px">Kết quả</th>
                                <th style="width:90px">Ngày cập nhật cuối</th>
                                <th style="width:70px">Mã nhân viên</th>
                                <th style="width:120px">Nhân viên bán hàng</th>
                                <th style="width:120px">Đội ngũ bán hàng</th>
                                <th style="width:50px">Bảo hiểm</th>
                                <th style="width:120px">Khu vực</th>
                                <th style="width:80px">Thao tác</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function e() {
      
        $('#txtFromDate').datepicker({
            dateFormat: 'dd-mm-yy'
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        $('#txtToDate').datepicker({
            dateFormat: 'dd-mm-yy'
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        $("#txtFromDate").datepicker({ dateFormat: 'yy/mm/dd' }).datepicker("setDate", new Date().getDay + -90);
        $("#txtToDate").datepicker({ dateFormat: 'yy/mm/dd' }).datepicker("setDate", new Date().getDay + 1);
    });
</script>
<script>
    var strLoading = '@Global.Message_Loading';
    $('#btn_search').click(function (e) {
        showBlock($('#panel_body'), strLoading);
        $('#dtSource').DataTable().ajax.reload();//.ajax.reload();
        $("#dtSource").css("width", "100%");
        $('#dtSource').DataTable().columns.adjust().draw();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        InitTable();
        $(window).resize(function () {
            $("#dtSource").DataTable().columns.adjust().draw();
        });
    });

    function InitTable() {
        showBlock($('#panel_body'), strLoading);
        var table = $('#dtSource').DataTable({
            scrollX:        true,
            scrollCollapse: true,
            paging:         false,
            fixedColumns: true,
            ajax: {
                url: '@Url.Action("TimHS", "HoSo")'
                    , dataSrc: '',
                type: "GET",
                contentType: "application/json",
                data: function (d) {
                    d.fromDate = $('#txtFromDate').val();
                    d.toDate = $('#txtToDate').val();
                    d.maHS = $('#txtMaHS').val();
                    d.sdt = $('#txtSDT').val();
                },
                error: function (jqXHR, exception) {
                    showError(jqXHR, exception);
                },
                complete: function () {
                    $('#panel_body').unblock();
                }
            },
            columns: [
                {
                    data: null,
                    bSortable: false,
                    searchable: false
                   , orderable: false
                   , targets: 0
                   , className: "ColumnCenterClassName",
                    sClass: 'text-center'
                }
                ,
               {// Company Name
                   data: null,
                   bSortable: false,
                   "render": function (data, type, full, meta) {
                       return data.MaHoSo;
                   },
                   className: 'text-left'
               }
                ,
               {// Customer Name
                   data: null,
                   bSortable: false,
                   "render": function (data, type, full, meta) {
                       return FormatDateTimeDMY(data.NgayTao);
                   },
                   className: 'text-left'
               }
                ,
                {//Bill Date
                    data: null,
                    bSortable: false,
                    type: 'date-eu',
                    "render": function (data, type, full, meta) {
                        return data.DoiTac;
                    },
                    className: 'text-left'
                }
                ,
                {//Bill Date
                    data: null,
                    bSortable: false,
                    type: 'date-eu',
                    "render": function (data, type, full, meta) {
                        return data.CMND;
                    },
                    className: 'text-left'
                }
                ,
                {//Bill Date
                    data: null,
                    bSortable: false,
                    type: 'date-eu',
                    "render": function (data, type, full, meta) {
                        return data.TenKH;
                    },
                    className: 'text-left'
                }
                ,
                {//Bill Date
                    data: null,
                    bSortable: false,
                    type: 'date-eu',
                    "render": function (data, type, full, meta) {
                        var statusString = "";
                        if (data.MaTrangThai == '@((int)VS_LOAN.Core.Utility.TrangThaiHoSo.Nhap)')
                            statusString = "<span class='label label-sm label-light arrowed arrowed-righ'>" + data.TrangThaiHS + "</span>";
                        else if (data.MaTrangThai == '@((int)VS_LOAN.Core.Utility.TrangThaiHoSo.ChoDuyet)')
                            statusString = "<span class='label label-sm label-purple arrowed arrowed-righ'>" + data.TrangThaiHS + "</span>";
                       else if (data.MaTrangThai == '@((int)VS_LOAN.Core.Utility.TrangThaiHoSo.KhongDuyet)')
                            statusString = "<span class='label label-sm label-danger arrowed arrowed-righ'>" + data.TrangThaiHS + "</span>";
                       else if (data.MaTrangThai == '@((int)VS_LOAN.Core.Utility.TrangThaiHoSo.Duyet)')
                            statusString = "<span class='label label-sm label-info arrowed arrowed-righ'>" + data.TrangThaiHS + "</span>";
                        return statusString;
                    },
                    className: 'text-left'
                }
                ,
                {//Bill Date
                    data: null,
                    bSortable: false,
                    type: 'date-eu',
                    "render": function (data, type, full, meta) {
                        return data.KetQuaHS;
                    },
                    className: 'text-left'
                }
                ,
                {//Bill Date
                    data: null,
                    bSortable: false,
                    type: 'date-eu',
                    "render": function (data, type, full, meta) {
                        return FormatDateTimeDMY(data.NgayCapNhat);
                    },
                    className: 'text-left'
                }
                ,
                {//Bill Date
                    data: null,
                    bSortable: false,
                    type: 'date-eu',
                    "render": function (data, type, full, meta) {
                        return data.MaNV;
                    },
                    className: 'text-left'
                }
                ,
                {//Bill Date
                    data: null,
                    bSortable: false,
                    type: 'date-eu',
                    "render": function (data, type, full, meta) {
                        return data.NhanVienBanHang;
                    },
                    className: 'text-left'
                }
                ,
                {//Bill Date
                    data: null,
                    bSortable: false,
                    type: 'date-eu',
                    "render": function (data, type, full, meta) {
                        return data.MaNVSua;
                    },
                    className: 'text-left'
                }
                ,
                {//Bill Date
                    data: null,
                    bSortable: false,
                    type: 'date-eu',
                    "render": function (data, type, full, meta) {
                        if (data.CoBaoHiem == false)
                            return "<div class='orange bolder' title='Không có bảo hiểm' ><i class=\"ace-icon fa fa-ban bigger-130\"></i></div>";
                        else
                            return "<div class='green bolder'title='Có bảo hiểm' ><i class=\"ace-icon glyphicon glyphicon-ok bigger-130\"></div>";
                    },
                    className: 'text-left'
                }
                ,
                {//Bill Date
                    data: null,
                    bSortable: false,
                    type: 'date-eu',
                    "render": function (data, type, full, meta) {
                        return data.KhuVucText;
                    },
                    className: 'text-left'
                }
                , {// Thao tác
                    data: null,
                    bSortable: false,
                    "render": function (data, type, full, meta) {
                        var thaoTac = "";
                        thaoTac += "<div class='action-buttons'>";
                        thaoTac += "<a title='@Global.Button_View' class=\"blue\" style='cursor: pointer' id='" + data.ID + "' onClick='XemHS(this)'>";
                        thaoTac += "<i class=\"ace-icon fa fa-eye bigger-130\">";
                        thaoTac += "</i>";
                        thaoTac += "</a>";
                        if (data.MaTrangThai == '@((int)VS_LOAN.Core.Utility.TrangThaiHoSo.Nhap)' || data.MaTrangThai == '@((int)VS_LOAN.Core.Utility.TrangThaiHoSo.Nhap)')
                        {
                            thaoTac += "<a title='@Global.Button_Edit' class=\"green\" style='cursor: pointer' ID=" + data.ID + " onclick='SuaHS(this)' >";
                            thaoTac += "<i class=\"ace-icon fa fa-pencil bigger-130\">";
                            thaoTac += "</i>";
                            thaoTac += "</a>";
                            thaoTac += "</a>";

                            thaoTac += "<a title='@Global.Button_Delete' class=\"red\" style='cursor: pointer' ID=" + data.ID + " onclick='XoaHS(this)' >";
                            thaoTac += "<i class=\"ace-icon fa fa-trash bigger-130\">";
                            thaoTac += "</i>";
                            thaoTac += "</a>";
                        }
                        else 
                        {
                            thaoTac += "<span style='color:#C0C0C0;margin: 0 3px;' title='@Global.Button_Edit'  >";
                            thaoTac += "<i class=\"ace-icon fa fa-pencil bigger-130\">";
                            thaoTac += "</i>";
                            thaoTac += "</a>";
                            thaoTac += "</span>";

                            thaoTac += "<span title='@Global.Button_Delete' style='color:#C0C0C0;margin: 0 3px;' >";
                            thaoTac += "<i class=\"ace-icon fa fa-trash bigger-130\">";
                            thaoTac += "</i>";
                            thaoTac += "</span>";
                        }
                        thaoTac += "</div>";
                        return thaoTac;
                    }
                    , sClass: 'text-center'
                }

            ],
            "aaSorting": []
            //, order: [0, 'asc']
                , language: {
                    lengthMenu: '@Html.Raw(Global.Table_LengthMenu)'
                    , info: '@Html.Raw(Global.Table_Info)'
                    , infoEmpty: '@Html.Raw(Global.Table_InfoEmpty)'
                    , zeroRecords: "@Html.Raw(Global.Table_ZeroRecords)"
                    , search: '@Html.Raw(Global.Table_Search)'
                    , decimal: ","
                    , thousands: "."
                    , paginate: {
                        first: "@Html.Raw(Global.Table_Paginate_First)",
                        last: "@Html.Raw(Global.Table_Paginate_Last)",
                        next: "@Html.Raw(Global.Table_Paginate_Next)",
                        previous: '@Html.Raw(Global.Table_Paginate_Previous)'
                    }
                },
            "fnInitComplete": function () {
                //$("#dtSource").css("width", "100%");
                //$('#dtSource').DataTable().columns.adjust().draw();
            }
        });

        //Thứ tự bảng dữ liệu
        table.on('order.dt search.dt', function () {
            table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        //$('#dtSource tbody').on('click', 'tr', function () {
        //    var data = table.row(this).data();
        //    alert('You clicked on ' + data.ID);
        //});
    }
</script>
<script>
    function XemHS(e) {
        window.location = "/HoSo/XemHSByID?id=" + $(e).attr("ID") + "&fromdate=" + $('#txtFromDate').val() + "&todate=" + $('#txtToDate').val();
    }
    function SuaHS(e) {
        window.location = "/HoSo/SuaHSByID?id=" + $(e).attr("ID") + "&fromdate=" + $('#txtFromDate').val() + "&todate=" + $('#txtToDate').val();
    }
</script>
<script>
    function XoaHS(e) {
        var element = $(e);
        swal({
            title: "@Html.Raw(Global.DialogConfirmYesNo)",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            cancelButtonText: "@Html.Raw(Global.DialogConfirmNo)",
            confirmButtonText: "@Html.Raw(Global.DialogConfirmYes)",
            closeOnConfirm: false

        }, function () {
            var id = element.attr("ID");
            showBlock($('#panel_body'), strLoading);
            var objectSend = JSON.stringify({ 'hsID': id });
            $.ajax({
                url: '/HoSo/XoaHS',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                processData: false,
                data: objectSend,
                success: function (data) {
                    if (data.Message.Result == true) {
                        swal({
                            title: "",
                            text: data.Message.ErrorMessage,
                            type: "success",
                            timer: 4000,
                            showConfirmButton: true,
                        }, function () {
                            window.location = window.location
                        });
                    }
                    else {
                        swal({
                            title: "",
                            text: data.Message.ErrorMessage,
                            type: "error",
                            timer: 4000,
                            showConfirmButton: true,
                        });
                    }
                },
                error: function (jqXHR, exception) {
                    showError(jqXHR, exception);
                },
                complete: function () {
                    $('#panel_body').unblock();
                },
            });
        }
        );
    }
</script>