﻿@using VS_LOAN.Core.Web.Resources;
@{
    ViewBag.Title = "Tạo khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}









<script type="text/javascript">
    SetActiveMenu('5_1', 2);
</script>
<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-caret-right"></i>
                <a href="#">Tạo Khách hàng</a>
            </li>
        </ul>
    </div>
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">1.Thông tin khách hàng:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Họ và tên <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtHoTen" placeholder="Nhập họ tên" class="form-control">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày Check<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control date-picker" id="txtCheckDate" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số CMND<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="txtCMND" placeholder="Nhập số CMND" class="form-control" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày sinh</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control date-picker" id="txtBirthDay" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>

                        </div>

                    </div>


                    <div class="form-group" style ="display:none">
                        <label class="col-sm-2 control-label no-padding-right">Giới tính<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddGender" class="chosen-select form-control" data-placeholder="">

                                <option value="0">Nữ</option>
                                <option value="1">Nam</option>
                            </select>
                        </div>

                    </div>
                   		  <div class="form-group" style ="display:none">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Điện thoại</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtPhone" placeholder="Điện thoại khách hàng " class="form-control">
                        </div>
                    </div>
               		  <div class="form-group" style ="display:none">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tính thành<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlProvince" class="chosen-select form-control" data-placeholder="Chọn tỉnh thành phố">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                		  <div class="form-group" style ="display:none">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Địa chỉ<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <textarea type="text" id="txtAddress" placeholder="Nhập địa chỉ" class="form-control"></textarea>
                        </div>
                    </div>
                    		  <div class="form-group" style ="display:none">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Thu nhập hàng tháng</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtSalary" placeholder="Thu nhập hàng tháng" class="form-control">
                        </div>
                    </div>
                   		  <div class="form-group" style ="display:none">
                        <label class="col-sm-2 control-label no-padding-right">Tên ngân hàng<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="partnerId" class="chosen-select form-control" data-placeholder="Chọn đối tác">
                                <option value="0"></option>
                            </select>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr />
                <form class="form-horizontal">
                    <h4 class="header lighter orange"><i class="ace-icon fa fa-bell"></i>Ghi chú</h4>
                    <div class="form-group">
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Ghi chú</label>
                        <div class="col-md-11 col-sm-12 col-xs-12">
                            <textarea class="form-control" id="txtGhiChu" style="margin: 0px -4.5px 0px 0px; height: 50px;" placeholder="Nhập ghi chú"></textarea>
                        </div>
                    </div>
                    <div class="pull-right">

                        <a class="btn btn-sm btn-primary" id="btnSave">
                            Lưu
                        </a>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#txtCheckDate').datepicker({
            dateFormat: 'dd/mm/yy'
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        $("#txtCheckDate").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", new Date().getDay + 0);
        $('#txtBirthDay').datepicker({
            dateFormat: 'dd/mm/yy'
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        $("#txtBirthDay").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", new Date().getDay + 0);
        $('#ddlProvince').chosen({ width: '100%', allow_single_deselect: true });
        getPartner();
        getProvinces("#ddlProvince");
    });
    jQuery.fn.ForceNumericOnly = function () {
    return this.each(function () {
        $(this).keydown(function (e) {
            var key = e.charCode || e.keyCode || 0;
            // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
            // home, end, period, and numpad decimal
            return (
                key == 8 ||
                key == 9 ||
                key == 13 ||
                key == 46 ||
                key == 110 ||
                key == 190 ||
                (key >= 35 && key <= 40) ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
        });
    });
};
   
    $("#txtCMND").ForceNumericOnly();
    $("#txtPhone").ForceNumericOnly();
    $("#txtSalary").ForceNumericOnly();
    var successMsg = "Thành công";
    var errorMsg = "Không thành công"
        $('#btnSave').click(function (e) {
         if (isNullOrWhiteSpace($('#txtCheckDate').val())) {
            swal({
                title: "@Html.Raw(Global.Message_Title)",
                text: "Ngày check không hợp lệ",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }
		 // if (isNullOrWhiteSpace($('#txtPhone').val())) {
		// swal({
			// title: "@Html.Raw(Global.Message_Title)",
			// text: "Vui lòng nhập số điện thoại",
			// type: "error",
			// timer: 4000,
			// showConfirmButton: true,
		// });
		// return;
        // }
        if ($('#txtCMND').val().length != 9 && $('#txtCMND').val().length != 12) {
            swal({
                title: "@Html.Raw(Global.Message_Title)",
                text: "Số CMND chỉ 9 hoặc 12 số!",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }
            var objectSend = JSON.stringify({
                'FullName': $('#txtHoTen').val(),
                'CheckDate': $('#txtCheckDate').val(),
                'Note': $('#txtGhiChu').val(),
                'Cmnd': $('#txtCMND').val(),           
                'PartnerId': $("#partnerId").val(),
                'ProvinceId': $("#ddlProvince").val(),
                'Address': $('#txtAddress').val(),
                'BirthDay': $('#txtBirthDay').val(),
                'Phone': $('#txtPhone').val(),
                'Salary': $('#txtSalary').val(),	
                'Gender': $("#ddGender").val()>-1? $("#ddGender").val():null	

        });
        $.ajax({
            traditional: true,
            url: '@Url.Action("CreateAsync", "Customer")',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: objectSend,
            success: function (data) {
                if (data.success == true) {
                    swal({
                        title: "Thành công",
                        text: "Tạo khách hàng thành công",
                        type: "success",
                        timer: 4000,
                        showConfirmButton: true,
                    }, function () {
                        window.location = window.location;
                    });
                }
                else {
                    swal({
                        title: "Lỗi",
                        text: data.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {
                $('#panel_body').unblock();
            },
        });
        });
    function getPartner() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetAllPartner", "Customer")',
            data: {},
            success: function (data) {
                $('#partnerId').empty();
                $('#partnerId').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, optionData) {
                        $('#partnerId').append("<option value='" + optionData.Id + "'>" + optionData.Name + "</option>");
                    });
                }
                $('#partnerId').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
</script>