﻿@using VS_LOAN.Core.Web.Helpers;
@model VS_LOAN.Core.Entity.CheckDup.CheckDupAddSql
@{
    ViewBag.Title = "Cập nhật khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-caret-right"></i>
                <a href="#">Tạo Khách hàng</a>
            </li>
        </ul>









    </div>
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">1.Thông tin khách hàng:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Họ và tên <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="FullName" placeholder="Nhập họ tên" value="@Model.FullName" class="form-control">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày Check<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control date-picker" type="date" id="CheckDate" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số CMND<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="Cmnd" placeholder="Nhập số CMND" value="@Model.Cmnd" class="form-control" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày sinh</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control date-picker" id="txtBirthDay" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>

                        </div>

                    </div>
					
					  <div class="form-group" style ="display:none">
                        <label class="col-sm-2 control-label no-padding-right">Giới tính<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddGender" class="chosen-select form-control" data-placeholder="">
                              
                                <option value="0">Nữ</option>
                                <option value="1">Nam</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group" style ="display:none">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Điện thoại</label>
                        <div class="col-sm-4">
                            <input type="text" id="Phone" placeholder="Điện thoại khách hàng " value="@Model.Phone" class="form-control">
                        </div>
                    </div>
                 		  <div class="form-group" style ="display:none">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tính thành<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ProvinceId" class="chosen-select form-control" data-placeholder="Chọn tỉnh thành phố">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                   		  <div class="form-group" style ="display:none">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Địa chỉ<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <textarea type="text" id="Address" placeholder="Nhập địa chỉ" class="form-control">@Model.Address</textarea>
                        </div>
                    </div>
             		  <div class="form-group" style ="display:none">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Thu nhập hàng tháng</label>
                        <div class="col-sm-4">
                            <input type="text" id="Salary" value="@VS_LOAN.Core.Utility.Utility.FormatCurrentCy(Model.Salary)" placeholder="Thu nhập hàng tháng" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">CIC<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="CICStatus" class="chosen-select form-control" data-placeholder="">
                                <option value="0">Không nợ xấu</option>
                                <option value="1">Nợ chú ý</option>
                                <option value="2">Nợ xấu</option>
                            </select>
                        </div>

                    </div>
                 		  <div class="form-group" style ="display:none">
                        <label class="col-sm-2 control-label no-padding-right">Tên ngân hàng<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="partnerId" class="chosen-select form-control" data-placeholder="Chọn đối tác">
                                <option value="0"></option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <label class="control-label no-padding-right">
                                <input name="radio-check" id="rdChecked" type="radio" checked="checked" value="1" class="ace">
                                <span class="lbl">Đủ điều kiện</span>
                            </label>
                            <label class="control-label no-padding-right">
                                <input name="radio-check" id="rdUnChecked" type="radio" value="0" class="ace">
                                <span class="lbl">Không đủ điều kiện</span>
                            </label>
                        </div>

                    </div>


                    @if (GlobalData.User.UserType == 3)
                    {
                          <div class="form-group" style ="display:none">
                            <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Trạng thái</label>
                            <div class="col-sm-5 col-xs-12 ">
                                <select id="ddlStatus" class="chosen-select form-control" data-placeholder="Chọn trạng thái">
                                </select>
                            </div>

                        </div>            

                    }
                    else
                    {
                        <div class="form-group">
                            <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Trạng thái</label>
                            <div class="col-sm-5 col-xs-12 ">
                                <select id="ddlStatus" class="chosen-select form-control" data-placeholder="Chọn trạng thái">
                                </select>
                            </div>

                        </div>

                    }

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr />
                <form class="form-horizontal">
                    <h4 class="header lighter orange"><i class="ace-icon fa fa-bell"></i>Ghi chú</h4>
                    <div class="form-group">
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Ghi chú</label>
                        <div class="col-md-11 col-sm-12 col-xs-12">
                            <textarea class="form-control" id="txtGhiChu" style="margin: 0px -4.5px 0px 0px; height: 50px;" placeholder="Nhập ghi chú"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8 activity-log">
                                <div class="timline-addNote only-new-note">
                                    <div class="timeline-date-event timline-date-event--margin mt-0" id="dsGhichu">


                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">

                                <a class="btn btn-sm btn-primary" id="btnSave">
                                    Lưu
                                </a>

                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        getPartner()
        GetNotes('@Model.Id')
        setDateTimeInput('#CheckDate', 'dd/mm/yyyy')
        setDateTimeInput('#txtBirthDay', 'dd/mm/yyyy')
        
        getCustomerCheckStatus("#ddlStatus", '@Model.StatusValue')


        $("#CheckDate").val(FormatDateTimeDMYv2('@Model.CheckDate.ToString("yyyy/MM/dd")', 'YYYY-MM-DD'))
        $("#txtBirthDay").val(FormatDateTimeDMYv2('@Model.BirthDay.ToString("yyyy/MM/dd")', 'YYYY-MM-DD'))
        if ('@Model.PartnerStatus' == '0') {
            $("#rdChecked").prop("checked", true);
            $("#rdUnChecked").prop("checked", false);
        }
        else if('@Model.PartnerStatus' == '1'){
           $("#rdChecked").prop("checked", true);
            $("#rdUnChecked").prop("checked", false);
        }
        else if ('@Model.PartnerStatus' == '2') {
            $("#rdChecked").prop("checked", false);
            $("#rdUnChecked").prop("checked", true);
        }
        debugger
        if ('@Model.IsMatch' =='True') {
            $("#rdChecked").prop("checked", true);
            $("#rdUnChecked").prop("checked", false);
        }
        else {
            $("#rdChecked").prop("checked", false);
            $("#rdUnChecked").prop("checked", true);
        }

        $("#CICStatus").val('@Model.CICStatus');
		$("#ddGender").val('@Model.Gender');
        $('#ProvinceId').chosen({ width: '100%', allow_single_deselect: true });
        getProvinces("#ProvinceId", '@Model.ProvinceId');
    })

    function getPartner() {
         $.ajax({
             type: "GET",
             url: '/Customer/GetPartner?customerId=0',
             success: function (data) {
                 partners = data.data
                 $('#partnerId').empty();
                 if (data != null) {
                     $.each(data.data, function (index, item) {
                        $('#partnerId').append("<option value='" + item.Id + "'>" + item.Name + "</option>");
                     });
                     $('#partnerId').val('@Model.PartnerId')
                }

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
    jQuery.fn.ForceNumericOnly = function () {
    return this.each(function () {
        $(this).keydown(function (e) {
            var key = e.charCode || e.keyCode || 0;
            // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
            // home, end, period, and numpad decimal
            return (
                key == 8 ||
                key == 9 ||
                key == 13 ||
                key == 46 ||
                key == 110 ||
                key == 190 ||
                (key >= 35 && key <= 40) ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
        });
    });
};
    $("#Phone").ForceNumericOnly();
    $("#Cmnd").ForceNumericOnly();
    $("#Salary").ForceNumericOnly();
    $('#btnSave').click(function (e) {

        if (isNullOrWhiteSpace($('#CheckDate').val())) {
            swal({
                title: "Không thành công",
                text: "Ngày check không hợp lệ",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }

        if ($('#Cmnd').val().length != 9 && $('#Cmnd').val().length != 12) {
            swal({
                title: "Không thành công",
                text: "Số CMND chỉ 9 hoặc 12 số!",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
            }
        let model = {
            'Id':'@Model.Id',
            'FullName': $('#FullName').val(),
            'CheckDate': $('#CheckDate').val(),
            'Note': $('#txtGhiChu').val(),
            'Cmnd': $('#Cmnd').val(),
			'Gender': $("#ddGender").val()>-1? $("#ddGender").val():null,			
            'CICStatus': $("#CICStatus").val(),
            'BirthDay': $('#txtBirthDay').val(),
            'ProvinceId': $("#ProvinceId").val(),
            'PartnerId': $("#partnerId").val(),
            'PartnerStatus':$('input[name="radio-check"]:checked').val() == "1"  ? 1 : 2,
            'Address': $('#Address').val(),
            'Phone': $('#Phone').val(),
            'Salary': getDecimalValueFromMoneyInput($("#Salary").val()),
            "Status": (isNullOrUndefined($("#ddlStatus").val()) || isNullOrWhiteSpace($("#ddlStatus").val())) ? @Model.StatusValue : parseInt($("#ddlStatus").val())

        }
            var objectSend = JSON.stringify(model);
        $.ajax({
            traditional: true,
            url: '@Url.Action("UpdateAsync", "Customer")',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: objectSend,
            success: function (data) {
                debugger
                if (data.success == true) {
                    swal({
                        title: "Thành công",
                        text: "Cập nhật thành công",
                        type: "success",
                        timer: 4000,
                        showConfirmButton: true,
                    }, function () {
                        window.location = "/Customer/Index";
                    });
                }
                else {
                    swal({
                        title: "Lỗi",
                        text: data.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {
                $('#panel_body').unblock();
            },
        });
        });
    function GetNotes(id) {
        //$('#ddlTrangThai').empty();
        if (isNullOrUndefined(id))
            return;
        $.ajax({
            type: "GET",
            url: '/Customer/GetNotes?customerId=' + id,
            data: {},
            success: function (data) {

                if (data.data != null) {
                    $.each(data.data, function (index, item) {
                        $('#dsGhichu').append(
                            '<div class="timeline-event-content  active">' +
                            '<div class="timeline-item">'+
                            '<div class="timeline-body">' +
                            '<div class="timeline__message-container">' +
                            '<strong>' + item.Commentator + ' (' + SetFormatDateTimeDMY(item.CommentTime) + '): </strong><span>' + item.Noidung + '</span>' +
                            '</div></div></div></div>'

                        )
                    });
                }

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
</script>