﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="/favicon.ico" rel="shortcut icon" />
    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="~/Content/ace-master/assets/css/chosen.min.css" />

    <!-- bootstrap & fontawesome -->
    <link href="~/Content/ace-master/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/ace-master/assets/font-awesome/4.2.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="~/Content/ace-master/assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/ace-master/assets/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/Content/ace-master/assets/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="~/Content/ace-master/assets/css/daterangepicker.min.css" />
    <link rel="stylesheet" href="~/Content/ace-master/assets/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/Content/ace-master/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="~/Content/ace-master/assets/css/jquery.gritter.min.css" />
    <link rel="stylesheet" href="~/Content/ace-master/assets/css/bootstrap-multiselect.min.css" />
    <link rel="stylesheet" href="~/Content/ace-master/assets/css/fullcalendar.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.css" />

    <!-- VinhDT Thêm listbox chuyển qua lại -->
    <link rel="stylesheet" href="~/Content/ace-master/assets/css/bootstrap-duallistbox.min.css" />
    <!-- EndVinhDT-->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/Content/ace-master/assets/fonts/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Content/ace-master/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!-- inline styles related to this page -->
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <link href="~/Content/css/timeline.css" rel="stylesheet" />









    <script src="~/Scripts/returnerror.js"></script>


    <!-- VINHDT -->
    @*javascrip có nhiệm vụ đọc file excel*@
    <script src="~/Scripts/Excel/jszip.js"></script>
    <script src="~/Scripts/Excel/xlsx.js"></script>
    <!-- page specific plugin scripts -->
    <!-- End VINHDT -->
    <!-- ace settings handler -->
    <script src="~/Content/ace-master/assets/js/ace-extra.min.js"></script>

    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script src="~/Content/ace-master/assets/js/jquery.2.1.1.min.js"></script>

    <!-- <![endif]-->
    <!--[if IE]>
        <script src="~/Content/ace-master/assets/js/jquery.1.11.1.min.js"></script>
        <![endif]-->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/Content/ace-master/assets/js/jquery.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
        <script type="text/javascript">
            window.jQuery || document.write("<script src='~/Content/ace-master/assets/js/jquery1x.min.js'>"+"<"+"/script>");
        </script>
        <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/Content/ace-master/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/Content/ace-master/assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <script src="~/Content/ace-master/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/Content/ace-master/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/ace-master/assets/js/chosen.jquery.min.js"></script>
    <script src="~/Content/ace-master/assets/js/fuelux.spinner.min.js"></script>
    <script src="~/Content/ace-master/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/ace-master/assets/js/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/ace-master/assets/js/moment.min.js"></script>
    <script src="~/Content/fileinput/js/fileinput.js" type="text/javascript"></script>
    <script src="~/Content/ace-master/assets/js/fullcalendar.min.js"></script>
    <script src="~/Content/ace-master/assets/js/bootbox.min.js"></script>

    <script src="~/Content/ace-master/assets/js/daterangepicker.min.js"></script>
    <script src="~/Content/ace-master/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/ace-master/assets/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/Content/ace-master/assets/js/jquery.knob.min.js"></script>
    <script src="~/Content/ace-master/assets/js/jquery.autosize.min.js"></script>
    <script src="~/Content/ace-master/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/Content/ace-master/assets/js/jquery.maskedinput.min.js"></script>
    <script src="~/Content/ace-master/assets/js/bootstrap-tag.min.js"></script>

    <script src="~/Content/ace-master/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/ace-master/assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="~/Content/ace-master/assets/js/dataTables.tableTools.min.js"></script>
    <script src="~/Content/ace-master/assets/js/dataTables.colVis.min.js"></script>
    <script src="~/Scripts/jquery.tmpl.js"></script>
    <script src="~/Content/ace-master/assets/js/bootstrap-multiselect.min.js"></script>

    <script src="~/Content/ace-master/assets/js/jquery.sparkline.min.js"></script>
    <script src="~/Content/ace-master/assets/js/jquery.flot.min.js"></script>
    <script src="~/Content/ace-master/assets/js/jquery.flot.pie.min.js"></script>
    <script src="~/Content/ace-master/assets/js/jquery.flot.resize.min.js"></script>

    <!-- ace scripts -->
    <script src="~/Content/ace-master/assets/js/ace-elements.min.js"></script>
    <script src="~/Content/ace-master/assets/js/ace.min.js"></script>
    <script src="~/Scripts/blockui-master/jquery.blockUI.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/mcredit.js"></script>
    <script src="~/Scripts/revoke.js"></script>

    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/fileinput/css/fileinput.css" media="all" type="text/css" />
    <script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>


    <script src="~/Content/ace-master/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/Content/ace-master/assets/js/jquery.gritter.min.js"></script>
    <script src="~/Content/ace-master/assets/js/spin.min.js"></script>
    <script type="text/javascript">
        function SetActiveMenu(menuId, level) {
            $('#sidebar li .open').removeClass("open");
            $('#sidebar li .active').removeClass("active");
            if (level == 1) {
                $('#sidebar li[id="' + menuId + '"]').addClass('active');
            } else if (level == 2) {
                $('#sidebar li[id="' + menuId + '"]').addClass('active');
                $('#sidebar li[id="' + menuId + '"]').parent().parent().addClass('active open');
            }
            else if (level == 3) {
                $('#sidebar li[id="' + menuId + '"]').addClass('active');
                $('#sidebar li[id="' + menuId + '"]').parent().parent().addClass('active open');
                $('#sidebar li[id="' + menuId + '"]').parent().parent().parent().parent().addClass('active open');
            }
        }
    </script>
</head>
<body class="no-skin">
    @Html.Partial("_NavBar")
    <div class="main-container" id="main-container">
        @Html.Partial("_Menu")
        <div class="main-content">
            @RenderBody()
        </div>
        <!-- /.main-content -->
        @Html.Partial("_Footer")
    </div>
    <!-- /.main-container -->
    <script type="text/javascript">
        $(document).ajaxError(function (xhr, props) {
            if (props.status === 509) {
                
                location.reload();
            }
        });
    </script>

</body>
</html>
