﻿@using VS_LOAN.Core.Web.Resources;
@{
    ViewBag.Title = "Chi tiết tổ nhóm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model String









<script type="text/javascript">
    SetActiveMenu('@ViewBag.formindex', 2);
</script>
<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-caret-right"></i>
                <a href="#">Chi tiết tổ nhóm</a>
            </li>
        </ul>
    </div>
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">1.Thông tổ nhóm:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtTenNhom" readonly="readonly" placeholder="Nhập tên nhóm" class="form-control" value="@ViewBag.model.Ten" />
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên ngắn</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtTenNgan" readonly="readonly" placeholder="Nhập tên ngắn" class="form-control" value="@ViewBag.model.TenNgan" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Người quản lý</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtNguoiQuanLy" readonly="readonly" placeholder="" class="form-control" value="@ViewBag.model.NguoiQuanLy" />
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Nhóm cha</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtNhomCha" readonly="readonly" placeholder="" class="form-control" value="@ViewBag.model.TenNhomCha" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">2.Thành viên nhóm:</h3>
                <div class="form-group">
                    <div class="col-sm-12">
                        <table id="dtSource" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 50px" class="center">STT</th>
                                    <th style="width: 200px">Mã</th>
                                    <th>Tên</th>
                                    <th>Email</th>
                                    <th style="width: 200px">SĐT</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="hr hr-16 hr-dotted"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr />
                <div class="pull-right">
                    <a href="/ToNhom/QLToNhom" title="@Global.Button_Return" class="btn btn-sm btn-primary on-top-return"><i class="ace-icon glyphicon glyphicon-backward"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var strLoading = '@Global.Message_Loading';
</script>
<script>
    function InitTable() {
        showBlock($('#panel_body'), strLoading);
        var table = $('#dtSource').DataTable({
            //scrollX: true,
            //scrollCollapse: true,
            ajax: {
                url: '@Url.Action("LayDSChiTietThanhVien", "ToNhom")'
                    , dataSrc: '',
                type: "GET",
                contentType: "application/json",
                data: function (d) {
                    d.maNhom = '@ViewBag.model.ID';
                },
                error: function (jqXHR, exception) {
                    showError(jqXHR, exception);
                },
                complete: function () {
                    $('#panel_body').unblock();
                }
            },
            columns: [
                {
                    data: null,
                    bSortable: false,
                    searchable: false
                   , orderable: false
                   , targets: 0
                   , className: "ColumnCenterClassName",
                    sClass: 'text-center'
                }
                ,
               {// Company Name
                   data: null,
                   bSortable: false,
                   "render": function (data, type, full, meta) {
                       
                       return data.Ma;
                   },
                   className: 'hidden-480 text-left'
               }
                ,
               {// Customer Name
                   data: null,
                   bSortable: false,
                   "render": function (data, type, full, meta) {
                       return data.HoTen;
                   },
                   className: 'hidden-480 text-left'
               }
                ,
                {//Bill Date
                    data: null,
                    bSortable: false,
                    "render": function (data, type, full, meta) {
                        return data.Email;
                    },
                    className: 'hidden-480 text-left'
                }
                , {// Thao tác
                    data: null,
                   bSortable: false,
                   "render": function (data, type, full, meta) {
                       return data.SDT;
                   },
                   className: 'hidden-480 text-left'
                }
            ],
            "searching": false,
            "aaSorting": []
            //, order: [0, 'asc']
                , language: {
                    lengthMenu: '@Html.Raw(Global.Table_LengthMenu)'
                    , info: '@Html.Raw(Global.Table_Info)'
                    , infoEmpty: '@Html.Raw(Global.Table_InfoEmpty)'
                    , zeroRecords: "@Html.Raw(Global.Table_ZeroRecords)"
                    , search: '@Html.Raw(Global.Table_Search)'
                    , decimal: ","
                    , thousands: "."
                    , paginate: {
                        first: "@Html.Raw(Global.Table_Paginate_First)",
                        last: "@Html.Raw(Global.Table_Paginate_Last)",
                        next: "@Html.Raw(Global.Table_Paginate_Next)",
                        previous: '@Html.Raw(Global.Table_Paginate_Previous)'
                    }
                },
            "fnInitComplete": function () {
                $("#dtSource").css("width", "100%");
                $('#dtSource').DataTable().columns.adjust().draw();
            }
        });

        //Thứ tự bảng dữ liệu
        table.on('order.dt search.dt', function () {
            table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        //$('#dtSource tbody').on('click', 'tr', function () {
        //    var data = table.row(this).data();
        //    alert('You clicked on ' + data.ID);
        //});
    }
</script>
<script>
    $(document).ready(function () {
        InitTable();
    });
</script>