@font-face {
  font-family: roboto-regular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto-black;
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: roboto-blackItalic;
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
}

@font-face {
  font-family: roboto-bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

.header-container img {
  width: 100%;
}

.title-main {
  color: darkorange;
  font-family: roboto-bold;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-div .title-section {
  color: darkorange;
  font-family: roboto-bold;
  font-size: 20px;
}

.section-div .row-collection {
  margin-bottom: 10px;
}

.section-div .sentences .lable-text {
  float: left;
}

.section-div .sentences .input-container {
  overflow: hidden;
  display: block;
  padding: 0 4px 0 0px;
}

.section-div .sentences .input-container .input-text {
  width: 100%;
  border: unset;
  border-bottom: 1px dashed #333;
  text-transform: uppercase;
  text-align: center;
  color: blue;
}

.section-div .sentences .input-container .input-text-small {
  width: 90px;
  border: unset;
  border-bottom: 1px dashed #333;
  text-transform: uppercase;
  text-align: center;
  color: blue;
}

.section-div .sentences .input-container .input-text-me {
  width: 200px;
  border: unset;
  border-bottom: 1px dashed #333;
  text-transform: uppercase;
  text-align: center;
  color: blue;
}

.section-div .sentences .input-container .input-checkbox {
  width: 18px;
  height: 18px;
}

.section-div .sentences .addspace {
  margin-left: 50px;
}

.section-div .sentences .row-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.bold-text {
  font-weight: bolder;
}

.left-text {
  text-align: left !important;
}

.header-page {
  margin-top: 20px;
  width: 100%;
  text-align: right;
  clear: both;
}

.header-page input {
  border: none;
  color: blue;
  border-bottom: dashed 1px #333;
}

input {
  font-weight: 500;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
/*# sourceMappingURL=style.css.map */