﻿@using VS_LOAN.Core.Web.Resources;
@{
    ViewBag.Title = Global.Home_Index_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}









<script type="text/javascript">
    SetActiveMenu('@ViewBag.formindex', 2);
</script>
<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="/HoSo/Index">Hồ sơ của tôi</a>
            </li>

            <li class="active">
                Chi tiết hồ sơ
            </li>
        </ul>
    </div>
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="header lighter orange"><i class="ace-icon fa fa-bell"></i>Trình trạng hồ sơ</h4>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Trạng thái</label>
                        <div class="col-sm-4">
                            <input type="text" disabled id="txtTrangThai"  class="form-control" />
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Kết quả hoạt động</label>
                        <div class="col-sm-4">
                            <input type="text" disabled id="txtKetQuaHoatDong" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Ghi chú</label>
                        <div class="col-sm-10">
                            <textarea disabled class="form-control limited" id="txtGhiChu" maxlength="50"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">1.Thông tin khách hàng:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Họ và tên</label>
                        <div class="col-sm-4">
                            <input type="text" disabled id="txtHoTen" placeholder="Nhập họ tên" class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày nhận đơn đề nghị</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control date-picker" disabled id="txtToDate" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Điện thoại khách hàng</label>
                        <div class="col-sm-4">
                            <input type="text" disabled id="txtDienThoai" placeholder="Nhập số điện thoại khách hàng" class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Điện thoại nhân viên</label>
                        <div class="col-sm-4">
                            <input type="text" disabled id="txtDienThoai2" placeholder="Nhập số điện thoại nhân viên" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số CMND</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtCMND" disabled placeholder="Nhập số CMND" class="form-control" />
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Giới tính</label>
                        <div class="col-sm-4">
                            <select id="ddlGioiTinh" disabled class="chosen-select form-control">
                                <option value="1">Nam</option>
                                <option value="2">Nữ</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Tỉnh/TP</label>
                        <div class="col-sm-4">
                            <select id="ddlTinh" disabled class="chosen-select form-control" data-placeholder="Chọn tỉnh thành phố">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Quận/huyện</label>
                        <div class="col-sm-4">
                            <select id="ddlHuyen" disabled class="chosen-select form-control" data-placeholder="Chọn quận huyện">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Địa chỉ</label>
                        <div class="col-sm-10">
                            <textarea type="text" disabled id="txtDiaChi" placeholder="Nhập địa chỉ" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Sale Code</label>
                        <div class="col-sm-4">
                            <select id="ddlInternalCode" disabled class="chosen-select form-control" data-placeholder="Chọn Sale Code">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên nhân viên</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtTenNV" disabled data-toggle-tt="tooltip" placeholder="Tên nhân viên" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Courier Code</label>
                        <div class="col-sm-4">
                            <select id="ddlCourier" disabled class="chosen-select form-control" data-placeholder="Chọn courier code">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">2.Thông tin khoản vay và sản phẩm:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Tên ngân hàng</label>
                        <div class="col-sm-4">
                            <select id="ddlDoiTac" disabled class="chosen-select form-control" data-placeholder="Chọn đối tác">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Sản phẩm vay</label>
                        <div class="col-sm-4">
                            <select id="ddlSanPhamVay" disabled class="chosen-select form-control" data-placeholder="Chọn sản phẩm vay">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4  col-md-offset-2">
                            <div class="checkbox">
                                <label>
                                    <input disabled name="form-field-checkbox" id="cbbaohiem" checked type="checkbox" class="ace">
                                    <span class="lbl">Không đề nghị mua bảo hiểm dư TD cá nhân</span>
                                </label>
                            </div>
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên cửa hàng</label>
                        <div class="col-sm-4">
                            <input type="text" disabled id="txtTenCuaHang" placeholder="Nhập tên của hàng" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số tiền đề nghị vay</label>
                        <div class="col-sm-4">
                            <input type="text" disabled id="txtTienDeNghiVay" placeholder="Nhập số tiền đề nghị vay" class="form-control">
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Thời hạn vay</label>
                        <div class="col-sm-4">
                            <input type="text" disabled id="spnThoiHanVay" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">3.Hồ sơ đính kèm:</h3>
                <div class="row">
                    <div class="col-sm-12" style="overflow-y: scroll;max-height:400px;">
                        <form class="form-horizontal" role="form" id="tbDoc"></form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr>
                <div class="pull-right">
                    <a href="/HoSo/Index/?fromdate=@Request.Params["fromdate"]&todate=@Request.Params["todate"]&mahs=@Request.Params["mahs"]" title="@Global.Button_Return" class="btn btn-sm btn-primary on-top-return"><i class="ace-icon glyphicon glyphicon-backward"></i>Trở về</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var strLoading = '@Global.Message_Loading';
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%', allow_single_deselect: true });
    });
</script>
<script>
    $(document).ready(function () {
        $('#ddlSanPhamVay').chosen({ width: '100%', allow_single_deselect: true });
        $('#ddlHuyen').chosen({ width: '100%', allow_single_deselect: true });
        $('#ddlTinh').chosen({ width: '100%', allow_single_deselect: true });
        $('#txtToDate').datepicker({
            dateFormat: 'dd-mm-yy'

        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
       
    });
</script>
<script>
    $(document).ready(function () {
        var hosoInfo = @Html.Raw(Json.Encode(ViewBag.HoSo));
        if(hosoInfo!=null)
        {
            $('#txtHoTen').val(hosoInfo.TenKhachHang);
            $('#txtDienThoai').val(hosoInfo.SDT);
            $('#txtDienThoai2').val(hosoInfo.SDT2);
            $('#txtToDate').val(SetFormatDateTimeDMY(hosoInfo.NgayNhanDon));
            $('#txtCMND').val(hosoInfo.CMND);
            $('#txtDiaChi').val(hosoInfo.DiaChi);
            $('#txtTenCuaHang').val(hosoInfo.TenCuaHang);
            $('#txtTienDeNghiVay').val(formatCurrency(hosoInfo.SoTienVay));
            $('#spnThoiHanVay').val(hosoInfo.HanVay);
            if(hosoInfo.CoBaoHiem>0)
                $('#cbbaohiem').attr('checked', true);
            else
                $('#cbbaohiem').attr('checked', false);
            $('#txtGhiChu').val(hosoInfo.GhiChu);
            $('#txtTrangThai').val(hosoInfo.TenTrangThai);
            $('#txtKetQuaHoatDong').val(hosoInfo.TenTrangThai);

        }
        var lstLoaiTaiLieu = @Html.Raw(Json.Encode(ViewBag.LstLoaiTaiLieu));
        LayDSTaiLieu(lstLoaiTaiLieu,hosoInfo.LstTaiLieu);
        var maDoiTac='@ViewBag.MaDoiTac';
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSDoiTac", "HoSo")',
            data: {},
            success: function (data) {
                $('#ddlDoiTac').empty();
                $('#ddlDoiTac').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.DSDoiTac, function (index, optionData) {
                        $('#ddlDoiTac').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlDoiTac').val(maDoiTac);
                $('#ddlDoiTac').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
        var sanPhamVay=hosoInfo.SanPhamVay;
         $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSSanPham", "HoSo")',
             data: { 'maDoiTac': maDoiTac },
            success: function (data) {
                $('#ddlSanPhamVay').empty();
                $('#ddlSanPhamVay').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.DSSanPham, function (index, optionData) {
                        $('#ddlSanPhamVay').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlSanPhamVay').val(sanPhamVay);
                $('#ddlSanPhamVay').chosen().trigger("chosen:updated");

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
         });
        var maTinh='@ViewBag.MaTinh';
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSTinh", "KhuVuc")',
            data: {},
            success: function (data) {
                $('#ddlTinh').empty();
                $('#ddlTinh').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.DSTinh, function (index, optionData) {
                        $('#ddlTinh').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlTinh').val(maTinh);
                $('#ddlTinh').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
        var maHuyen=hosoInfo.MaKhuVuc;
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSHuyen", "KhuVuc")',
            data: {'maTinh':maTinh},
            success: function (data) {
                $('#ddlHuyen').empty();
                $('#ddlHuyen').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.DSHuyen, function (index, optionData) {
                        $('#ddlHuyen').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlHuyen').val(maHuyen);
                $('#ddlHuyen').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
        var courierCode =hosoInfo.CourierCode;
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSCourier", "HoSo")',
            data: {},
            success: function (data) {
                $('#ddlCourier').empty();
                $('#ddlCourier').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.DSCourier, function (index, optionData) {
                        $('#ddlCourier').append("<option value='" + optionData.ID + "'>" + optionData.FullText + "</option>");
                    });
                }
                $('#ddlCourier').val(courierCode);
                $('#ddlCourier').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
        LayDSale(hosoInfo.HoSoCuaAi);

        $('#ddlDoiTac').on('change', function () {
            LayDSSanPham(this.value);
        });
        $('#ddlTinh').on('change', function () {
            LayDSHuyen(this.value);
        });
        $('#ddlInternalCode').on('change', function () {
             $('#txtTenNV').val( $('option:selected', this).attr('ten'));
        });
    });
</script>
<script>
    function LayDSale(maNV) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSSale", "HoSo")',
            data: { },
            success: function (data) {
                $('#ddlInternalCode').empty();
                $('#ddlInternalCode').append("<option value='0'></option>");
                var ten = '';
                if (data != null) {
                    $.each(data.DSSale, function (index, optionData) {
                        $('#ddlInternalCode').append("<option  ten='" + optionData.FullName + "' value='" + optionData.IDUser + "'>" + optionData.Code + "</option>");
                    });
                }
                $('#ddlInternalCode').val(maNV);
                $('#ddlInternalCode').trigger("change");
                $('#ddlInternalCode').chosen().trigger("chosen:updated");

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
</script>

<script>
    function LayDSTaiLieu(lstLoaiTaiLieu, lstTaiLieu) {
        if (lstLoaiTaiLieu != null) {
            var i=0;
            var htmlContent="";
            $.each(lstLoaiTaiLieu, function (index, optionData) {
                var result = $.grep(lstTaiLieu, function(e){ return e.MaLoai == optionData.ID; });
                if (result.length == 0) {
                    // not found
                } else if (result.length == 1) {
                    if(i<4)
                    {
                        htmlContent +="<div class='col-sm-3'>"
                        if (optionData.BatBuoc>0)
                            htmlContent += "<h5 style='padding: 0px;margin-top: -0px;' class=\"header green\">" + optionData.Ten + "</h5>";
                        else
                            htmlContent += "<h5 style='padding: 0px;margin-top: -0px;' class=\"header green\">" + optionData.Ten + "</h5>";
                        htmlContent += "<div class=\"file-loading\">";
                        htmlContent += "<input class='attachFile' key=" + optionData.ID + " id=\"fileCVUngTuyen_" + optionData.ID + "\" type=\"file\">";
                        htmlContent += "</div>";
                        htmlContent +="</div>";
                        i++;
                    }
                    if(i==4||index==lstTaiLieu.length-1)
                    {
                        i=0;
                        $('#tbDoc').append("<div class=\"form-group\">"+htmlContent+"</div>");
                        htmlContent="";
                    }
                }
            });
            var lstFile = $(".attachFile");
            $.each(lstFile, function (index, option) {
                _initialPreview=[];
                _initialPreviewConfig=[];
                if(lstTaiLieu!=null)
                {
                    var key=$(option).attr("key");
                    var result = $.grep(lstTaiLieu, function(e){ return e.MaLoai == key; });
                    if (result.length == 0) {
                        // not found
                    } else if (result.length == 1) {
                        // access the foo property using result[0].foo
                        var deleteURL = '@Url.Action("Delete", "HoSo")'+"?key="+key;
                        var _imgExts = ["jpg", "jpeg", "png", "pdf"];
                        var extn = result[0].LstFile[0].DuongDan.split('.').pop();
                        var isImg = isExtension(extn, _imgExts);
                        if(isImg)
                        {
                            if(extn.indexOf('pdf')>-1)
                            {
                                if(result[0].LstFile.length>0){
                                    _initialPreview.push(result[0].LstFile[0].DuongDan);
                                    _initialPreviewConfig.push({
                                        caption:result[0].LstFile[0].Ten,
                                        url:deleteURL,
                                        type:"pdf",
                                        width:"120px"
                                    });
                                }

                            }
                            else
                            {
                                if(result[0].LstFile.length>0){
                                    _initialPreview.push(result[0].LstFile[0].DuongDan);
                                    _initialPreviewConfig.push({
                                        caption:result[0].LstFile[0].Ten,
                                        url:deleteURL,
                                        width:"120px"
                                    });
                                }
                            }
                        }
                    } else {
                        // multiple items found
                    }
                }
                $(option).fileinput({
                    @*uploadUrl: '@Url.Action("UploadHoSo", "HoSo")' + "?key=" + $(option).attr("key"),*@
                    validateInitialCount: true,
                    maxFileSize: 25 * 1024,
                    msgSizeTooLarge: 'File "{name}" (<b>{size} KB</b>)'
                                    + 'exceeds maximum allowed upload size of <b>{25} MB</b>. '
                                    + 'Please retry your upload!',
                    allowedFileExtensions: [ 'png', 'jpg','pdf'],
                    initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
                    initialPreviewFileType: 'image',
                    overwriteInitial: false,
                    showUpload: false,
                    showUploadedThumbs:false,
                    uploadAsync: false,
                    showClose: false,
                    showCaption: false,
                    showBrowse: false,
                    showUpload: false, // hide upload button
                    showRemove: false, // hide remove button
                    browseOnZoneClick: true,
                    removeLabel: '',
                    dropZoneTitle: 'Kéo và thả tập tin vào đây',
                    dropZoneClickTitle:'<br>(hoặc nhấp để chọn)',
                    removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
                    removeTitle: 'Cancel or reset changes',
                    elErrorContainer: '#kv-avatar-errors-2',
                    msgErrorClass: 'alert alert-block alert-danger',
                    //layoutTemplates: { main2: '{preview} ' + btnCust + ' {remove} {browse}' },
                    //layoutTemplates: { footer: '' },
                    initialPreview:_initialPreview,
                    initialPreviewDownloadUrl:_initialPreview,
                    initialPreviewConfig:_initialPreviewConfig,
                    fileActionSettings: {
                        showDownload:true,
                        showRemove: false,
                        showUpload: true,
                        showZoom: true,
                        showDrag: false},
                    append: true

                }).on("filebatchselected", function (event, files) {
                    $(option).fileinput("upload");
                });
                $(option).on('filesuccessremove', function (event, key, jqXHR, data) {
                    console.log('Key = ' + key);
                    //alert(1);
                })


            });

        }
    }
</script>