﻿@using VS_LOAN.Core.Web.Resources;
@{
    ViewBag.Title = "Quản lý mã APP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model String









<script type="text/javascript">
    SetActiveMenu('@ViewBag.formindex', 2);
</script>
<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-caret-right"></i>
                <a href="#">Quản lý mã APP</a>
            </li>
        </ul>
    </div>
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày <span class="required">(*)</span> </label>
                        <div class="col-sm-2 col-xs-12">
                            <div class="input-group">
                                <input class="form-control date-picker" id="txtCreateDate" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Mã APP <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtMa" placeholder="Nhập mã app" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr />
                <div class="pull-right">
                    <a class="btn btn-sm btn-primary" id="btn_Save">
                        <i class="ace-icon glyphicon glyphicon-plus"></i>
                        Thêm
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <div class="table-header">
                    Danh sách mã APP
                </div>
                <!-- div.table-responsive -->
                <!-- div.dataTables_borderWrap -->
                <div>
                    <table id="dtSource" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                            <tr>
                                <th style="width: 50px" class="center">STT</th>
                                <th style="width: 250px">Mã</th>
                                <th>Người tạo</th>
                                <th style="width: 100px">Thao tác</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>
<script>
    var strLoading = '@Global.Message_Loading';
    $(document).ready(function e() {
        $('#txtCreateDate').datepicker({
            dateFormat: 'dd-mm-yy',
            onSelect: function (datesel) {
                $('#txtCreateDate').trigger('change');
            }
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        $("#txtCreateDate").datepicker({ dateFormat: 'yy/mm/dd' }).datepicker("setDate", new Date().getDay + 0);

        InitTable();
    });
</script>
<script>
    function InitTable() {
        showBlock($('#panel_body'), strLoading);
        var table = $('#dtSource').DataTable({
            ajax: {
                url: '@Url.Action("LayDS", "SanPhamVay")'
                    , dataSrc: '',
                type: "GET",
                contentType: "application/json",
                data: function (d) {
                    d.ngay = $('#txtCreateDate').val();
                },
                error: function (jqXHR, exception) {
                    showError(jqXHR, exception);
                },
                complete: function () {
                    $('#panel_body').unblock();
                }
            },
            columns: [
                {
                    data: null,
                    bSortable: false,
                    searchable: false
                   , orderable: false
                   , targets: 0
                   , className: "ColumnCenterClassName",
                    sClass: 'text-center'
                }
                ,
               {// Company Name
                   data: null,
                   bSortable: false,
                   "render": function (data, type, full, meta) {
                       return data.Ma;
                   },
                   className: 'text-left'
               }
               ,
               {// Company Name
                   data: null,
                   bSortable: false,
                   "render": function (data, type, full, meta) {
                       return data.NguoiTao;
                   },
                   className: 'text-left'
               }
                , {// Thao tác
                    data: null,
                    bSortable: false,
                    "render": function (data, type, full, meta) {
                        var thaoTac = "";
                        thaoTac += "<div class='action-buttons'>";
                        thaoTac += "<a title='@Global.Button_Delete' class=\"red\" style='cursor: pointer' id='" + data.ID + "' onClick='Xoa(this)'>";
                        thaoTac += "<i class=\"ace-icon fa fa-trash bigger-130\">";
                        thaoTac += "</i>";
                        thaoTac += "</a>";
                        thaoTac += "</div>";
                        return thaoTac;
                    }
                    , sClass: 'text-center'
                }

            ],
            "aaSorting": []
            //, order: [0, 'asc']
                , language: {
                    lengthMenu: '@Html.Raw(Global.Table_LengthMenu)'
                    , info: '@Html.Raw(Global.Table_Info)'
                    , infoEmpty: '@Html.Raw(Global.Table_InfoEmpty)'
                    , zeroRecords: "@Html.Raw(Global.Table_ZeroRecords)"
                    , search: '@Html.Raw(Global.Table_Search)'
                    , decimal: ","
                    , thousands: "."
                    , paginate: {
                        first: "@Html.Raw(Global.Table_Paginate_First)",
                        last: "@Html.Raw(Global.Table_Paginate_Last)",
                        next: "@Html.Raw(Global.Table_Paginate_Next)",
                        previous: '@Html.Raw(Global.Table_Paginate_Previous)'
                    }
                },
            "fnInitComplete": function () {
                $("#dtSource").css("width", "100%");
                $('#dtSource').DataTable().columns.adjust().draw();
            }
        });

        //Thứ tự bảng dữ liệu
        table.on('order.dt search.dt', function () {
            table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        //$('#dtSource tbody').on('click', 'tr', function () {
        //    var data = table.row(this).data();
        //    alert('You clicked on ' + data.ID);
        //});
    }
</script>
<script>
    $('#txtCreateDate').change(function() {
        showBlock($('#panel_body'), strLoading);
        $('#dtSource').DataTable().ajax.reload();
        $('#dtSource').DataTable().columns.adjust().draw();
    });
</script>
<script>
    $('#btn_Save').click(function (e) {
        if ($('#txtCreateDate').val() == '') {
            swal({
                title: "",
                text: "Vui lòng chọn ngày!",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }
        if ($('#txtMa').val() == '') {
            swal({
                title: "",
                text: "Vui lòng nhập mã sản phẩm!",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }
        showBlock($('#panel_body'), strLoading);
        var objectSend = JSON.stringify({ 'ma': $('#txtMa').val(), 'ngay': $('#txtCreateDate').val() });
        $.ajax({
            traditional: true,
            url: '@Url.Action("ThemMoi", "SanPhamVay")',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: objectSend,
            success: function (data) {
                if (data.success == true) {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: "Thành công",
                        type: "success",
                        timer: 4000,
                        showConfirmButton: true,
                    }, function () {
                        showBlock($('#panel_body'), strLoading);
                        $('#dtSource').DataTable().ajax.reload();
                        $('#dtSource').DataTable().columns.adjust().draw();
                    });
                }
                else {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: data.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {
                $('#panel_body').unblock();
            },
        });
    });
</script>
<script>
    function Xoa(e) {
        var element = $(e);
        swal({
            title: "@Html.Raw(Global.DialogConfirmYesNo)",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "@Html.Raw(Global.DialogConfirmYes)",
            cancelButtonText: "@Html.Raw(Global.DialogConfirmNo)",
            closeOnConfirm: false
        }, function () {
            var id = element.attr("id");
            showBlock($('#panel_body'), strLoading);
            var objectSend = JSON.stringify({ 'id': id });
            $.ajax({
                url: '/SanPhamVay/Xoa',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                processData: false,
                data: objectSend,
                success: function (data) {
                    if (data.success == true) {
                        swal({
                            title: "",
                            text: "Xóa thành công",
                            type: "success",
                            timer: 4000,
                            showConfirmButton: true,
                        });
                    }
                    else {
                        swal({
                            title: "",
                            text: data.code,
                            type: "error",
                            timer: 4000,
                            showConfirmButton: true,
                        });
                        return;
                    }
                },
                error: function (jqXHR, exception) {
                    showError(jqXHR, exception);
                },
                complete: function () {
                    $('#dtSource').DataTable().ajax.reload();
                    $('#dtSource').DataTable().columns.adjust().draw();
                    $('#panel_body').unblock();
                },
            });
        }
        );
    }
</script>