﻿@using VS_LOAN.Core.Web.Resources;
@{
    ViewBag.Title = Global.Home_Index_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}









<script type="text/javascript">
    SetActiveMenu('@ViewBag.formindex', 2);
</script>
<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="/QuanLyHoSo/DanhSachHoSo">Danh sách hồ sơ</a>
            </li>

            <li class="active">
                Chi tiết hồ sơ
            </li>
        </ul>
    </div>
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="header lighter orange"><i class="ace-icon fa fa-bell"></i>Trình trạng hồ sơ</h4>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Trạng thái</label>
                        <div class="col-sm-4">
                            <input type="text" disabled id="txtTrangThai" class="form-control" />
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Kết quả hoạt động</label>
                        <div class="col-sm-4">
                            <input type="text" disabled id="txtKetQuaHoatDong" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Ghi chú</label>
                        <div class="col-sm-10">
                            <textarea disabled class="form-control limited" id="txtGhiChu" maxlength="50"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">1.Thông tin khách hàng:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Họ và tên</label>
                        <div class="col-sm-4">
                            <input type="text" disabled id="txtHoTen" placeholder="Nhập họ tên" class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày nhận đơn đề nghị</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control date-picker" disabled id="txtToDate" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Điện thoại khách hàng</label>
                        <div class="col-sm-4">
                            <input type="text" disabled id="txtDienThoai" placeholder="Nhập số điện thoại khách hàng" class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Điện thoại nhân viên</label>
                        <div class="col-sm-4">
                            <input type="text" disabled id="txtDienThoai2" placeholder="Nhập số điện thoại nhân viên" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số CMND</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtCMND" disabled placeholder="Nhập số CMND" class="form-control" />
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Giới tính</label>
                        <div class="col-sm-4">
                            <select id="ddlGioiTinh" disabled class="chosen-select form-control">
                                <option value="1">Nam</option>
                                <option value="2">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Sale Code</label>
                        <div class="col-sm-4">
                            <select id="ddlInternalCode" disabled class="chosen-select form-control" data-placeholder="Chọn Sale code">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên nhân viên</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtTenNV" disabled data-toggle-tt="tooltip" placeholder="Tên nhân viên" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Tỉnh/TP</label>
                        <div class="col-sm-4">
                            <select id="ddlTinh" disabled class="chosen-select form-control" data-placeholder="Chọn tỉnh thành phố">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Quận/huyện</label>
                        <div class="col-sm-4">
                            <select id="ddlHuyen" disabled class="chosen-select form-control" data-placeholder="Chọn quận huyện">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Địa chỉ</label>
                        <div class="col-sm-10">
                            <textarea type="text" disabled id="txtDiaChi" placeholder="Nhập địa chỉ" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Data Entry Code</label>
                        <div class="col-sm-4">
                            <select id="ddlCourier" disabled class="chosen-select form-control" data-placeholder="Chọn Data Entry code">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">2.Thông tin khoản vay và sản phẩm:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Tên ngân hàng</label>
                        <div class="col-sm-4">
                            <select id="ddlDoiTac" disabled class="chosen-select form-control" data-placeholder="Chọn đối tác">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Sản phẩm vay</label>
                        <div class="col-sm-4">
                            <select id="ddlSanPhamVay" disabled class="chosen-select form-control" data-placeholder="Chọn sản phẩm vay">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4  col-md-offset-2">
                            <div class="checkbox">
                                <label>
                                    <input disabled name="form-field-checkbox" id="cbbaohiem" checked type="checkbox" class="ace">
                                    <span class="lbl">Không đề nghị mua bảo hiểm dư TD cá nhân</span>
                                </label>
                            </div>
                        </div>
                        <label style="display:none" for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên cửa hàng</label>
                        <div style="display:none" class="col-sm-4">
                            <input type="text" disabled id="txtTenCuaHang" placeholder="Nhập tên của hàng" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số tiền đề nghị vay</label>
                        <div class="col-sm-4">
                            <input type="text" disabled id="txtTienDeNghiVay" placeholder="Nhập số tiền đề nghị vay" class="form-control">
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Thời hạn vay</label>
                        <div class="col-sm-4">
                            <input type="text" disabled id="spnThoiHanVay" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">3.Hồ sơ đính kèm:</h3>
                <div class="row">
                    <div class="col-xs-12" style="overflow-y: scroll;max-height:400px;">
                        <form class="form-horizontal" role="form" id="lstTailieu"></form>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
                <div class="pull-right">
                    <a href="/QuanLyHoSo/DanhSachHoSo/?fromdate=@Request.Params["fromdate"]&todate=@Request.Params["todate"]&mahs=@Request.Params["mahs"]" title="@Global.Button_Return" class="btn btn-sm btn-primary on-top-return"><i class="ace-icon glyphicon glyphicon-backward"></i>Trở về</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var strLoading = '@Global.Message_Loading';
    var hoso = @Html.Raw(Json.Encode(ViewBag.HoSo));
    $(document).ready(function () {
        $('.chosen-select').chosen({ width: '100%', allow_single_deselect: true });
        $('#ddlSanPhamVay').chosen({ width: '100%', allow_single_deselect: true });
        $('#ddlHuyen').chosen({ width: '100%', allow_single_deselect: true });
        $('#ddlTinh').chosen({ width: '100%', allow_single_deselect: true });
        $('#txtToDate').datepicker({
            dateFormat: 'dd-mm-yy'

        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        if (hoso != null) {
            hoSoID = hoso.ID;
            $('#txtHoTen').val(hoso.TenKhachHang);
            $('#txtDienThoai').val(hoso.SDT);
            $('#txtDienThoai2').val(hoso.SDT2);
            $('#txtToDate').val(SetFormatDateTimeDMY(hoso.NgayNhanDon));
            $('#txtCMND').val(hoso.CMND);
            $('#txtDiaChi').val(hoso.DiaChi);
            $('#txtTenCuaHang').val(hoso.TenCuaHang);
            $('#txtTienDeNghiVay').val(formatCurrency(hoso.SoTienVay.toString()));
            $('#spnThoiHanVay').val(hoso.HanVay);
            if (hoso.CoBaoHiem > 0)
                $('#cbbaohiem').attr('checked', false);
            else
                $('#cbbaohiem').attr('checked', true);
            $('#txtGhiChu').val(hoso.GhiChu);
            $('#txtTrangThai').val(hoso.TenTrangThai);
            $('#txtKetQuaHoatDong').val(hoso.KetQuaText);

        }

        LayDSTaiLieu();
        var maDoiTac='@ViewBag.MaDoiTac';
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSDoiTac", "HoSo")',
            data: {},
            success: function (data) {
                $('#ddlDoiTac').empty();
                $('#ddlDoiTac').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlDoiTac').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlDoiTac').val(maDoiTac);
                $('#ddlDoiTac').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
        var sanPhamVay=hoso.SanPhamVay;
         $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSSanPhamByHS", "HoSo")',
             data: { 'maDoiTac': maDoiTac,'maHS':hoSoID },
            success: function (data) {
                $('#ddlSanPhamVay').empty();
                $('#ddlSanPhamVay').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlSanPhamVay').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlSanPhamVay').val(sanPhamVay);
                $('#ddlSanPhamVay').chosen().trigger("chosen:updated");

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
         });
        var maTinh='@ViewBag.MaTinh';
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSTinh", "KhuVuc")',
            data: {},
            success: function (data) {
                $('#ddlTinh').empty();
                $('#ddlTinh').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlTinh').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlTinh').val(maTinh);
                $('#ddlTinh').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
        var maHuyen=hoso.MaKhuVuc;
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSHuyen", "KhuVuc")',
            data: {'maTinh':maTinh},
            success: function (data) {
                $('#ddlHuyen').empty();
                $('#ddlHuyen').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlHuyen').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlHuyen').val(maHuyen);
                $('#ddlHuyen').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
        var courierCode =hoso.CourierCode;
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSCourier", "HoSo")',
            data: {},
            success: function (data) {
                $('#ddlCourier').empty();
                $('#ddlCourier').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlCourier').append("<option value='" + optionData.ID + "'>" + optionData.FullText + "</option>");
                    });
                }
                $('#ddlCourier').val(courierCode);
                $('#ddlCourier').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
        LayDSale(hoso.HoSoCuaAi);

        $('#ddlDoiTac').on('change', function () {
            LayDSSanPham(this.value);
        });
        $('#ddlTinh').on('change', function () {
            LayDSHuyen(this.value);
        });
        $('#ddlInternalCode').on('change', function () {
             $('#txtTenNV').val( $('option:selected', this).attr('ten'));
        });

    });

    function LayDSale(maNV) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSSale", "HoSo")',
            data: { },
            success: function (data) {
                $('#ddlInternalCode').empty();
                $('#ddlInternalCode').append("<option value='0'></option>");
                var ten = '';
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlInternalCode').append("<option  ten='" + optionData.FullName + "' value='" + optionData.IDUser + "'>" + optionData.Code + "</option>");
                    });
                }
                $('#ddlInternalCode').val(maNV);
                $('#ddlInternalCode').trigger("change");
                $('#ddlInternalCode').chosen().trigger("chosen:updated");

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

  
    function LayDSTaiLieu() {
        $.ajax({
            type: "GET",
            url: "/hoso/tailieubyhoso?hosoId=" + hoso.ID,
            success: function (data) {
                if (data.success == true && data.data != null)
                {
                    
                    var i = 0;
                    var content = "";
                    let keys = [];
                    
                    $.each(data.data, function (index, item) {
                       
                        $("#lstTailieu").append("<div class='form-group'><div id='tailieu-" + item.Key + "'></div></div > ");
                        var _imgExts = ["jpg", "jpeg", "png", "pdf"];
                        var extn = item.FileUrl.split('.').pop();
                        var isImg = isExtension(extn, _imgExts);
                        let _initialPreview = [];
                        let _initialPreviewConfig = [];
                        if (isImg) {
                            _initialPreview.push(item.FileUrl);
                            _initialPreviewConfig.push({
                                caption: item.FileName,
                                url: "dsd",
                                type: extn.indexOf('pdf') > -1 ? "pdf" : "jpg",
                                width: "120px"
                            });
                        }
                        let name =  '',
                            isrequire = false,
                            className =''
                        if (keys.indexOf(item.Key) < 0) {
                            name = item.KeyName;
                            isrequire = true
                        }
                        else {
                            className = 'mt-46'
                        }

                        renderOneItemFile(item.Key, item.FileId, name, isrequire, className, true, _initialPreview, _initialPreviewConfig);
                        keys.push(item.Key)
                    });
                }

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
</script>