﻿@using VS_LOAN.Core.Web.Resources;
@{
    ViewBag.Title = Global.Home_Index_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}









<script type="text/javascript">
    SetActiveMenu('@ViewBag.formindex', 2);
</script>

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="/HoSo/Index">Hồ sơ của tôi</a>
            </li>

            <li class="active">
                Chỉnh sửa hồ sơ
            </li>
        </ul>
    </div>
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">1.Thông tin khách hàng:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Họ và tên <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtHoTen" placeholder="Nhập họ tên" class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày nhận đơn đề nghị<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control date-picker" id="txtToDate" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày tháng năm sinh<span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control date-picker" id="txtBirhDay" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>

                        <div class="col-sm-4">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Điện thoại khách hàng <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtDienThoai" placeholder="Nhập số điện thoại khách hàng" class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Điện thoại nhân viên</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtDienThoai2" placeholder="Nhập số điện thoại nhân viên" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số CMND/CCCD<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="txtCMND" placeholder="Nhập số CMND" class="form-control" />
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Ngày cấp CMND/CCCD<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control date-picker" id="txtCmndDay" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Giới tính</label>
                        <div class="col-sm-4">
                            <select id="ddlGioiTinh" class="chosen-select form-control">
                                <option value="1">Nam</option>
                                <option value="2">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Tỉnh/TP<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlTinh" class="chosen-select form-control" data-placeholder="Chọn tỉnh thành phố">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Quận/huyện<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlHuyen" class="chosen-select form-control" data-placeholder="Chọn quận huyện">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Địa chỉ<span class="required">(*)</span></label>
                        <div class="col-sm-10">
                            <textarea type="text" id="txtDiaChi" placeholder="Nhập địa chỉ" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Sale code</label>
                        <div class="col-sm-4">
                            <select id="ddlInternalCode" class="chosen-select form-control" data-placeholder="Chọn sale code">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên nhân viên</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtTenNV" data-toggle-tt="tooltip" placeholder="Tên nhân viên" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Data Entry code</label>
                        <div class="col-sm-4">
                            <select id="ddlCourier" class="chosen-select form-control" data-placeholder="Chọn Data Entry code">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">2.Thông tin khoản vay và sản phẩm:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Tên ngân hàng<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlDoiTac" class="chosen-select form-control" data-placeholder="Chọn đối tác">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Sản phẩm vay<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlSanPhamVay" class="chosen-select form-control" data-placeholder="Chọn sản phẩm vay">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4  col-md-offset-2">
                            <div class="checkbox">
                                <label>
                                    <input name="form-field-checkbox" id="cbbaohiem" checked type="checkbox" class="ace">
                                    <span class="lbl">Không đề nghị mua bảo hiểm dư TD cá nhân</span>
                                </label>
                            </div>
                        </div>
                        <label style="display:none" for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên cửa hàng<span class="required">(*)</span></label>
                        <div style="display:none" class="col-sm-4">
                            <input type="text" id="txtTenCuaHang" placeholder="Nhập tên của hàng" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số tiền đề nghị vay<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="txtTienDeNghiVay" placeholder="Nhập số tiền đề nghị vay" class="form-control">
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Thời hạn vay</label>
                        <div class="col-sm-4">
                            <input type="text" id="spnThoiHanVay" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">3.Hồ sơ đính kèm:</h3>
                <div class="row">
                    <div class="col-xs-12" style="overflow-y: scroll;max-height:400px;">
                        <form class="form-horizontal" role="form" id="lstTailieu"></form>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4 class="header lighter orange"><i class="ace-icon fa fa-bell"></i>Tình trạng hồ sơ</h4>
                <form class="form-horizontal">
                    @if (VS_LOAN.Core.Web.Helpers.GlobalData.User.UserType != (int)VS_LOAN.Core.Entity.UserTypeEnum.Sale)
                    {<div class="form-group">
                            <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Trạng thái</label>
                            <div class="col-sm-5 col-xs-12 ">
                                <select id="ddlTrangThai" class="chosen-select form-control" data-placeholder="Chọn trạng thái">
                                    <option value="0"></option>
                                </select>
                            </div>

                        </div>
                    }
                    <div class="form-group">
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Ghi chú</label>
                        <div class="col-md-11 col-sm-12 col-xs-12">
                            <textarea class="form-control" id="txtGhiChu" style="margin: 0px -4.5px 0px 0px; height: 50px;" placeholder="Nhập ghi chú"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8 activity-log">
                                <div class="timline-addNote only-new-note">
                                    <div class="timeline-date-event timline-date-event--margin mt-0" id="dsGhichu">


                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="pull-right">
                                    @if ((ViewBag.HoSo.MaTrangThai == ((int)VS_LOAN.Core.Entity.TrangThaiHoSo.Nhap)
                                        || ViewBag.HoSo.MaTrangThai == ((int)VS_LOAN.Core.Entity.TrangThaiHoSo.TuChoi)
                                        || ViewBag.HoSo.MaTrangThai == ((int)VS_LOAN.Core.Entity.TrangThaiHoSo.BoSungHoSo))
                                        && VS_LOAN.Core.Web.Helpers.GlobalData.User.UserType == (int)VS_LOAN.Core.Entity.UserTypeEnum.Admin)
                                    {
                                        <a class="btn btn-sm btn-primary" id="btn_Temp">
                                            Lưu tạm
                                        </a>
                                        <a class="btn btn-sm btn-primary" id="btn_Save">
                                            Cập nhật
                                        </a>
                                    }
                                    else if ((ViewBag.HoSo.MaTrangThai == ((int)VS_LOAN.Core.Entity.TrangThaiHoSo.NhapLieu)
                                    || ViewBag.HoSo.MaTrangThai == ((int)VS_LOAN.Core.Entity.TrangThaiHoSo.BoSungHoSo))
                                    && VS_LOAN.Core.Web.Helpers.GlobalData.User.UserType == (int)VS_LOAN.Core.Entity.UserTypeEnum.Teamlead)
                                    {
                                        <a class="btn btn-sm btn-primary" id="btn_Temp">
                                            Lưu tạm
                                        </a>
                                        <a class="btn btn-sm btn-primary" id="btn_Save">
                                            Cập nhật
                                        </a>
                                    }
                                    else if ((ViewBag.HoSo.MaTrangThai == ((int)VS_LOAN.Core.Entity.TrangThaiHoSo.BoSungHoSo))
                                    && VS_LOAN.Core.Web.Helpers.GlobalData.User.UserType == (int)VS_LOAN.Core.Entity.UserTypeEnum.Sale)
                                    {
                                        <a class="btn btn-sm btn-primary" id="btn_Temp">
                                            Lưu tạm
                                        </a>
                                        <a class="btn btn-sm btn-primary" id="btn_Save">
                                            Cập nhật
                                        </a>
                                    }
                                    else if (ViewBag.HoSo.MaTrangThai == (int)VS_LOAN.Core.Entity.TrangThaiHoSo.Nhap)
                                    {
                                        <a class="btn btn-sm btn-primary" id="btn_Save">
                                            Nộp hồ sơ
                                        </a>
                                    }
                                    <a class="btn btn-sm btn-primary" href="/QuanLyHoSo/DanhSachHoSo" id="btn_Back">
                                        Trở về
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="clear-fix" />
                    <hr />


                </form>

            </div>

        </div>

    </div>

    <script>
        var fileRequireIds = [];
        var hoso = @Html.Raw(Json.Encode(ViewBag.HoSo));
        $(document).ready(function () {
            $('#ddlSanPhamVay').chosen({ width: '100%', allow_single_deselect: true });
            $('#ddlHuyen').chosen({ width: '100%', allow_single_deselect: true });
            $('#ddlCourier').chosen({ width: '100%', allow_single_deselect: true });
            $('#ddlTinh').chosen({ width: '100%', allow_single_deselect: true });
            $('#txtToDate').datepicker({
                dateFormat: 'dd-mm-yy'

            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });
            $("#txtToDate").datepicker({ dateFormat: 'yy/mm/dd' }).datepicker("setDate", new Date().getDay + 0);
            $('#txtBirhDay').datepicker({
                dateFormat: 'dd-mm-yy'

            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });
            //$("#txtBirhDay").datepicker({ dateFormat: 'yy/mm/dd' }).datepicker("setDate", new Date().getDay + 0);
            $('#txtCmndDay').datepicker({
                dateFormat: 'dd-mm-yy'

            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

        if(hoso!=null)
        {
            hoSoID=hoso.ID;
            $('#txtHoTen').val(hoso.TenKhachHang);
            $('#txtDienThoai').val(hoso.SDT);
            $('#txtDienThoai2').val(hoso.SDT2);
            $('#txtToDate').val(SetFormatDateTimeDMY(hoso.NgayNhanDon));
            $('#txtCMND').val(hoso.CMND);
            $('#txtDiaChi').val(hoso.DiaChi);
            $('#txtTenCuaHang').val(hoso.TenCuaHang);
            $('#txtTienDeNghiVay').val(formatCurrency(hoso.SoTienVay.toString()));
            $('#spnThoiHanVay').val(hoso.HanVay);
            $('#txtBirhDay').val(SetFormatDateTimeDMY(hoso.BirthDay));
            $('#txtCmndDay').val(SetFormatDateTimeDMY(hoso.CmndDay));
            if(hoso.CoBaoHiem>0)
                $('#cbbaohiem').attr('checked', false);
            else
                $('#cbbaohiem').attr('checked', true);

        }
        LayDSTaiLieu2();
        var maDoiTac='@ViewBag.MaDoiTac';
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSDoiTac", "HoSo")',
            data: {},
            success: function (data) {
                $('#ddlDoiTac').empty();
                $('#ddlDoiTac').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlDoiTac').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlDoiTac').val(maDoiTac);
                $('#ddlDoiTac').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
        var sanPhamVay=hoso.SanPhamVay;
         $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSSanPhamByHS", "HoSo")',
             data: { 'maDoiTac': maDoiTac,'maHS':hoSoID },
            success: function (data) {
                $('#ddlSanPhamVay').empty();
                $('#ddlSanPhamVay').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlSanPhamVay').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlSanPhamVay').val(sanPhamVay);
                $('#ddlSanPhamVay').chosen().trigger("chosen:updated");

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
         });
        var maTinh='@ViewBag.MaTinh';
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSTinh", "KhuVuc")',
            data: {},
            success: function (data) {
                $('#ddlTinh').empty();
                $('#ddlTinh').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlTinh').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlTinh').val(maTinh);
                $('#ddlTinh').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
        var maHuyen=hoso.MaKhuVuc;
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSHuyen", "KhuVuc")',
            data: {'maTinh':maTinh},
            success: function (data) {
                $('#ddlHuyen').empty();
                $('#ddlHuyen').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlHuyen').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlHuyen').val(maHuyen);
                $('#ddlHuyen').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
        var courierCode =hoso.CourierCode;
       $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSCourier", "HoSo")',
            data: {},
            success: function (data) {
                $('#ddlCourier').empty();
                $('#ddlCourier').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlCourier').append("<option value='" + optionData.ID + "'>" + optionData.FullText + "</option>");
                    });
                }
                $('#ddlCourier').val(courierCode);
                $('#ddlCourier').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
        LayDSale(hoso.HoSoCuaAi);

        $('#ddlDoiTac').on('change', function () {
            LayDSSanPham(this.value);
        });
        $('#ddlTinh').on('change', function () {
            LayDSHuyen(this.value);
        });
        $('#ddlInternalCode').on('change', function () {
             $('#txtTenNV').val( $('option:selected', this).attr('ten'));
        });
        LayTrangThai(hoso.MaTrangThai);
        LayDanhsachGhichu()
        });

        jQuery.fn.ForceNumericOnly =
            function () {
                return this.each(function () {
                    $(this).keydown(function (e) {
                        var key = e.charCode || e.keyCode || 0;
                        // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                        // home, end, period, and numpad decimal
                        return (
                            key == 8 ||
                            key == 9 ||
                            key == 13 ||
                            key == 46 ||
                            key == 110 ||
                            key == 190 ||
                            (key >= 35 && key <= 40) ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    });
                });
            };
        $("#txtDienThoai").ForceNumericOnly();
        $("#txtDienThoai2").ForceNumericOnly();
        $("#txtTienDeNghiVay").ForceNumericOnly();
        $("#txtCMND").ForceNumericOnly();
        $("#txtTienDeNghiVay").change(function () {
            $("#txtTienDeNghiVay").val(formatCurrency($("#txtTienDeNghiVay").val().replace(/\./g, '')));
        });


        $('#spnThoiHanVay').ace_spinner({ value: 0, min: 0, max: 36, step: 3, btn_up_class: 'btn-info', btn_down_class: 'btn-info' })
            .closest('.ace-spinner')
            .on('changed.fu.spinbox', function () {
                //alert($('#spinner1').val())
            });

     function LayDanhsachGhichu() {
        //$('#ddlTrangThai').empty();
        $.ajax({
            type: "POST",
            url: '/QuanLyHoSo/LayDSGhichu?id=' + hoso.ID,
            data: {},
            success: function (data) {
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, item) {
                        $('#dsGhichu').append(
                            '<div class="timeline-event-content  active">' +
                            '<div class="timeline-item">'+
                            '<div class="timeline-body">' +
                            '<div class="timeline__message-container">' +
                            '<strong>' + item.Commentator + ' (' + SetFormatDateTimeDMY(item.CommentTime) + '): </strong><span>' + item.Noidung + '</span>' +
                            '</div></div></div></div>'

                        )
                    });
                }

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
    function LayTrangThai(value) {
        $('#ddlTrangThai').empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSTrangThai", "QuanLyHoSo")',
            data: {},
            success: function (data) {
                $('#ddlTrangThai').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, item) {
                        $('#ddlTrangThai').append("<option value='" + item.ID + "'>" + item.Ten + "</option>");
                    });
                    $('#ddlTrangThai').val(value);
                    $('#ddlTrangThai').chosen().trigger("chosen:updated");
                }
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

    function LayDSHuyen(maTinh) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSHuyen", "KhuVuc")',
            data: {'maTinh':maTinh},
            success: function (data) {
                $('#ddlHuyen').empty();
                $('#ddlHuyen').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlHuyen').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlHuyen').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }



    function LayDSSanPham(maDoiTac) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSSanPhamByHS", "HoSo")',
            data: { 'maDoiTac': maDoiTac,'maHS':hoSoID },
            success: function (data) {
                $('#ddlSanPhamVay').empty();
                $('#ddlSanPhamVay').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlSanPhamVay').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlSanPhamVay').chosen().trigger("chosen:updated");

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

    function LayDSale(maNV) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSSale", "HoSo")',
            data: { },
            success: function (data) {
                $('#ddlInternalCode').empty();
                $('#ddlInternalCode').append("<option value='0'></option>");
                var ten = '';
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlInternalCode').append("<option  ten='" + optionData.FullName + "' value='" + optionData.IDUser + "'>" + optionData.Code + "</option>");
                    });
                }
                $('#ddlInternalCode').val(maNV);
                $('#ddlInternalCode').trigger("change");
                $('#ddlInternalCode').chosen().trigger("chosen:updated");

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

    $('#btn_Temp').click(function (e) {
        //if ($('#ddlTrangThai').val() == '0' || $('#ddlTrangThai').val() == undefined) {
        //    swal({
        //        title: "",
        //        text: "Vui lòng chọn trạng thái",
        //        type: "error",
        //        timer: 4000,
        //        showConfirmButton: true,
        //    });
        //    return;
        //}
        if ($('#txtHoTen').val() == "" || $('#txtHoTen').val() == undefined) {
            swal({
                title: "@Html.Raw(Global.Message_Title)",
                text: "Vui lòng nhập tên",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }
        if ($('#ddlDoiTac').val() == "0" || $('#ddlDoiTac').val() == undefined) {
            swal({
                title: "@Html.Raw(Global.Message_Title)",
                text: "Vui lòng chọn đối tác",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }
        if ($('#ddlSanPhamVay').val() == "0" || $('#ddlSanPhamVay').val() == undefined) {
            swal({
                title: "@Html.Raw(Global.Message_Title)",
                text: "Vui lòng chọn sản phẩm vay",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }
        var trangthai = ($('#ddlTrangThai').val() == '0' || $('#ddlTrangThai').val() == undefined || $('#ddlTrangThai').val() == null) ? 0 : parseInt($('#ddlTrangThai').val())
        var objectSend = JSON.stringify({
            'hoten': $('#txtHoTen').val(), 'phone': $('#txtDienThoai').val(),
            'phone2': $('#txtDienThoai2').val(), 'ngayNhanDon': $('#txtToDate').val(),
            'hoSoCuaAi': hoso.HoSoCuaAi, 'cmnd': $('#txtCMND').val(), 'gioiTinh': parseInt($('#ddlGioiTinh').val()),
            'maKhuVuc': parseInt($('#ddlHuyen').val()), 'diaChi': $('#txtDiaChi').val(), 'courier': parseInt($('#ddlCourier').val()),
            'sanPhamVay': parseInt($('#ddlSanPhamVay').val()), 'tenCuaHang': $('#txtTenCuaHang').val(),
            'baoHiem': $('#cbbaohiem').is(":checked"), 'thoiHanVay': parseInt($('#spnThoiHanVay').val()),
            'ghiChu': $('#txtGhiChu').val(), 'trangThai': trangthai,
            'soTienVay': $('#txtTienDeNghiVay').val().replace(/\./g, ''),
            'birthDayStr': $('#txtBirhDay').val(),
            'cmndDayStr': $('#txtCmndDay').val()
        });
        $.ajax({
            traditional: true,
            url: '@Url.Action("SaveDaft", "QuanLyHoSo")',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: objectSend,
            success: function (data) {
                if (data.success == true) {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: "Thành công",
                        type: "success",
                        timer: 4000,
                        showConfirmButton: true,
                    }, function () {
                        //window.location = window.location;
                            uploadHoso3(hoso.ID, true)
                    });
                }
                else {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: data.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {
                $('#panel_body').unblock();
            },
        });
    });

    $('#btn_Save').click(function (e) {
        if ($('#txtHoTen').val() == "" || $('#txtHoTen').val() == undefined) {
            swal({
                title: "@Html.Raw(Global.Message_Title)",
                text: "Vui lòng nhập tên",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }
        if ($('#ddlDoiTac').val() == "0" || $('#ddlDoiTac').val() == undefined) {
            swal({
                title: "@Html.Raw(Global.Message_Title)",
                text: "Vui lòng chọn đối tác",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }
        if ($('#ddlSanPhamVay').val() == "0" || $('#ddlSanPhamVay').val() == undefined) {
            swal({
                title: "@Html.Raw(Global.Message_Title)",
                text: "Vui lòng chọn sản phẩm vay",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }
        if ($('#txtDienThoai').val().length != 10)
        {
            swal({
                title: "@Html.Raw(Global.Message_Title)",
                text: "Số điện thoại di động phải đúng 10 số!",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }
        if ($('#txtDienThoai2').val().length > 0 && $('#txtDienThoai2').val().length != 10) {
            swal({
                title: "@Html.Raw(Global.Message_Title)",
                text: "Số điện thoại di động 2 phải đúng 10 số!",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }
        if ($('#txtCMND').val().length != 9 && $('#txtCMND').val().length != 12) {
            swal({
                title: "@Html.Raw(Global.Message_Title)",
                text: "Số CMND chỉ 9 hoặc 12 số!",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }
        swal({
            title: "@Html.Raw(Global.DialogConfirmYesNo)",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            cancelButtonText: "@Html.Raw(Global.DialogConfirmNo)",
            confirmButtonText: "@Html.Raw(Global.DialogConfirmYes)",
            closeOnConfirm: false

        },
            function () {
                        var trangthai = ($('#ddlTrangThai').val() == '0' || $('#ddlTrangThai').val() == undefined || $('#ddlTrangThai').val() == null) ? 0 : parseInt($('#ddlTrangThai').val())
        var objectSend = JSON.stringify({
            'hoten': $('#txtHoTen').val(), 'phone': $('#txtDienThoai').val(),
            'phone2': $('#txtDienThoai2').val(), 'ngayNhanDon': $('#txtToDate').val(),
            'hoSoCuaAi': hoso.HoSoCuaAi, 'cmnd': $('#txtCMND').val(), 'gioiTinh': parseInt($('#ddlGioiTinh').val()),
            'maKhuVuc': parseInt($('#ddlHuyen').val()), 'diaChi': $('#txtDiaChi').val(), 'courier':parseInt($('#ddlCourier').val()),
            'sanPhamVay': parseInt($('#ddlSanPhamVay').val()), 'tenCuaHang': $('#txtTenCuaHang').val(),
            'baoHiem': $('#cbbaohiem').is(":checked"), 'thoiHanVay': parseInt($('#spnThoiHanVay').val()),
            'ghiChu': $('#txtGhiChu').val(), 'trangThai': trangthai,
            'soTienVay': $('#txtTienDeNghiVay').val().replace(/\./g, ''),
            'birthDayStr': $('#txtBirhDay').val(),
            'cmndDayStr': $('#txtCmndDay').val(),
            'FileRequireIds': fileRequireIds
        });
        $.ajax({
            traditional: true,
            url: '@Url.Action("Save", "QuanLyHoSo")',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: objectSend,
            success: function (data) {
                if (data.success == true) {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: "Thành công",
                        type: "success",
                        timer: 4000,
                        showConfirmButton: true,
                    }, function () {
                            uploadHoso3(hoso.ID, true);
                    });
                }
                else {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: data.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {
                $('#panel_body').unblock();
            },
        });
            }
        )

    });
        var filesUpload = [];
      function uploadHoso3(hosoId, reloadOnSuccess = false) {
        if (isNullOrNoItem(filesUpload)) {
            if (reloadOnSuccess == true) {
                window.location = window.location;
            }
            return;
        }

            $.ajax({
                traditional: true,
                url: `/hoso/UploadToHoso?hosoId=${hosoId}&isReset=false`,
                type: "POST",
                contentType: "application/json;",
                dataType: 'json',
                data: JSON.stringify(filesUpload),
                success: function (data) {
                    if ( data.success == true) {

                        if (reloadOnSuccess == true) {
                            window.location = window.location;
                        }
                    }
                     else {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: data.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
               
                
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {
                $('#panel_body').unblock();
            },
            });
        }
        function LayDSTaiLieu2() {

            $.ajax({
                type: "GET",
                url: "/hoso/TailieuByHosoForEdit?hosoId=" + hoso.ID,
                success: function (data) {
                    if (data.success ==true && data.data != null) {
                        var i = 0;
                        var content = "";
                        let keys = [];
                        $.each(data.data, function (index, item) {


                            $("#lstTailieu").append("<div class='form-group'><div id='tailieu-" + item.ID + "'></div></div > ");
                            if (!isNullOrNoItem(item.Tailieus)) {
                                fileRequireIds.push(item.ID);
                                let _initialPreview = [];
                                let _initialPreviewConfig = [];
                                $.each(item.Tailieus, function (i, tailieu) {
                                    fileRequireIds.push(item.ID);
                                    _initialPreview = [];
                                    _initialPreviewConfig = [];
                                    var _imgExts = ["jpg", "jpeg", "png", "pdf"];
                                    var extn = tailieu.FileUrl.split('.').pop();
                                    var isImg = isExtension(extn, _imgExts);
                                    if (isImg) {
                                        _initialPreview.push(tailieu.FileUrl);
                                        _initialPreviewConfig.push({
                                            caption: tailieu.FileName,
                                            url: "/hoso/RemoveTailieuByHoso?hosoId=" + hoso.ID + "&fileId=" + tailieu.FileId,
                                            type: extn.indexOf('pdf') > -1 ? "pdf" : "jpg",
                                            width: "120px"
                                        });
                                    }
                                    let name = '',
                                        isrequire = false,
                                        className = ''
                                    if (keys.indexOf(tailieu.Key) < 0) {
                                        name = tailieu.KeyName;
                                        isrequire = true
                                    }
                                    else {
                                        className = 'mt-46'
                                    }
                                    renderOneItemFile(tailieu.Key, tailieu.FileId, name, isrequire, className, true, _initialPreview, _initialPreviewConfig, true, true, onUploadFile, onDeleteFile)

                                    keys.push(item.ID)
                                })
                                if (item.Tailieus.length < 5) {
                                    renderOneItemFile(item.ID, item.ID, '', false, 'mt-46', true, [], [], true, false, onUploadFile, onDeleteFile)
                                }

                            }
                            else {
                                renderOneItemFile(item.ID, item.ID, item.Ten, item.BatBuoc, '', true, [], [], true, false, onUploadFile, onDeleteFile)
                            }

                        });
                    }

                },
                complete: function () {
                },
                error: function (jqXHR, exception) {
                    showError(jqXHR, exception);
                }
            });;
            function onUploadFile(key, fileId, data, isExist) {
                if (isReach5Files(filesUpload, key))
                    return;
                let response = data;
                if (isNullOrNoItem(filesUpload)) {
                    filesUpload = []
                }

                fileRequireIds.push(key);
                if (isExist == false) {
                    let file = {
                        Key: parseInt(response.initialPreviewConfig[0].key),
                        FileName: response.initialPreviewConfig[0].caption,
                        FileUrl: response.initialPreview,
                        KeyName: "",
                        Id: fileId
                    }
                    let existKeyIndex = filesUpload.findIndex(p => p.key == key)
                    if (existKeyIndex < 0) {
                        filesUpload.push({ key: parseInt(key), files: [file] })
                    }
                    else {
                        if (filesUpload[existKeyIndex].files == null)
                            filesUpload[existKeyIndex].files = []
                        filesUpload[existKeyIndex].files.push(file);
                    }
                }

                if (isReach5Files(filesUpload, key) === false) {
                    let newAttachhFileId = getNewGuid();
                    renderOneItemFile(key, newAttachhFileId, '', false, 'mt-46', true, [], [], true, false, onUploadFile, onDeleteFile)
                }
            }
            function onDeleteFile(key, fileId, isExist) {

                let index = fileRequireIds.findIndex(p => p == key)
                fileRequireIds.splice(index, 1);
                removeFile(key, fileId);
            }
            function removeFile(key, fileId) {
                if (isNullOrNoItem(filesUpload))
                    return;
                let index = filesUpload.findIndex(p => p.key == key);
                if (index >= 0) {
                    if (!isNullOrNoItem(filesUpload[index].files)) {
                        let indexOfFile = filesUpload[index].files.findIndex(p => p.Id == fileId);
                        if (indexOfFile >= 0)
                            filesUpload[index].files.splice(indexOfFile, 1);
                    }
                }
            }

        }
    </script>
