﻿@using VS_LOAN.Core.Web.Resources;
@{
    ViewBag.Title = "";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Đăng nhập hệ thống kiểm duyệt hồ sơ @*Đăng nhập hệ thống hóa đơn điện tử*@</title>
    <link href="/favicon.ico" rel="shortcut icon" />
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link href="~/Content/ace-master/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/ace-master/assets/font-awesome/4.2.0/css/font-awesome.min.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="~/Content/ace-master/assets/fonts/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Content/ace-master/assets/css/ace.min.css" />

    <!--[if lte IE 9]>
			<link rel="stylesheet" href="~/Content/ace-master/assets/css/ace-part2.min.css" />
		<![endif]-->
    <link rel="stylesheet" href="~/Content/ace-master/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
		  <link rel="stylesheet" href="~/Content/ace-master/assets/css/ace-ie.min.css" />
		<![endif]-->

    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>









		<script src="~/Content/ace-master/assets/js/html5shiv.min.js"></script>
		<script src="~/Content/ace-master/assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- basic scripts -->

    <!--[if !IE]> -->
    <script src="~/Content/ace-master/assets/js/jquery.2.1.1.min.js"></script>
    <!-- <![endif]-->

    <!--[if IE]>
        <script src="~/Content/ace-master/assets/js/jquery.1.11.1.min.js"></script>
        <![endif]-->

    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/Content/ace-master/assets/js/jquery.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
        <script type="text/javascript">
         window.jQuery || document.write("<script src='~/Content/ace-master/assets/js/jquery1x.min.js'>"+"<"+"/script>");
        </script>
        <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Content/ace-master/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/Content/ace-master/assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <script src="~/Content/ace-master/assets/js/fuelux.wizard.min.js"></script>
    <script src="~/Content/ace-master/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/ace-master/assets/js/additional-methods.min.js"></script>
    <script src="~/Content/ace-master/assets/js/bootbox.min.js"></script>
    <script src="~/Content/ace-master/assets/js/jquery.maskedinput.min.js"></script>
    <script src="~/Content/ace-master/assets/js/select2.min.js"></script>

    <!-- ace scripts -->
    <script src="~/Content/ace-master/assets/js/ace-elements.min.js"></script>
    <script src="~/Content/ace-master/assets/js/ace.min.js"></script>
    <script src="~/Scripts/blockui-master/jquery.blockUI.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/returnerror.js"></script>
</head>
<body class="login-layout light-login">
    <div class="main-container" id="panel_body">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h2>
                                <span id="Login_Span_Header" class="red" style="font-size:17px; text-transform: uppercase; font-weight:bold">HỆ THỐNG KIỂM DUYỆT HỒ SƠ</span>
                            </h2>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header green lighter bigger">
                                            <i class="ace-icon fa fa-unlock"></i>
                                            Đăng nhập hệ thống
                                        </h4>

                                        <div class="space-6"></div>

                                        <form id="form_login" autocomplete="off">
                                            <div id="login_alert"></div>
                                            <div class="space-2"></div>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="text" id="userName" name="userName" class="form-control" placeholder="@Global.NhanVien_Login_UserName_Placeholder" @*Tên đăng nhập*@ data-val="true" data-val-required="Vui lòng nhập tên đăng nhập" value="@ViewBag.UserName" />
                                                    <i class="ace-icon fa fa-user"></i>
                                                </span>
                                                <span class="has-error" data-valmsg-for="userName" data-valmsg-replace="true"></span>
                                            </label>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="password" id="password" name="password" class="form-control" placeholder="@Global.NhanVien_Login_Password_Placeholder" @*Mật khẩu*@ data-val="true" data-val-required="Vui lòng nhập mật khẩu" value="@ViewBag.Password" />
                                                    <i class="ace-icon fa fa-lock"></i>
                                                </span>
                                                <span class="has-error" data-valmsg-for="password" data-valmsg-replace="true"></span>
                                            </label>
                                            <div class="space"></div>
                                            <div class="clearfix">
                                                <label class="inline">
                                                    @if ((bool)ViewBag.SaveAccount == true)
                                                    {
                                                        <input type="checkbox" class="ace" id="rememberMe" name="rememberMe" checked="checked" />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" class="ace" id="rememberMe" name="rememberMe" />
                                                    }
                                                    <span class="lbl">&nbsp;@Global.NhanVien_Login_Span_LTTDN@*Lưu thông tin đăng nhập*@</span>
                                                </label>

                                                <button type="button" id="btn_login" class="width-auto pull-right btn btn-sm btn-primary">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110">@Global.NhanVien_Login_Button_DN@*Đăng nhập*@</span>
                                                </button>
                                            </div>

                                            <div class="space-4"></div>
                                        </form>
                                    </div>
                                    <!-- /.widget-main -->

                                    <div class="toolbar clearfix">
                                    </div>
                                </div>
                                <!-- /.widget-body -->
                            </div>
                            <!-- /.login-box -->
                        </div>
                        <!-- /.position-relative -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.main-content -->
    </div>

    @*<script src="~/JSFunction/login.js"></script>*@
    <script>
        $("#userName").focus();
        $("#userName").keypress(function (e) {
            if (e.which == 13) {
                $("#password").focus();
            }
        });
        $("#password").keypress(function (e) {
            if (e.which == 13) {
                DoLogint(e);
            }
        });

        $('#btn_login').click(function (evt) {
            DoLogint(evt);
        });
        function addAlert(message) {
            $('#login_alert').empty();
            $('#login_alert').append(
                    '<div class="alert alert-danger">' +
                    '<button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>' +
                    '<strong><i class="ace-icon fa fa-exclamation-triangle bigger-120"></i></strong>' + message + '</div>');
        }

        function DoLogint(event) {
            if ($("#form_login").validate()) {
                showBlock($('#login-box'), strLoading);
                $.ajax({
                    type: "POST",
                    datatype: "JSON",
                    url: '/Employee/DangNhap',
                    data: $('#form_login').serialize(),
                    success: function (data) {
                        debugger
                        if (data.success == false) {
                            addAlert(data.code);
                            $("#userName").focus();
                        }
                        else {
                            window.location = data.data;
                        }
                    },
                    error: function (jqXHR, exception) {
                        showError(jqXHR, exception);
                        $('#login-box').unblock();
                    },
                    complete: function () {
                        $('#login-box').unblock();
                    },
                });

            }
        }
    </script>
    <script>
      var strLoading = '@Html.Raw(Global.Message_Loading)';
    </script>

</body>
</html>