﻿@using VS_LOAN.Core.Web.Resources;
@{
    ViewBag.Title = Global.Home_Index_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}









<script type="text/javascript">
    SetActiveMenu('@ViewBag.formindex', 2);
</script>
<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            @*<li>
                <a href="/HoSo/Index">Hồ sơ của tôi</a>
            </li>*@
            <li>
                <a href="#" class="active">Quản lý tổ nhóm</a>
            </li>
        </ul>
    </div>
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form">
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Nhóm</label>
                        <div class="col-sm-5 col-xs-12 ">
                            <select id="ddlNhomCha" class="chosen-select form-control" data-placeholder="Chọn nhóm">
                                <option value="0"></option>
                            </select>
                        </div>                        
                    </div>
                    <div class="space-4"></div>
                </form>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <div class="table-header">
                    Danh sách nhóm con
                </div>

                <!-- div.table-responsive -->
                <!-- div.dataTables_borderWrap -->
                <div>
                    <table id="dtSource" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 50px" class="center">STT</th>
                                <th>Tên</th>
                                <th style="width: 200px">Tên khác</th>
                                <th>Người quản lý</th>
                                <th style="width: 150px">Thao tác</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function e() {
        $('#ddlNhomCha').chosen({ width: '100%', allow_single_deselect: true });
    });
</script>
<script>
    var strLoading = '@Global.Message_Loading';    
</script>
<script type="text/javascript">
    $(document).ready(function () {
        LayNhom();
    });

    function InitTable() {
        showBlock($('#panel_body'), strLoading);
        var table = $('#dtSource').DataTable({
            //scrollX: true,
            //scrollCollapse: true,
            ajax: {
                url: '@Url.Action("LayDSToNhomCon", "ToNhom")'
                    , dataSrc: '',
                type: "GET",
                contentType: "application/json",
                data: function (d) {
                    d.maNhomCha = $('#ddlNhomCha').val();
                },
                error: function (jqXHR, exception) {
                    showError(jqXHR, exception);
                },
                complete: function () {
                    $('#panel_body').unblock();
                }
            },
            columns: [
                {
                    data: null,
                    bSortable: false,
                    searchable: false
                   , orderable: false
                   , targets: 0
                   , className: "ColumnCenterClassName",
                    sClass: 'text-center'
                }
                ,
               {// Company Name
                   data: null,
                   bSortable: false,
                   "render": function (data, type, full, meta) {
                       
                       return data.Ten;
                   },
                   className: 'hidden-480 text-left'
               }
                ,
               {// Customer Name
                   data: null,
                   bSortable: false,
                   "render": function (data, type, full, meta) {
                       return data.TenNgan;
                   },
                   className: 'hidden-480 text-left'
               }
                ,
                {//Bill Date
                    data: null,
                    bSortable: false,
                    type: 'date-eu',
                    "render": function (data, type, full, meta) {
                        return data.NguoiQuanLy;
                    },
                    className: 'hidden-480 text-left'
                }
                , {// Thao tác
                    data: null,
                    bSortable: false,
                     "render": function (data, type, full, meta) {
                        var thaoTac = "";
                        thaoTac += "<div class='action-buttons'>";
                        thaoTac += "<a title='@Global.Button_View' class=\"blue\" style='cursor: pointer' id='" + data.ID + `' href='/ToNhom/ChiTiet/${data.ID}'>`;
                        thaoTac += "<i class=\"ace-icon fa fa-eye bigger-130\">";
                        thaoTac += "</i>";
                        thaoTac += "</a>";
                        thaoTac += "<a title='@Global.Button_Edit' class=\"green\" style='cursor: pointer' id='" + data.ID + `' href='/ToNhom/Sua/${data.ID}'>`;
                        thaoTac += "<i class=\"ace-icon fa fa-pencil bigger-130\">";
                        thaoTac += "</i>";
                        thaoTac += "</a>";
                        thaoTac += "<a class =\"btnxoa\" title='Xóa' class=\"green\" style='cursor: pointer' id='" + data.ID +  `' onclick='deleteGroup(${data.ID})'>`;
                        thaoTac += "<i class=\"ace-icon fa fa-trash bigger-130\">";
                        thaoTac += "</i>";
                        thaoTac += "</a>";
                        thaoTac += "</a>";
                        thaoTac += "</div>";
                        return thaoTac;
                    }
                    , sClass: 'text-center'
                }

            ],
            "searching": false,
            "aaSorting": []
            //, order: [0, 'asc']
                , language: {
                    lengthMenu: '@Html.Raw(Global.Table_LengthMenu)'
                    , info: '@Html.Raw(Global.Table_Info)'
                    , infoEmpty: '@Html.Raw(Global.Table_InfoEmpty)'
                    , zeroRecords: "@Html.Raw(Global.Table_ZeroRecords)"
                    , search: '@Html.Raw(Global.Table_Search)'
                    , decimal: ","
                    , thousands: "."
                    , paginate: {
                        first: "@Html.Raw(Global.Table_Paginate_First)",
                        last: "@Html.Raw(Global.Table_Paginate_Last)",
                        next: "@Html.Raw(Global.Table_Paginate_Next)",
                        previous: '@Html.Raw(Global.Table_Paginate_Previous)'
                    }
                },
            "fnInitComplete": function () {
                $("#dtSource").css("width", "100%");
                $('#dtSource').DataTable().columns.adjust().draw();
            }
        });

        //Thứ tự bảng dữ liệu
        table.on('order.dt search.dt', function () {
            table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        //$('#dtSource tbody').on('click', 'tr', function () {
        //    var data = table.row(this).data();
        //    alert('You clicked on ' + data.ID);
        //});
    }
</script>
<script>
    function LayNhom() {
        $('#ddlNhomCha').empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSNhomCha", "ToNhom")',
            data: {},
            success: function (data) {
                $('#ddlNhomCha').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, item) {
                        $('#ddlNhomCha').append("<option value='" + item.ID + "'>" + item.Ten + "</option>");
                    });
                    $('#ddlNhomCha').chosen().trigger("chosen:updated");
                }
            },
            complete: function () {
                InitTable();
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

    $('#ddlNhomCha').change(function () {       
        $('#dtSource').DataTable().ajax.reload();
        $('#dtSource').DataTable().columns.adjust().draw();
    });

    function SuaToNhom(element) {
        var id = $(element).attr("ID");
        window.location = "/ToNhom/SuaToNhomByID/" + id;
    }

    function XemToNhom(element) {
        var id = $(element).attr("ID");
        window.location = "/ToNhom/XemToNhomByID/" + id;
    }



    

    
 function deleteGroup(element) {
	 
 

 swal({
    title: "Bạn muốn xóa",
    
    type: "warning",
    showCancelButton: true,
    confirmButtonColor: '#DD6B55',
    confirmButtonText: 'Xóa',
    cancelButtonText: "Quay lại",
    closeOnConfirm: false,
    closeOnCancel: false
 },
 function(isConfirm){

   if (isConfirm){
	   
	   
	   
		
		   var sendInfo = {
           Id:element
		};
   
        $.ajax({
            traditional: true,
            url: '/ToNhom/Xoa',
            type: "POST",
            contentType: "application/json;",
            dataType: 'json',
            data: JSON.stringify(sendInfo),
            success: function (data) {
                if (data.success == true ) {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: 'Đã xóa thành công',
                        type: "success",
                        timer: 4000,
                        showConfirmButton: true,
                    }, function () {
                        window.location = window.location
                    });

                }
                else {
                    swal({
                        title: "Lỗi",
                        text: data.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }

            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {
                $('#panel_body').unblock();
            },
        });
    

    } else {
      
	  swal.close();
         
    }
 });

  
	 
	 
    }
</script>