﻿@using VS_LOAN.Core.Web.Resources;
@using VS_LOAN.Core.Web.Helpers;
@{
    ViewBag.Title = "Hồ sơ thu nợ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

</script>
<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-caret-right"></i>
                <a href="#">Hồ sơ thu nợ</a>
            </li>
        </ul>
    </div>
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">1.Thông tin hồ sơ:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số hợp đồng <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtCustomerName" value="@ViewBag.model.AgreementNo" readonly class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày ký <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtAgreementDate" readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tiền thanh lý <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtLiquidationFee" value="@ViewBag.model.LiquidationFee" readonly class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Phí trễ hạn <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtLateFee" value="@ViewBag.model.LateFee" readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tổng nợ(gồm phí phạt) <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="TotalPayableAmount" readonly class="form-control">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Phí trả chậm ban đầu <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtInterestrateScheme" readonly class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Kỳ hạn thanh toán <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtInstallmentPeriod" readonly class="form-control">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">2.Thông tin khách hàng:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Họ và tên <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtCustomerName" placeholder="Nhập họ tên" value="@ViewBag.model.CustomerName" readonly class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số CMND <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtHometown" value="@ViewBag.model.IdCardNumber" readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày sinh<span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtHometown" value="@ViewBag.model.Bod" readonly class="form-control">
                        </div>

                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số điện thoại<span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtPhone" value="@ViewBag.model.MobilePhone" readonly class="form-control">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Giới tính<span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtHometown" value="@ViewBag.model.Gender" readonly class="form-control">
                        </div>



                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên công ty<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="txtIdNumber" value="@ViewBag.model.CompanyName" readonly class="form-control" />
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Chức vụ<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="txtCCCDNumber" value="@ViewBag.model.Department" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số điện thoại nhà<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="HomePhone" value="@ViewBag.model.HomePhone" readonly class="form-control" />
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số điện thoại công ty<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="CompanyPhone" value="@ViewBag.model.CompanyPhone" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Địa chỉ hộ khẩu</label>
                        <div class="col-sm-10">
                            <textarea type="text" id="PermanentAddress" readonly class="form-control">@ViewBag.model.PermanentAddress</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Địa chỉ làm việc</label>
                        <div class="col-sm-10">
                            <textarea type="text" id="WorkAddress" readonly class="form-control">@ViewBag.model.WorkAddress</textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ghi chú</label>
                        <div class="col-sm-10">
                            <textarea type="text" id="PermanentLastNote" readonly class="form-control">@ViewBag.model.LastNote</textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">3.Thông tin thanh toán:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Kênh thanh toán <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="PaymentStore" value="@ViewBag.model.PaymentStore" readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày thanh toán gần nhất <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="LastestPaymentDate" readonly class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số tiền thanh toán gần nhất<span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="LastPaymentAmount" readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Dư nợ gốc <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="OSPri" readonly class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tổng nợ còn lại <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="TotalCurros" readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày trễ hạn <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="LateDate" value="@ViewBag.model.LateDate" readonly class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Kỳ hiện tại <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="InstallmentNo" value="@ViewBag.model.InstallmentNo" readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số tiền góp hàng tháng <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="BillAmountOfCurrentMonth" readonly class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số tiền trả trước <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="DepositAmount" readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số tiền vay <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="FinancePrice" readonly class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tổng tiền đã thanh toán <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="TotalPaidAmount" readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Kỳ thanh toán đầu tiền<span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="FirstDueDate" readonly class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số tiền thanh toán kỳ đầu <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="FirstPaymentAmount" readonly class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày thanh toán kỳ cuối<span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="FinalDueDate" readonly class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số tiền thanh toán cuối <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="FinalPaymentAmount" readonly class="form-control">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">4.Thông tin sản phẩm:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Đối tac<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="PartnerName" value="@ViewBag.model.PartnerName" readonly class="form-control" />
                        </div>
                       
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Sản phẩm vay<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="ProductName" value="@ViewBag.model.ProductName" readonly class="form-control" />
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Nhãn hiệu<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="ProductBrand" value="@ViewBag.model.ProductBrand" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Giá bán<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="CashPrice" readonly class="form-control" />
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Đại lý<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="AgentCode" value="@ViewBag.model.AgentCode" readonly class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">5.Thông tin người thân:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Họ và tên <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="ReferenceName" value="@ViewBag.model.ReferenceName" readonly class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số điện thoại <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="RefPhone" value="@ViewBag.model.RefPhone" readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Mối quan hệ<span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="Relative" value="@ViewBag.model.Relative" readonly class="form-control">
                        </div>

                    </div>



                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">6.Phân công:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Tỉnh/TP<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlTinh" class="chosen-select form-control" data-placeholder="Chọn tỉnh thành phố">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Quận/huyện<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlHuyen" class="chosen-select form-control" data-placeholder="Chọn quận huyện">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Nhóm<span class="required">(*)</span></label>
                        <div class="col-sm-4">

                            <select id="ddlGroup" class="chosen-select form-control" data-placeholder="Chọn nhóm" @ViewBag.statusReadOnly>
                                <option value="0"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Courrier<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlCourier" class="chosen-select form-control" data-placeholder="Chọn Courrier">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">7.Hồ sơ đính kèm:</h3>
                <div class="row">
                    <div class="col-xs-12" style="overflow-y: scroll;max-height:400px;">
                        <form class="form-horizontal" role="form" id="lstTailieu"></form>
                    </div>
                </div>

            </div>

        </div>
		
		<div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">8.Thông tin hẹn thanh toán:</h3>
                <div class="row">
                     <form class="form-horizontal" role="form">
					<div class="form-group">
					
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày hẹn thanh toán <span ></span> </label>
                         <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control date-picker" id="PaymentAppointmentDate" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>

                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số tiền hẹn thanh toán <span ></span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="PaymentAppointmentAmount"  class="form-control">
					</div>
                    </form>



                </div>

            </div>

        </div>
		</div>
        <div class="row">
            <div class="col-xs-12">
                <hr />
                <form class="form-horizontal">

                    <h4 class="header lighter orange"><i class="ace-icon fa fa-bell"></i>Ghi chú hồ sơ</h4>
                    <div class="form-group">
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Trạng thái</label>
                        <div class="col-sm-5 col-xs-12 ">
                            <select id="ddlStatus"  class="chosen-select form-control" data-placeholder="Chọn trạng thái">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Trạng thái hiện tại</label>
                        <div class="col-sm-5 col-xs-12 ">
						   @if (@ViewBag.model.StatusName =="Không nợ xấu")
						   {
							    <input type="text" id="StatusName" value="" readonly class="form-control">  
							   
						   }
						   else
						   {
							      <input type="text" id="StatusName" value="@ViewBag.model.StatusName" readonly class="form-control">  
							   
						   }
                       
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Ghi chú</label>
                        <div class="col-md-11 col-sm-12 col-xs-12">
                            <textarea class="form-control" id="txtNote" style="margin: 0px -4.5px 0px 0px; height: 50px;" placeholder="Nhập ghi chú"></textarea>
                        </div>
                        <div class="col-md-8">
                            <div class="activity-log">
                                <div class="timline-addNote only-new-note">
                                    <div class="timeline-date-event timline-date-event--margin mt-0" id="dsGhichu">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <a style="cursor:pointer" id="btnDelete">Xóa</a>
                        <a class="btn btn-sm btn-primary" href="/Revoke/Index">
                            Quay lại
                        </a>
                        <a class="btn btn-sm btn-primary" id="btnAddNote">
                            Thêm ghi chú
                        </a>
                        <a class="btn btn-sm btn-primary" id="btnUpdate">
                            Cập nhật
                        </a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
	   setDateTimeInput('#PaymentAppointmentDate', 'dd/mm/yyyy');
	   

        setTextForPTag('checkSaleResult');
        setTextForPTag('checkdupResult');
        setCheckedValueOfRadioButtonGroup('radio-isAddr', 'true');
        setCheckboxValue('cbbIsInsurrance', '0' == '0' ? false : true)
        $("#txtAgreementDate").val(reverseString('@ViewBag.model.AgreementDate'));
        $("#txtLiquidationFee").val(formatCurrency('@ViewBag.model.LiquidationFee'));
        $("#txtLateFee").val(formatCurrency('@ViewBag.model.LateFee'));
        $("#txtInterestrateScheme").val(formatCurrency('@ViewBag.model.InterestrateScheme'));
        $("#txtInstallmentPeriod").val(formatCurrency('@ViewBag.model.InstallmentPeriod'));
        $("#LastestPaymentDate").val(reverseString('@ViewBag.model.LastestPaymentDate'));
        $("#Bod").val(reverseString('@ViewBag.model.Bod'));

        $("#OSPri").val(formatCurrency('@ViewBag.model.OSPri'));
        $("#TotalCurros").val(formatCurrency('@ViewBag.model.TotalCurros'));
        $("#BillAmountOfCurrentMonth").val(formatCurrency('@ViewBag.model.BillAmountOfCurrentMonth'));
        $("#DepositAmount").val(formatCurrency('@ViewBag.model.DepositAmount'));
        $("#FinancePrice").val(formatCurrency('@ViewBag.model.FinancePrice'));
        $("#TotalPaidAmount").val(formatCurrency('@ViewBag.model.TotalPaidAmount'));
        $("#FirstDueDate").val(reverseString('@ViewBag.model.FirstDueDate'));
        $("#FirstPaymentAmount").val(formatCurrency('@ViewBag.model.FirstPaymentAmount'));
        $("#LastPaymentAmount").val(formatCurrency('@ViewBag.model.LastPaymentAmount'));
        $("#FinalDueDate").val(reverseString('@ViewBag.model.FinalDueDate'));
        $("#FinalPaymentAmount").val(formatCurrency('@ViewBag.model.FinalPaymentAmount'));
        $("#CashPrice").val(formatCurrency('@ViewBag.model.CashPrice'));
        $("#TotalPayableAmount").val(formatCurrency('@ViewBag.model.TotalPayableAmount'));
		    $("#PaymentAppointmentDate").val('@ViewBag.model.PaymentAppointmentDate');	
	        $("#PaymentAppointmentAmount").val('@ViewBag.model.PaymentAppointmentAmount');

        renderStatusList('#ddlStatus',@ViewBag.model.Status);
        Getcomments();
        getFilesUpload();
         getProvinces('#ddlTinh', @ViewBag.model.ProvinceId, @ViewBag.model.DistrictId, '#ddlHuyen');
        $('#ddlTinh').on('change', function () {
            getDistricts('#ddlHuyen', this.value);
        });
		
		var modelobject = @Html.Raw(Json.Encode(ViewBag.model));
	

		if(modelobject.GroupId == null)
		{
		  LayDSNhomCha('#ddlGroup', 0, '#ddlCourier', @ViewBag.model.AssigneeId);
		}
		else 
		{
		LayDSNhomCha('#ddlGroup', modelobject.GroupId, '#ddlCourier', @ViewBag.model.AssigneeId);
		}
		
      
        $('#ddlGroup').on('change', function () {
            GetEmployeesByGroupId('#ddlCourier', this.value, false,  @ViewBag.model.AssigneeId);
        });
    });

    jQuery.fn.ForceNumericOnly =function () {
    return this.each(function () {
        $(this).keydown(function (e) {
            var key = e.charCode || e.keyCode || 0;
            // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
            // home, end, period, and numpad decimal
            return (
                key == 8 ||
                key == 9 ||
                key == 13 ||
                key == 46 ||
                key == 110 ||
                key == 190 ||
                (key >= 35 && key <= 40) ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
        });
    });
};
    $("#txtPhone").ForceNumericOnly();
    $("#txtPhone2").ForceNumericOnly();
    $("#txtLoanMoney").ForceNumericOnly();
    $("#txtIdNumber").ForceNumericOnly();
    $("#txtLoanMoney").change(function () {
        $("#txtLoanMoney").val(formatCurrency($("#txtLoanMoney").val().replace(/\,/g, '')));
    });

    $('#btn_CheckSale').click(function (e) {
        let value = $("#txtSaleCode").val()
        checkSale('checkSaleResult', value,"#txtSaleId", @ViewBag.model.Id);
    });
    $('#btn_CheckCIC').click(function (e) {
        let value = !isNullOrWhiteSpace($("#txtIdNumber").val()) ? $("#txtIdNumber").val() : $("#txtCCCDNumber").val();
        checkCIC('', value);
    });
    $('#btn_CheckDup').click(function (e) {
        let value = !isNullOrWhiteSpace($("#txtIdNumber").val()) ? $("#txtIdNumber").val() : $("#txtCCCDNumber").val();
        checkDup('checkdupResult', value);
    });
    function Getcomments() {
        //$('#ddlTrangThai').empty();
        $.ajax({
            type: "POST",
            url: `/Revoke/Comments?profileId=${@ViewBag.model.Id}`,
            data: {},
            success: function (data) {
                if (data.data != null && data.success == true) {
                    $.each(data.data, function (index, item) {
                        $('#dsGhichu').append(
                            '<div class="timeline-event-content  active">' +
                            '<div class="timeline-item">' +
                            '<div class="timeline-body">' +
                            '<div class="timeline__message-container">' +
                            '<strong>' + item.Commentator + ' (' + SetFormatDateTimeDMY(item.CommentTime) + '): </strong><span>' + item.Noidung + '</span>' +
                            '</div></div></div></div>'
                        )
                    });
                }

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
    function getFilesUpload() {
        $.ajax({
            type: "POST",
            url: `/Revoke/GetFileUpload?profileId=${@ViewBag.model.Id}&profileType=5`,
            data: {},
            success: function (data) {

                if (data.data != null ) {
                    var i = 0;
                    var htmlContent = "";
                    let keys = [];
                    $.each(data.data, function (index, item) {
                        $("#lstTailieu").append("<div class='form-group'><div id='tailieu-" + item.ID + "'></div></div > ");
                        if (!isNullOrNoItem(item.Tailieus)) {

                            let _initialPreview = [];
                            let _initialPreviewConfig = [];
                            $.each(item.Tailieus, function (i, tailieu) {
                                //fileRequireIds.push(item.ID);
                                _initialPreview = [];
                                _initialPreviewConfig = [];
                                var _imgExts = ["jpg", "jpeg", "png", "pdf"];
                                var extn = tailieu.FileUrl.split('.').pop();
                                var isImg = isExtension(extn, _imgExts);
                                if (isImg) {
                                    _initialPreview.push(tailieu.FileUrl);
                                    _initialPreviewConfig.push({
                                        caption: tailieu.FileName,
                                        url: "/hoso/RemoveTailieuByHoso?hosoId=" + item.ProfileId + "&fileId=" + tailieu.FileId,
                                        type: extn.indexOf('pdf') > -1 ? "pdf" : "jpg",
                                        width: "120px"
                                    });
                                }
                                let keyName = '',
                                    isrequire = false,
                                    className = ''

                                if (keys.indexOf(tailieu.Key) < 0) {
                                    keyName = tailieu.KeyName;
                                    isrequire = true
                                }
                                else {
                                    className = 'mt-46'
                                }
                                // renderOneItemFile(tailieu.Key, tailieu.FileId, name, isrequire, className, true, _initialPreview, _initialPreviewConfig, true, true, onUploadFile, onDeleteFile)
                                renderOneItemFile_Revoke(
                                    {
                                        key: tailieu.Key,
                                        fileId: tailieu.FileId,
                                        titleName: keyName,
                                        isRequire: isrequire,
                                        profileId: item.ProfileId
                                    }
                                    , className, true, _initialPreview, _initialPreviewConfig, true, true, null, onDeleteFile, filesUpload);
                                keys.push(item.ID)
                            })
                            if (item.Tailieus.length < 50) {
                                //renderOneItemFile(item.ID, item.ID, '', false, 'mt-46', true, [], [], true, false, onUploadFile, onDeleteFile)
                                renderOneItemFile_Revoke(
                                    {
                                        key: item.ID,
                                        fileId: 0,
                                        titleName: '',
                                        isRequire: false,
                                        profileId: item.ProfileId
                                    }
                                    , 'mt-46', true, [], [], true, false, null, onDeleteFile, filesUpload);
                            }

                        }
                        else {

                            renderOneItemFile_Revoke(
                                {
                                    key: item.ID,
                                    fileId: 0,
                                    titleName: item.Ten,
                                    isRequire: item.BatBuoc,
                                    profileId: item.ProfileId,
                                }
                                , 'mt-46', true, [], [], true, false, onUploadFile, onDeleteFile, filesUpload);
                            //keys.push(item.ID);
                        }
                        //------------


                    })
                }

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
    let filesUpload = [];
    function onDeleteFile(key, fileId, isExist) {
        removeFile(key, fileId);
    }
    function onUploadFile(model, data, isExist) {

        if (isReach5Files(filesUpload, model.key))
            return;
        if (isNullOrNoItem(filesUpload)) {
            filesUpload = []
        }
        let file = {
            Key: parseInt(data.initialPreviewConfig[0].key),
            FileName: data.initialPreviewConfig[0].caption,
            FileUrl: data.initialPreview,
            KeyName: "",
            Id: model.fileId,
            documentId: model.documentId
        }
        let existKeyIndex = filesUpload.findIndex(p => p.key == model.key)
        if (existKeyIndex < 0) {
            filesUpload.push({ key: parseInt(model.key), files: [file], documentId: model.documentId })
        }
        else {
            if (filesUpload[existKeyIndex].files == null)
                filesUpload[existKeyIndex].files = []
            filesUpload[existKeyIndex].files.push(file);
        }
        if (isReach5Files(filesUpload, model.key) === false) {
            model.fileId = getNewGuid();
            model.isRequire = false
            //model.titleName = ''
            renderOneItemFile_Revoke(model, 'mt-46', true, [], [], true, false, onUploadFile, onDeleteFile, filesUpload);
        }
    }
    function removeFile(key, fileId) {
        if (isNullOrNoItem(filesUpload))
            return;
        let index = filesUpload.findIndex(p => p.key == key);
        if (index >= 0) {
            if (!isNullOrNoItem(filesUpload[index].files)) {
                let indexOfFile = filesUpload[index].files.findIndex(p => p.Id == fileId);
                if (indexOfFile >= 0)
                    filesUpload[index].files.splice(indexOfFile, 1);
            }
        }
    }



    $('#btnUpdateFiles').click(function (e) {

        $.ajax({
            traditional: true,
            url: '/MCredit/ReSendFileToEC?profileId=' + @ViewBag.model.Id,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.success == true) {
                     swal({
                            title: "@Html.Raw(Global.Message_Title)",
                            text: "Thành công",
                            type: "success",
                            timer: 4000,
                            showConfirmButton: true,
                        }, function () {
                            //window.location = window.location;

                            //uploadFiles(data.data, false);
                        });
                }
                else {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: data.data.message,
                        type: "error",
                        timer: 10000,
                        showConfirmButton: true,
                    });
                }
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {
                $('#panel_body').unblock();
            },
        });
    });
    $('#btnUpdate').click(function (e) {

        let model = JSON.stringify({
            'Status': $("#ddlStatus").val(),
            'DistrictId': $("#ddlHuyen").val(),
            'ProvinceId': $("#ddlTinh").val(),
            'AssigneeId': $("#ddlCourier").val(),
            'GroupId': $("#ddlGroup").val(),
			'PaymentAppointmentAmount': $("#PaymentAppointmentAmount").val(),
            'PaymentAppointmentDate': $("#PaymentAppointmentDate").val()
        })
        

        $.ajax({
            traditional: false,
            url: `/Revoke/Update?profileId=${@ViewBag.model.Id}`,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: model,
            success: function (data) {
                if (data.success == true) {
                     swal({
                            title: "@Html.Raw(Global.Message_Title)",
                            text: "Thành công",
                            type: "success",
                            timer: 4000,
                            showConfirmButton: true,
                        }, function () {
						
                            window.location = window.location;


                        });
                }
                else {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: data.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {
                $('#panel_body').unblock();
            },
        });
    });
    $('#btnAddNote').click(function (e) {

        let objectSend = JSON.stringify({
            "Value": $("#txtNote").val()
        });

        $.ajax({
            traditional: false,
            url: `/Revoke/AddNote?profileId=${@ViewBag.model.Id}`,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: objectSend,
            success: function (data) {
                if (data.success == true) {
                     swal({
                            title: "@Html.Raw(Global.Message_Title)",
                            text: "Thành công",
                            type: "success",
                            timer: 4000,
                            showConfirmButton: true,
                        }, function () {
                            window.location = window.location;


                        });
                }
                else {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: data.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {
                $('#panel_body').unblock();
            },
        });
    });
    $('#btnDelete').click(function (e) {
               swal({
            title: "@Html.Raw(Global.DialogConfirmYesNo)",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            cancelButtonText: "@Html.Raw(Global.DialogConfirmNo)",
            confirmButtonText: "@Html.Raw(Global.DialogConfirmYes)",
            closeOnConfirm: false

        }, function () {


            $.ajax({
                url: `/Revoke/Delete?profileId=${@ViewBag.model.Id}`,
                type: "POST",
                contentType: "application/json; charset=utf-8",

                success: function (data) {

                    if (data.success == true) {
                        swal({
                            title: "Thành công",
                            text: "Thành công",
                            type: "success",
                            timer: 4000,
                            showConfirmButton: true,
                        }, function () {
                            window.location = "Revoke/Index"
                        });
                    }
                    else {
                        swal({
                            title: "",
                            text: data.code,
                            type: "error",
                            timer: 4000,
                            showConfirmButton: true,
                        });
                    }
                },
                error: function (jqXHR, exception) {
                    showError(jqXHR, exception);
                },
                complete: function () {
                    $('#panel_body').unblock();
                },
            });
        }
        );

    });

         function uploadFiles(hosoId, reloadOnSuccess = false) {
            if (isNullOrNoItem(filesUpload))
                return;
            $.ajax({
                traditional: true,
                url: `/HoSo/UploadToHoso?hosoId=${hosoId}&isReset=true`,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                //dataType: 'json',
                data: JSON.stringify(filesUpload),
                success: function (data) {
                    if (data.success == true) {
                        if (reloadOnSuccess == true) {
                            window.location = window.location;
                        }
                }
                else {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: data.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {
                $('#panel_body').unblock();
            },
        });
        }
</script>