﻿@using VS_LOAN.Core.Web.Helpers;

@using VS_LOAN.Core.Web.Resources;
@{
    ViewBag.Title = "Quản lý hồ sơ courier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="#" class="active">Hồ sơ courier</a>
            </li>
        </ul>









    </div>
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form">
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Tỉnh thành</label>
                        <div class="col-sm-5 col-xs-12 ">
                            <select id="ddlProvince" class="chosen-select form-control" data-placeholder="Tỉnh thành của courier"></select>
                        </div>
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Courier</label>
                        <div class="col-sm-5 col-xs-12 ">
                            <select id="ddlCourier" class="chosen-select form-control" data-placeholder="Courier">
                                <option value="0">Tất cả</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 col-xs-12">
                            <label class="control-label no-padding-right">
                                <input name="radio-ngay" type="radio" checked="checked" value="1" class="ace">
                                <span class="lbl"> Ngày tạo</span>
                            </label>
                            <label class="control-label no-padding-right">
                                <input name="radio-ngay" type="radio" value="2" class="ace">
                                <span class="lbl"> Ngày cập nhật</span>
                            </label>
                        </div>
                        <div class="col-sm-2 col-xs-12 ">
                            <div class="input-group">
                                <input class="form-control date-picker" id="txtFromDate" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-12 ">
                            <div class="input-group">
                                <input class="form-control date-picker" id="txtToDate" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                      

                    </div>
                    <div class="form-group">
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Trạng thái</label>
                        <div class="col-sm-5 col-xs-12 ">
                            <select id="ddlStatus" class="chosen-select form-control" multiple data-placeholder="Chọn trạng thái"></select>
                        </div>
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Mã sale</label>
                        <div class="col-sm-5 col-xs-12 ">
                            <input type="text" class="form-control" id="txtSaleCode" placeholder="" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Nhóm cha</label>
                        <div class="col-sm-5 col-xs-12 ">
                            <select id="ddlNhomCha" class="chosen-select form-control" data-placeholder="Chọn nhóm cha">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Tìm kiếm</label>
                        <div class="col-sm-5 col-xs-12 ">
                            <input type="text" class="form-control" id="txtFreeText" placeholder="Tìm kiếm" />
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <div class="col-xs-12 ">
                            <a class="btn btn-primary" id="btnSearch">
                                Tìm kiếm
                            </a>
                            <a class="btn btn-primary" href="/Courrier/AddNew">
                                Tạo mới
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class=" col-sm-8">
                            <input multiple="" class="col-sm-4" type="file" id="file" />
                            <a class="btn btn-primary" id="btnImport">Import file</a>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class=" col-sm-8">
                            <a style="font-style: italic;" href="/Common/DownloadTemplateFile?fileName=ImportCourierTemplate.xlsx">Nhấp vào để download mẫu import</a>
                        </div>

                    </div>
                </form>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <div class="table-header">
                    Danh sách hồ sơ
                </div>
                <div class="dataTables_wrapper form-inline no-footer">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>
                                Hiển thị
                                <select id="ddlLimit" class="form-control input-sm" onchange="onSelectLimit()">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> dòng mỗi trang
                            </label>
                        </div>
                    </div>
                </div>
                <!-- div.table-responsive -->
                <!-- div.dataTables_borderWrap -->
                <div class="col">
                    <div class="report-table-custom--overflow">
                        <table id="dtSource" class="report-table-custom table table-striped table-bordered table-hover">
                            <thead class="table-header">
                                <tr>
                                    <th class="center w-45">STT</th>
                                    <th class="m-w-120">Khách hàng</th>
                                    <th class="w-84">Số CMND</th>
				
                                  
                                    <th style="width: 150px">Trạng thái</th>
                                    <th style="width: 150px">Địa chỉ</th>
                                    <th class="m-w-120">Nhân viên</th>
                                    <th class="m-w-300">Ghi chú</th>
                                    <th class="w-150">Ngày tạo</th>
                                    <th class="m-w-120">Người tạo</th>
                                    <th class="m-w-120">Sale code</th>
                                    <th class="w-150">Ngày cập nhật</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix" />
                <div class="one-row no-gutters justify-content-between paginate mb-50">
                    <div class="col-auto">
                        <div class="dataTables_info" id="dtSource_info" role="status" aria-live="polite"></div>
                    </div>
                    <div class="col-auto">
                        <div class="one-row no-gutters align-items-center">
                            <div class="col-auto">
                                <span id="totalPage"></span>
                            </div>
                            <div class="col">
                                <div class="dataTables_paginate paging_simple_numbers" id="dtSource_paginate">
                                    <ul class="pagination" id="paging"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="space-6" style="background-color: #d5e3ef;"></div>
            <div class="col-xs-12" style="margin-bottom:40px;">
                <div class="pull-right">
                    <a id="btnDownReport" onclick="DownloadReport(this)" class="btn btn-sm btn-primary "><i class="ace-icon fa fa-download"></i>@Global.Button_Download</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var queries = new URLSearchParams(window.location.search);
    var page = 1;
    var limit = 10;
    var pageMargin = 2;
    var totalPage = 1;
    var totalRecord = 0;
    var provinceId = 0;
    var groupId = 0;
    var lstStatus = [
        { value: "1", display: "Mới" },
        { value: "2", display: "Đang xử lý" },
        { value: "3", display: "Từ chối" },
        { value: "4", display: "Chấp nhận" },
        { value: "5", display: "Giải ngân" },
        { value: "6", display: "Hoàn thành" }
    ]
    
    $(document).ready(function e() {
        $(document).ready(function e() {
            $('#ddlNhomCha').chosen({ width: '100%', allow_single_deselect: true });
        });
        $('#ddlProvince').chosen({ width: '100%', allow_single_deselect: true });
        $('#ddlCourier').chosen({ width: '100%', allow_single_deselect: true });
        LayDSTinh();
        LayNhom();
        preventTxtSearchEnter();
        window.addEventListener('popstate', function (e) {

            queries = new URLSearchParams(window.location.search)
            page = queries.get("page");
            if (isNullOrUndefined(page) || isNullOrWhiteSpace(page))
                page = 1;
            else
                page = parseInt(page)
            limit = queries.get("limit")
            if (isNullOrUndefined(limit) || isNullOrWhiteSpace(limit))
                limit = 10;
            else
                limit = parseInt(limit)
            groupId = queries.get("groupId");
            getData(page, limit, memberId, groupId, true)
        });
        renderStatusList();
        setTableLimit("#ddlLimit");
        var status = decodeURI(queries.get("status"))
        if (!isNullOrWhiteSpace(status)) {
            let arrStatus = status.split(',')
            $('#ddlStatus').val(arrStatus).chosen().trigger("chosen:updated")
        }
        bindQueries()
        let courierId = queries.get("courierId");
        provinceId = queries.get("provinceId");
        groupId = queries.get("groupId");
        getData(page, limit, courierId, groupId);
    })
    function LayNhom() {
        $('#ddlNhomCha').empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSNhomCha", "ToNhom")',
            data: {},
            success: function (data) {
                $('#ddlNhomCha').append("<option value='0'></option>");
                if (data.data != null && data.success == true) {
                    data.data.unshift({ ID: 0, Ten: 'Tất cả', MaNguoiQL: -1, ChuoiMaCha: "0"})
                    $.each(data.data, function (index, item) {
                        $('#ddlNhomCha').append("<option value='" + item.ID + "'>" + item.Ten + "</option>");
                    });
                    let groupId = queries.get("groupId");
                    $('#ddlNhomCha').val(groupId)
                    $('#ddlNhomCha').chosen().trigger("chosen:updated").change();
                   
                }
            },
            complete: function () {
                
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
    var strLoading = '@Global.Message_Loading';
    $('#btnSearch').click(function (e) {
        getData(page, limit);
    });
    function getCourrier(maTinh) {
        
        if (isNullOrWhiteSpace(maTinh))
            return;
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetUserByProvinceId", "Employee")',
            data: {'provinceID':maTinh},
            success: function (data) {
                $('#ddlCourier').empty();
                $('#ddlCourier').append("<option value='0'>Tất cả</option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlCourier').append("<option value='" + optionData.Id + "'>" + optionData.Name + "</option>");
                    });
                    let courierId = queries.get("courierId");
                    $('#ddlCourier').val(courierId)
                    $('#ddlCourier').chosen().trigger("chosen:updated").change();
                }
                $('#ddlCourier').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
    $('#btnImport').click(function (e) {
        
        var formData = new FormData();
        formData.append('file', $('#file')[0].files[0]);

        $.ajax({
            url: '/Courrier/Import?groupId=' + $('#ddlNhomCha').val(),
            type: 'POST',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {

                if (data != null && data.success) {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: data.code,
                        type: "success",
                        timer: 4000,
                        showConfirmButton: true,
                    }, function () {
                        window.location = window.location
                    });
                }

                else {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: data.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    })
    
    function LayDSTinh() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSTinh", "KhuVuc")',
            data: {},
            success: function (data) {
                $('#ddlProvince').empty();
                $('#ddlProvince').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlProvince').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                    let provinceId = queries.get("provinceId");
                    $('#ddlProvince').val(provinceId)
                    $('#ddlProvince').chosen().trigger("chosen:updated").change();
                }
               
                $('#ddlProvince').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
    
    $('#ddlProvince').change(function () {
        $('#ddlThanhVienNhom').empty();
        $('#ddlThanhVienNhom').append("<option value='0'></option>");
        provinceId = this.value
        getCourrier(this.value)
    });
    function renderStatusList() {
        $("#ddlStatus").empty();
        $.each(lstStatus, function (index, item) {
            $("#ddlStatus").append("<option value='" + item.value + "'>" + item.display + "</option>")
        })
        $('#ddlStatus').chosen().trigger("chosen:updated");
        $('#ddlStatus').trigger("change");

    }
    function onClickPage(page) {
        page = page;
        getData(page, limit);
    }
    function bindQueries() {
		 var fromDate = queries.get("fromDate");
            if (isNullOrWhiteSpace(fromDate)) {
                fromDate = new Date().getDay + -7;
            }
		$('#txtFreeText').val(queries.get("freetext"))
        $('#txtSaleCode').val(queries.get("salecode"));
		$("#txtFromDate").datepicker({ dateFormat: 'yy/mm/dd' }).datepicker("setDate", fromDate);
		var toDate = queries.get("toDate");
		if (isNullOrWhiteSpace(toDate)) {
			toDate = new Date().getDay + 1;
		}
		$("#txtToDate").datepicker({ dateFormat: 'yy/mm/dd' }).datepicker("setDate", toDate);
		var dateType = queries.get("loaiNgay");
		setCheckedValueOfRadioButtonGroup("radio-ngay", dateType)
		var maHS = queries.get("maHS");
		$('#txtMaHS').val(maHS)
	  
		var cmnd = queries.get("cmnd");
		$('#txtCMND').val(cmnd)

          
        page = queries.get("page");
        if (isNullOrUndefined(page) || isNullOrWhiteSpace(page))
            page = 1;
        else
            page = parseInt(page)
        limit = queries.get("limit")
        if (isNullOrUndefined(limit) || isNullOrWhiteSpace(limit))
            limit = 10;
        else
            limit = parseInt(limit)

        $('#txtFromDate').datepicker({
        dateFormat: 'dd-mm-yy'
        }).next().on(ace.click_event, function () {
        $(this).prev().focus();
        });
        $('#txtToDate').datepicker({
        dateFormat: 'dd-mm-yy'
        }).next().on(ace.click_event, function () {
        $(this).prev().focus();
        });
        $("#ddlLimit").val(limit)
    }
    function onSelectLimit() {
        limit = $("#ddlLimit").val()
        getData(1, limit)
    }
   function renderStatus(statusId) {
        var statusString = "";
        if (statusId == '@((int)VS_LOAN.Core.Entity.HosoCourierStatus.New)')
            statusString = "<span class='label label-sm label-purple arrowed arrowed-righ'>Mới</span>";
        else if (statusId == '@((int)VS_LOAN.Core.Entity.HosoCourierStatus.InProgress)')
            statusString = "<span class='label label-sm label-danger arrowed arrowed-righ'>Đang xử lý</span>";
        else if (statusId == '@((int)VS_LOAN.Core.Entity.HosoCourierStatus.Deny)')
            statusString = "<span class='label label-sm label-inverse arrowed arrowed-righ'>Từ chối</span>";
        else if (statusId == '@((int)VS_LOAN.Core.Entity.HosoCourierStatus.Accept)')
            statusString = "<span class='label label-sm label-cancel arrowed arrowed-righ'>Chấp nhận</span>";
        else if (statusId == '@((int)VS_LOAN.Core.Entity.HosoCourierStatus.Finish)')
            statusString = "<span class='label label-sm label-pcb arrowed arrowed-righ'>Hoàn thành</span>";
        else if (statusId == '@((int)VS_LOAN.Core.Entity.HosoCourierStatus.Cancel)')
           statusString = "<span class='label label-sm label-success arrowed arrowed-righ'>Hủy</span>";
       else if (statusId == '@((int)VS_LOAN.Core.Entity.HosoCourierStatus.Nhaplieu)')
           statusString = "<span class='label label-sm label-success arrowed arrowed-righ'>Nhập liệu</span>";
        else if (statusId == '@((int)VS_LOAN.Core.Entity.HosoCourierStatus.Thamdinh)')
           statusString = "<span class='label label-sm label-success arrowed arrowed-righ'>Thẩm định</span>";
        else if (statusId == '@((int)VS_LOAN.Core.Entity.HosoCourierStatus.BosungHoso)')
           statusString = "<span class='label label-sm label-success arrowed arrowed-righ'>Bổ sung hồ sơ</span>";
        else if (statusId == '@((int)VS_LOAN.Core.Entity.HosoCourierStatus.DaDoichieu)')
           statusString = "<span class='label label-sm label-success arrowed arrowed-righ'>Đã đối chiếu</span>";
        else if (statusId == '@((int)VS_LOAN.Core.Entity.HosoCourierStatus.PCB)')
            statusString = "<span class='label label-sm label-success arrowed arrowed-righ'>PCB</span>";
        return "<td class='text-left'>" + statusString + "</td>";
    }
    function renderAddress(item) {
        if (item == null || item == undefined)
            return ''
        let result = ''
        if (!isNullOrUndefined(item.ProvinceName))
            result += item.ProvinceName
        if (!isNullOrUndefined(item.DistrictName))
            result += ' -' + item.DistrictName
        return result;
    }
    function renderTextLink(textValue, href, type, className = '') {
        let display = getValueDisplay(textValue, type);
        return "<td class='text-left " + className + "'><a href='" + href + "' >" + display + "</a></td>";
    }
    function renderRow(index, rowData) {
        
        page = queries.get("page");
        if (isNullOrUndefined(page) || isNullOrWhiteSpace(page))
            page = 1;
        else
            page = parseInt(page)
        limit = queries.get("limit")
        if (isNullOrUndefined(limit) || isNullOrWhiteSpace(limit))
            limit = 10;
        else
            limit = parseInt(limit)
        var stt = (page - 1) * limit + index + 1;
        
        let result = "<tr role='row' class = 'odd'>"
            + renderTextCenter(stt, '','center w-45')
            + renderTextLink(rowData.CustomerName, `/Courrier/edit/${rowData.Id}`, '', "m-w-120")
            + renderTextLeft(rowData.Cmnd, '','w-84')
				

						  
            + renderStatus(rowData.Status)
            + renderTextLeft(renderAddress(rowData), '', 'w-150' )
            + renderTextLeft(rowData.AssignUser, '', "m-w-120")
            + renderTextLeft(rowData.LastNote, '', "tb-row-breakword")
            + renderTextLeft(rowData.CreatedTime, 'datetime', 'w-150')
            + renderTextLeft(rowData.CreatedUser, '', "m-w-120")
            + renderTextLeft(rowData.SaleCode, '', "m-w-120")
            + renderTextLeft(rowData.UpdatedTime, 'datetime', 'w-150')
            @*+ renderAction(rowData.Id,(@ViewBag.isAdmin == 0 && rowData.Status == 7))*@
            + "</tr>";
        return result
    }
    function renderTableBody(datas) {
        var tableBody = $("#dtSource").find("tbody");
        tableBody.empty();
        if (isNullOrNoItem(datas))
            return;
        $.each(datas, function (index, item) {
            tableBody.append(renderRow(index, item));
        });

    }
    function onEdit(id) {
        if (isNullOrUndefined(id))
            return;
        window.location = "/Courrier/edit/" + id;
    }
    function getData(page, limit,courierId=0,groupId =0, isPopState = false)
    {
        $.ajax({
            url: '/Courrier/Search',
            type: "GET",
            contentType: "application/json",

            data: {
                'page': page,
                'limit': limit,
                'provinceId': (isNaN(provinceId) || provinceId == 0) ? $('#ddlProvince').val() : provinceId,
                'courierId': (isNaN(courierId) || courierId == 0) ? $('#ddlCourier').val() : courierId,
                'freetext': $("#txtFreeText").val(),
                'salecode': $("#txtSaleCode").val(),
                'groupId': (isNaN(groupId) || groupId == 0) ? $('#ddlNhomCha').val() : groupId,
                'status': !isNullOrNoItem($("#ddlStatus").val()) ? $("#ddlStatus").val().toString() : "",
				'fromDate':$('#txtFromDate').val(),
				'toDate': $('#txtToDate').val(),
				'maHS':$('#txtMaHS').val(),
                'cmnd': $('#txtCMND').val(),
                'loaiNgay': $('input[name="radio-ngay"]:checked').val(),
            },
            success: function (response) {
                if (response.Message == null) {
                    totalRecord = response.data.TotalRecord;
                    let search = this.url.replace("/Courrier/Index", "");
                    
                    search = search.replace("/Courrier/Search", "")
                    queries = new URLSearchParams(search)
                    page = queries.get("page");
                    if (isNullOrUndefined(page) || isNullOrWhiteSpace(page))
                        page = 1;
                    else
                        page = parseInt(page)
                    limit = queries.get("limit")
                    if (isNullOrUndefined(limit) || isNullOrWhiteSpace(limit))
                        limit = 10;
                    else
                        limit = parseInt(limit)
                    renderTableBody(response.data.Datas)
                    renderPageList(page, limit, totalRecord)
                    totalPage = getTotalPage(totalRecord, limit);
                    $("#dtSource_info").text("Tổng: " + totalRecord + " items");
                    $("#totalPage").text("Tổng: " + totalPage + " trang");
                }
                else {
                    swal({
                        title: "",
                        text: response.Message.ErrorMessage,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
            },
                error: function (jqXHR, exception) {
                    showError(jqXHR, exception);
                },
                complete: function () {
                    $('#panel_body').unblock();
                    if (!isPopState) {
                        var requestUrl = this.url.replace("/Search", "/index")
                        window.history.pushState(requestUrl, this.title, requestUrl)
                    }

            }
        })

    }
   
    function DownloadReport(e) {
        let data = JSON.stringify({
            'page': page,
            'limit': limit,
            'provinceId':$('#ddlProvince').val() ,
            'courierId':  $('#ddlCourier').val(),
            'freetext': $("#txtFreeText").val(),
            'salecode': $("#txtSaleCode").val(),
            'groupId': $('#ddlNhomCha').val(),
            'status': !isNullOrNoItem($("#ddlStatus").val()) ? $("#ddlStatus").val().toString() : "",
			'fromDate':$('#txtFromDate').val(),
			'toDate': $('#txtToDate').val(),
			'maHS':$('#txtMaHS').val(),
			'cmnd': $('#txtCMND').val(),
			'loaiNgay': $('input[name="radio-ngay"]:checked').val()
        });
        $.ajax({
            traditional: true,
            url: '/Courrier/ExportFile',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: data,
            success: function (data) {
                if (data.success == true) {
                    var link = document.createElement("a");
                    link.href = data.data;
                    link.click();
                }
                else {
                    swal({
                        title: "",
                        text: data.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {

            },
        });
    }
</script>