﻿<script>
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}

   openCity(event, 'London');
</script>
<style>

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height: 100vh;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}
</style>


@using VS_LOAN.Core.Web.Resources;
@{
    ViewBag.Title = "Tạo hồ sơ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model String
<script type="text/javascript">
    SetActiveMenu('@ViewBag.formindex', 2);
</script>


<div class="main-content-inner">
  
    <div class="page-content" id="panel_body">


<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Thông tin hồ sơ </button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Chứng từ tài liệu</button>
</div>

<div id="London" class="tabcontent">
   @Html.Partial("infomationDetail")
</div>
<div id="Paris" class="tabcontent">
  <div class="row">
         

        </div>
</div>

        
    </div>
</div>






<script>


    
    let indexchange = -1;
     function changeDueDay(selectObject) 
    {

        var valueSche = selectObject.value;

       

        let tempChange  =0;
         
   
        if(
            valueSche == 1126  ||
            valueSche  == 1127 || 
            valueSche == 1128 ||  
            valueSche == 1129 || 
            valueSche == 1130 || 
            valueSche == 1131 || 
            valueSche == 1132 || 
            valueSche == 1133 || 
            valueSche == 737 || 
             valueSche == 739 

        )
        { 

            tempChange  = 1;
            if( indexchange == tempChange )

            {
                return;
            }
            indexchange = tempChange;
             $('#dueday').empty();
            for (let i = 1; i < 32; i++) {
                    $('#dueday').append("<option value='"+ i+"'>"+ i + "</option>");
            }
        }
        else 
        {
            tempChange =0;

             if( indexchange == tempChange )

            {
                return;
            }
             indexchange = tempChange;
             $('#dueday').empty();
            for (let i = 0; i < 6; i++) {
                let y = i *5;
                if(i == 0)
                {
                    y = 1;
                }
                $('#dueday').append("<option value='"+ y +"'>"+ y + "</option>");
           
            }
        }
        $('#dueday').chosen().trigger("chosen:updated");
    }
    $(document).ready(function () {

        LayDSTinhCMND("idissuer");
        GetAllBank();
        $('#ddlSanPhamVay').chosen({ width: '100%', allow_single_deselect: true });
        $('#ddlCourier').chosen({ width: '100%', allow_single_deselect: true });
        $('#ddlHuyen').chosen({ width: '100%', allow_single_deselect: true });
        $('#ddlTinh').chosen({ width: '100%', allow_single_deselect: true });

      $('#RegAddressProvinceId').chosen({ width: '100%', allow_single_deselect: true });

    $('#RegAddressDistId').chosen({ width: '100%', allow_single_deselect: true });


  $('#RegAddressWardId').chosen({ width: '100%', allow_single_deselect: true });
               $('#RegAddressProvinceId').chosen({ width: '100%', allow_single_deselect: true });
     
        $("#txtToDate").datepicker({ dateFormat: 'yy/mm/dd' }).datepicker("setDate", new Date().getDay + 0);
        $('#txtBirhDay').datepicker({
            dateFormat: 'dd-mm-yy'

        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
     $('#frmAdd select').each(
       function(index){  
        var inputelement = $(this);
        inputelement.chosen({ width: '100%', allow_single_deselect: true });


       });
      


        $('#frmAdd input, #frmAdd select').each(
    function(index){  
        var inputelement = $(this);
        var typeAssinge = inputelement.attr("typeInput");
        if(typeAssinge)
        {



            if(typeAssinge =="phoneInput")
            {
                // inputelement.ForceNumericOnly(); 

            }

            else if( typeAssinge =="")
            {


            }

        }

        else 

        {


        }
    }
);

    });

    jQuery.fn.ForceNumericOnly =function () {
    return this.each(function () {
        $(this).keydown(function (e) {
            var key = e.charCode || e.keyCode || 0;
            // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
            // home, end, period, and numpad decimal
            return (
                key == 8 ||
                key == 9 ||
                key == 13 ||
                key == 46 ||
                key == 110 ||
                key == 190 ||
                (key >= 35 && key <= 40) ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
        });
    });
};
    $("#txtDienThoai").ForceNumericOnly();
    $("#txtDienThoai2").ForceNumericOnly();
    
    $("#txtTienDeNghiVay").ForceNumericOnly();
    $("#txtCMND").ForceNumericOnly();
    $("#txtTienDeNghiVay").change(function () {
        $("#txtTienDeNghiVay").val(formatCurrency($("#txtTienDeNghiVay").val().replace(/\./g, '')));
    });

    $(document).ready(function () {
    
        LayDSTinh('ddlTinhCur');


        LayDSTinh('ddlTinhPer');

          LayDSTinh('cityCompany');
       
      
        $('#ddlTinhCur').on('change', function () {
                    LayDSHuyen(this.value,"ddlHuyenCur");
          });
		
		
		 $('#ddlHuyenCur').on('change', function () {

            laydanhsachReward(this.value,"ddlRewardCur");
			
        }); 


          $('#ddlTinhPer').on('change', function () {
                    LayDSHuyen(this.value,"ddlHuyenPer");
          });
		
		
		 $('#ddlHuyenPer').on('change', function () {

            laydanhsachReward(this.value,"ddlRewardPer");
			
        }); 



	 $('#ddlHuyenCur').on('change', function () {

            laydanhsachReward(this.value,"ddlRewardCur");
			
        }); 


          $('#cityCompany').on('change', function () {
                    LayDSHuyen(this.value,"districtCompany");
          });
		
		
		 $('#districtCompany').on('change', function () {

            laydanhsachReward(this.value,"wardCompany");
			
        }); 
        $('#dob').datepicker({
            dateFormat: 'dd-mm-yy'

        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        //$("#txtBirhDay").datepicker({ dateFormat: 'yy/mm/dd' }).datepicker("setDate", new Date().getDay + 0);
        $('#txtNationDate').datepicker({
            dateFormat: 'dd-mm-yy'

        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        $("#txtInCome").ForceNumericOnly();
        $("#txtInCome").change(function () {
        $("#txtInCome").val(formatCurrency($("#txtInCome").val().replace(/\./g, '')));
        });


        $("#txtTienDeNghiVay").ForceNumericOnly();
        $("#txtTienDeNghiVay").change(function () {
        $("#txtTienDeNghiVay").val(formatCurrency($("#txtTienDeNghiVay").val().replace(/\./g, '')));
        });

     
        
      


        $('#RegAddressProvinceId').on('change', function () {
            laydanhsachthanhphothuongtru(this.value);
        });
		
		
		 $('#RegAddressDistId').on('change', function () {
            laydanhsachwarchThuongtru(this.value);
			
			
        });





        $('#ddlInternalCode').on('change', function () {
             $('#txtTenNV').val( $('option:selected', this).attr('ten'));
        });

        LayDSSanPham();

        LayDanhSachSaleOfficer();
    });

    $('#spnThoiHanVay').ace_spinner({ value: 0, min: 0, max: 36, step: 3, btn_up_class: 'btn-info', btn_down_class: 'btn-info' })
				.closest('.ace-spinner')
				.on('changed.fu.spinbox', function () {
				    //alert($('#spinner1').val())
				});
				
		
    function LayDSTinh(idTinh) {

        var idTinh ='#'+idTinh;
        $.ajax({
            type: "get",
            url: '@Url.Action("LayDanhSachTinh", "Mirae")',
            data: {},
            success: function (data) {
                $(idTinh).empty();
                $(idTinh).append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                         $(idTinh).append("<option value='" + optionData.Stateid + "'>" + optionData.Statedesc + "</option>");
                    });
                }
                $(idTinh).chosen().trigger("chosen:updated");
                  
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }


    

    function laydanhsachReward(ciityCode,idReward) {
        idReward='#'+idReward;
        $.ajax({
            type: "get",
            url: '@Url.Action("LayDanhSachWard", "Mirae")',
            data: {'cityCode':ciityCode},
            success: function (data) {
                $(idReward).empty();
                $(idReward).append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                        $(idReward).append("<option value='" + optionData.Zipcode + "'>" + optionData.Zipdesc + "</option>");
                    });
                }
                $(idReward).chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
   
    function LayDSHuyen(maTinh, idHuyen) {
        idHuyen ='#'+idHuyen;
        $.ajax({
            type: "get",
            url: '@Url.Action("LayDanhSachThanhPho", "Mirae")',
            data: {'province':maTinh},
            success: function (data) {
                $(idHuyen).empty();
                $(idHuyen).append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                        $(idHuyen).append("<option value='" + optionData.Lmc_CITYID_C + "'>" + optionData.Lmc_CITYNAME_C + "</option>");
                    });
                }
                $(idHuyen).chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

    

    function laydanhsachwarchThuongtru(ciityCode) {
        $.ajax({
            type: "get",
            url: '@Url.Action("LayDanhSachWard", "Ocb")',
            data: {'cityCode':ciityCode},
            success: function (data) {
                $('#RegAddressWardId').empty();
                $('#RegAddressWardId').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                        $('#RegAddressWardId').append("<option value='" + optionData.WardId + "'>" + optionData.WardName + "</option>");
                    });
                }
                $('#RegAddressWardId').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

    function laydanhsachthanhphothuongtru(maTinh) {
        $.ajax({
            type: "get",
            url: '@Url.Action("LayDanhSachThanhPho", "Ocb")',
            data: {'province':maTinh},
            success: function (data) {
                $('#RegAddressDistId').empty();
                $('#RegAddressDistId').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                        $('#RegAddressDistId').append("<option value='" + optionData.CityId + "'>" + optionData.CityName + "</option>");
                    });
                }
                $('#RegAddressDistId').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
    var lstDoitac =[]
    function LayDSNganHang() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSDoiTac", "HoSo")',
            data: {},
            success: function (data) {
                $('#ddlDoiTac').empty();
                $('#ddlDoiTac').append("<option value='0'></option>");
                if (data != null) {

                    lstDoitac = data.data
                    $.each(data.data, function (index, optionData) {
                        $('#ddlDoiTac').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlDoiTac').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }




function lowerFirstLetter(string) {
  return string.charAt(0).toLowerCase() + string.slice(1);
}
    function bindData()
    {

        var model = @Html.Raw(Json.Encode(ViewBag.model));
        for(var key in model) {
            var keylower = lowerFirstLetter(key);
            var value = model[key];

            
             if(value != "")
            {

                var element = document.getElementById(keylower);

                if (element instanceof HTMLInputElement) {

                
                    if(element.classList.contains("date-picker"))
                    {
	                    $('#'+keylower).val(SetFormatDateTimeDMY(value));
                    }
                    else 
                    {


                        element.value = value;

                    }
                }       
                
                if (element instanceof HTMLSelectElement) { 
                   
                    element.value =value;
                }    
                
                if (element instanceof HTMLTextAreaElement) {

                }  
                
            
            }
        
                 console.log(key);
        }
    }
    var allProduct = [];

    
    

     
    function LayDanhSachSaleOfficer() {
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllSaleOfficeUser", "Mirae")',
            data: { },
            success: function (data) {
                allProduct = data;
                $('#salesofficer').empty();
                $('#salesofficer').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                        $('#salesofficer').append("<option value='" + optionData.Inspectorid + "'>" + optionData.Inspectorname + "</option>");
                    });
                }
                $('#salesofficer').chosen().trigger("chosen:updated");

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

    function LayDSSanPham() {
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllProduct", "Mirae")',
            data: { },
            success: function (data) {
                allProduct = data;
                $('#schemeid').empty();
                $('#schemeid').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                        $('#schemeid').append("<option value='" + optionData.Schemeid + "'>" + optionData.Schemename + "</option>");
                    });
                }
                $('#schemeid').chosen().trigger("chosen:updated");

               

            },
            complete: function () {

               
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

    var save = false;

    $('#btn_Temp').click(function (e) {
 
           var data = {};

                data.SellerNote =$('#txtGhiChu').val();
        $("#frmAdd").serializeArray().map(function(x){data[x.name] = x.value;});    

        data.DobStr = $("#dob").val();
        data.NationalidissuedateStr = $("#nationalidissuedate").val(); 

         var objectSend = JSON.stringify(data);

          


        if(save ==true)
        {
            return;
        }
        
        save =true;
	
        $.ajax({
            traditional: true,
            url: '@Url.Action("CreateDraft", "Mirae")',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: objectSend,
            success: function (data) {
                if (data.success == true) {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: "Thành công",
                        type: "success",
                        timer: 4000,
                        showConfirmButton: true,
                    }, function () {
                            save = false;
                            window.location = window.location;
                    });
                }
                else {
                  swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: data.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    }, function () {
                         save = false;
                         
                    });
                }
            },
            error: function (jqXHR, exception) {

                showError(jqXHR, exception);
            },
            complete: function () {

                 $('#panel_body').unblock();
                  save = false;
            },
        });
    });

    function LayDSTinhCMND(idTinh) {

        var idTinh ='#'+idTinh;
        $.ajax({
            type: "get",
            url: '@Url.Action("LayDanhSachTinh", "Mirae")',
            data: {},
            success: function (data) {
                $(idTinh).empty();
       
                $(idTinh).append("<option value='CỤC TRƯỞNG CỤC CS QLHC VỀ TTXH'>CỤC TRƯỞNG CỤC CS QLHC VỀ TTXH</option>");
                $(idTinh).append("<option value='CT CỤC CẢNH SÁT ĐKQL CƯ TRÚ VÀ DLQG VỀ DÂN CƯ'>  CT CỤC CẢNH SÁT ĐKQL CƯ TRÚ VÀ DLQG VỀ DÂN CƯ</option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                         $(idTinh).append("<option value='" + optionData.Statedesc + "'>" + optionData.Statedesc + "</option>");
                    });
                }
                $(idTinh).chosen().trigger("chosen:updated");

                 
                  
            },
            complete: function () {
         
                $("#idissuer").val(datamodel.Idissuer); 
                $("#idissuer").chosen().trigger("chosen:updated");
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

    
function GetAllBank() {
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllBank", "Mirae")',
            data: { },
            success: function (data) {
                allProduct = data;
                $('#bankname').empty();
                $('#bankname').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                        $('#bankname').append("<option value='" + optionData.Bankid + "'>" + optionData.Bankdesc + "</option>");
                    });
                }
                $('#bankname').chosen().trigger("chosen:updated");

            },
            complete: function () {
            
                  $('#bankname').val(datamodel.Bankname);     
                    $('#bankname').chosen().trigger("chosen:updated");
                  
             },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }


   
        
</script>