﻿

 <h3 class="header smaller lighter blue">2.Thông tin thu nhập:</h3>



        <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Mức thu nhập<span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="amount" name ="amount" placeholder="Mức thu nhập" class="form-control" />
                </div>
                
            </div>



            <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Hình thức nhận lương<span class="required">(*)</span></label>
                        <div class="col-sm-10">
                            <label class="control-label no-padding-right">
                                <input name="accountbank" id ="accountbankHas"  type="radio"  value="true" class="ace">
                                <span class="lbl"> TK ngân hàng</span>
                            </label>
                            <label class="control-label no-padding-right" style="margin-left:20px">
                                <input name="accountbank" id ="accountbankNo" type="radio" value="false" class="ace">
                                <span class="lbl"> Tiền mặt</span>
                            </label>
            
            </div>
            </div>
                    

        
            
        
          