﻿

@using VS_LOAN.Core.Web.Resources;
@using VS_LOAN.Core.Web.Helpers;
@using VS_LOAN.Core.Entity;
<div class="main-content-inner">
  
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">

            

                <h3 class="header smaller lighter blue">1.Thông tin khách hàng vay:</h3>
                <form class="form-horizontal" role="form" id ="frmAdd">
					
                        @Html.Partial("infomationDDE")
                         @Html.Partial("incomInfo") 
                    <h3 class="header smaller lighter blue">5.Thông tin khoản vay:</h3>
					
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Mục đích vay<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                        <select id="loanpurpose" name ="loanpurpose" class="chosen-select form-control">
                        <option value="A">Mua hàng</option>
                        <option value="M">Chi phí y tế</option>
                        <option value="H">Sủa nhà</option>
                        <option value="P">Khác</option>
                        </select>

                        </div>
			      </div>



	            <div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">Sản phẩm vay 1<span class="required">(*)</span></label>
                       <div class="col-sm-4">
                            <select id="schemeid" name ="schemeid"   onchange="changeDueDay(this)"  class="chosen-select form-control">
                               
                        </select>
                        
						</div>
			    </div>




                
            <div class="form-group">
            <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số tiền vay <span class="required">(*)</span></label>
            <div class="col-sm-4">
                    <input type="text" id="totalloanamountreq" name ="totalloanamountreq" placeholder="Khoản vay" class="form-control" />
            </div>

            </div>

            <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">Thời hạn<span class="required">(*)</span></label>
            <div class="col-sm-1">

            <input type="text" id="tenure" name ="tenure" placeholder="Mô tả đường đi" class="form-control" />

            </div>
            <div class="col-sm-2">

            <label class=" control-label">tháng</label>

            </div>
            </div>




		
				<div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Mua bảo hiểm người vay *</label>
                        <div class="col-sm-4">
                            <label class="control-label no-padding-right">
                                <input name="Laa_app_ins_applicable" id ="IsLaa_app_ins_applicableHas" type="radio"  value="true" class="ace">
                                <span class="lbl"> Có</span>
                            </label>
                            <label class="control-label no-padding-right" style="margin-left:20px">
                                <input name="Laa_app_ins_applicable" id ="IsLaa_app_ins_applicablesNo" type="radio" value="false" checked class="ace">
                                <span class="lbl"> Không</span>
                            </label>
                        </div>

                        
                        
				</div>

           
          

                        @Html.Partial("CurrentAddress")
        

		    	          @Html.Partial("informationCarrer") 
                         @Html.Partial("vochong") 
                          @Html.Partial("relationship") 

                
                    <h3 class="header smaller lighter blue">8. Ghi chú thông tin khoản vay và khách hàng</h3>


                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Bảo mật thông tin vay với:<span class="required">(*)</span></label>
                                <div class="col-sm-4">
                                    <select name ="privateInfo"  id ="privateInfo" class="chosen-select form-control" data-placeholder="Chọn đường">
                                          <option value="-1">Không có</option>
                                    <option value="1">Người thân</option>
                                    <option value="2">Vợ/Chồng </option>

                                    <option value="3">Khác</option>


                                    <select>
                                </div>

                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"> Nếu chọn bảo mật thông tin khác thì điền thông tin:<span class="required">(*)</span></label>
                            <div class="col-sm-4">
                                    <input type="text" id="privateInfoOther" name ="privateInfoOther"    placeholder="Bảo mật thông tin khác" class="form-control" />
                            </div>

                        </div>



                        <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right"> Ghi chú chi tiết:<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                                <input type="text" id="notedDetailPrivate" name ="notedDetailPrivate"    placeholder="Bảo mật thông tin khác" class="form-control" />
                        </div>

                        </div>
    
                </form>
            </div>
        </div>

        


         <div class="row">
            <div class="col-xs-12">
                <hr />
                <form class="form-horizontal">
                    <h4 class="header lighter orange"><i class="ace-icon fa fa-bell"></i>Ghi chú hồ sơ</h4>
                    <div class="form-group">
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Ghi chú</label>
                        <div class="col-md-11 col-sm-12 col-xs-12">
                            <textarea class="form-control" id="txtGhiChu" name ="noted" style="margin: 0px -4.5px 0px 0px; height: 50px;" placeholder="Nhập ghi chú"></textarea>
                        </div>
  
                    </div>

    @if (GlobalData.User.UserType == (int)UserTypeEnum.Admin)
                    {


                        <div class="form-group">
                            <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Trạng thái</label>
                            <div class="col-sm-5 col-xs-12 ">
                                <select id="ddlStatus" class="chosen-select form-control" data-placeholder="Chọn trạng thái">
                                </select>
                            </div>

                        </div>
                    }


                    @if (GlobalData.User.UserType != (int)UserTypeEnum.Admin)
                    {

                        <div class="form-group">
                            <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Trạng thái</label>
                            <div class="col-sm-5 col-xs-12 ">
                                <select id="ddlStatus" disable class="chosen-select form-control" data-placeholder="Trạng thái">
                                </select>
                            </div>

                        </div>
                    }

                    <div class="form-group">
                    

                        

                         <div class="col-md-8">
                            <div class="activity-log">
                                <div class="timline-addNote only-new-note">
                                    <div class="timeline-date-event timline-date-event--margin mt-0" id="dsGhichu">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    
  
                    <div class="pull-right">

                        <a class="btn btn-sm btn-primary" id="btn_Temp">
                            Lưu lại

                        </a>

                        @if (GlobalData.User.UserType != (int)UserTypeEnum.Admin)
                        {
                        <a onclick="createFile()" href="javascript:void(0)" class="btn btn-sm btn-primary" id="btnCreateFileTTTT">
                            Tạo file Thu thập thông tin
                        </a>


                        }


                        @if (GlobalData.User.UserType == (int)UserTypeEnum.Admin)
                        {


                        <a class="btn btn-sm btn-primary" id="btnResolve">
                            Resovle
                        </a>


                        <a class="btn btn-sm btn-primary" id="btnCreateQDE">
                            Tạo QDE
                        </a>

                        <a class="btn btn-sm btn-primary" id="btnQDEToDDE">
                            QDEToDDE
                        </a>


                        <a class="btn btn-sm btn-primary" id="btnCreateDDE">
                            Tạo DDE
                        </a>



                        <a class="btn btn-sm btn-primary" id="btnDDEToPOR">
                            DDEToPOR
                        </a>


                        <a class="btn btn-sm btn-primary" id="btnSendProfile">
                            Nộp hồ sơ qua MAFC
                        </a>

                        <a onclick="createFile()" href="javascript:void(0)" class="btn btn-sm btn-primary" id="btnCreateFileTTTT">
                            Tạo file thu thập thông tin
                        </a>

                        <a class="btn btn-sm btn-primary" onclick="uploadfileSubmi()" id="btnPushDDE">
                            Đẩy file
                        </a>



                        }





                    </div>


                </form>
            </div>

        </div>
    </div>
</div>





