﻿ <h3 class="header smaller lighter blue">10.Bảo mật thông tin vay và khách hàng </h3>
        
      <div class="form-group">

                <label class="col-sm-2 control-label no-padding-right">Bảo mật thôn tin với:<span class="required">(*)</span></label>
            <div class="col-sm-10">
                    <label class="control-label no-padding-right">
                        <input name="IsDuplicateAdrees" type="radio" checked="checked" value="true" class="ace">
                        <span class="lbl"> Người thân</span>
                    </label>
                    <label class="control-label no-padding-right" style="margin-left:20px">
                        <input name="IsDuplicateAdrees" type="radio" value="false" class="ace">
                        <span class="lbl"> Vợ/Chồng </span>
                    </label>

                    <label class="control-label no-padding-right" style="margin-left:20px">
                        <input name="IsDuplicateAdrees" type="radio" value="false" class="ace">
                        <span class="lbl">Khác</span>
                        <input type="text" id="txtCMND" class ="ace" placeholder="Mô tả đường đi" class="form-control" />

                </div>
						
               
        </div>