﻿@using VS_LOAN.Core.Web.Helpers;



<html>

<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

	<style>


		h1 {
			color: red
		}

		.bannerLogo {
			width: 100%
		}

			.bannerLogo img {
				width: 100%
			}

		.titleContent {
			text-align: center
		}

			.titleContent h1 {
				color: #f48120
			}

		.sectionInfo h2 {
			color: #f48120
		}


		.rowcs {
			width: 100%;
			
		}

		.columncs {
			flex: 50%
		}

		.itemCheck {
			display: inline;
			padding-right: 100px;
		}

		.pageConten {
			width: 1200px;
			margin: auto;
			
		}

		.columNew{
			padding-bottom: 15px;
			
		}
		.text_right  {
			float: right;
		}
		.text-write {
			color:blue;
		
		}
	</style>


</head>

<body>

	<div class="bannerLogo">

		<img src="https://portal.vietbankfc.vn/fileImage.png" alt="">
	</div>

	<div class="titleContent">

		<h1>

			PHẦN DÀNH CHO KHÁCH HÀNG 
		</h1>

	</div>



<div class="pageConten">

	
		<div class="sectionInfo">

			<h2>1. Thông tin khách hàng vay </h2>

		

			<div class="rowcs"  >

			<div class="rowcs" >

				<div class ="columNew">
			
				<label >
				<span>
				
					Họ và tên(*):&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				&nbsp;&nbsp;&nbsp;&nbsp; <span class="text-write"> @Model.FullName </span>
				</label>
				
			
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				
			
			
			
				<label >
				<span>
				Tên thay thế:
				</span>
				&nbsp;&nbsp;&nbsp;&nbsp; 
				</label>
				</div>


			</div>

				<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Giới tính(*)
					:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span>


				&nbsp;&nbsp;&nbsp;&nbsp; <span > 

				@if( @Model.Gender =="1")
				{
					<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >

					<span class="">Nam </span>
					<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
					<span class="text-write">Nữ </span>
					
				}

				else
				{
						<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >

						<span class="text-write">Nam </span>

						<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
						<span class="">Nữ </span>

				}

			
				 </span>
				</label>
				
			
				
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;

			
			
				<label>
				<span>
				Ngày sinh:
				</span>
				&nbsp;&nbsp;&nbsp;&nbsp; 
				@if( Model.Dob != DateTime.MinValue )

				{
					<span class="text-write">  @Model.DobText </span>
				}
				else 
				{


				}

				
				</label>
				</div>


			</div>


			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					CCCD/CMND
					:&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				&nbsp;&nbsp;&nbsp;&nbsp; <span class="text-write"> @Model.Nationalid </span>
				</label>
				
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				<label >
				<span>
				Ngày cấp*
				</span>
				:&nbsp;&nbsp;&nbsp;&nbsp;


					@if( Model.Dob != DateTime.MinValue )

				{
					<span class="text-write">  @Model.Nationalidissuedate.ToString("dd/MM/yyyy") </span>
				}
				else 
				{


				}
				</label>
				</div>


			</div>
			
			
			
			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Nơi cấp 
					&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="text-write"> 
					@Model.Idissuer
				 </span>
				</label>
				
			
				
				</div>


			</div>
			

			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					CMND Cũ(nếu có):
					
				</span>
 
				 
  					<label>  <span class="text-write"> @Model.Notedetails </span></label><br>
				</label>
				
				</div>


			</div>

			
			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Tình trạng hôn nhân(*): 
					
				</span>
				
		

				&nbsp;&nbsp;&nbsp;&nbsp; <span > 
				@if(Model.Maritalstatus =="S")
				{
					<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
				
				 <span class="text-write">Độc Thân</span>
				}
				else 
				{
					<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
				
					 <span>Độc Thân</span>
				}
			
				&nbsp;
				 :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 
				 	@if(Model.Maritalstatus =="M")
				{
					<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
				
				 <span class="text-write">Lập gia đình</span>
				}
				else 
				{
					<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
				
					 <span>Lập gia đình</span>
				}


				:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				
				@if(Model.Maritalstatus =="W")
				{
					<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
				
				 <span class="text-write">Ly dị/Góa bụi</span>
				}
				else 
				{
					<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
				
					 <span>Ly dị/Góa bụi</span>
				}

:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  <img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
				  Khác



				</label>
				
				
				</div>


			</div>



			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Trình độ học vấn(*): 
					
				</span>
				
				 
  					<label> 
					
   
              <span class="text-write">@Model.EduqualifyText </span>
        


					  
					 
					   
					   </label><br>
				</label>
				
				</div>


			</div>
			


			<div class="rowcs" >

				<div class ="columNew">

						<label >
						<span>
						
							Điện thoại di động: 
							
						</span>
						
						
								<label>  <span class="text-write"> @Model.Mobile </span></label><br>
						</label>
				
				</div>




				<div class ="columNew">

						<label >
						<span>
						
							Email: 
							
						</span>
						
						
							<label for="vehicle1">	<label>  <span class=""> ------------------------------------------------------------------------ </span></label></label>
						</label>
						
				</div>


				<div class ="columNew">

						<label >
						<span>
						
							Số người phụ thuộc: 
							
						</span>
						
						
							<label for="vehicle1">	<label>  <span class="text-write">@Model.Noofdependentin </span></label></label><br>
						</label>
						
				</div>	


			</div>
	
		</div>



	</div>


	<div class="sectionInfo">

		<h2>2. Thông tin cư trú </h2>
		<div class="rowcs" >
					<div class ="columNew">

					<label >
					<span>
						Địa chỉ nơi ở hiện tại*: 
					</span>
						<label> <span class="text-write">
						@Model.CurrentAddressText
						
						</label> <br>
					</label>
					
				</div>
		</div>

			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
				Thời gian sinh sống(*):
				</span>
				&nbsp; <span class="text-write"> @Model.AddressCur_stayduratcuradd_y </span>
				năm 
				&nbsp;
				<span class="text-write">  @Model.AddressCur_stayduratcuradd_m </span>
				tháng
				</label>
				&nbsp;
				<label >
				<span>
					Số người cùng sống*:
				</span>
				&nbsp;


				<span class="text-write"> @Model.Noofdependentin </span>

				&nbsp; 
				Điện thoại bàn:
				&nbsp;
				<span>
						<span class="text-write">@Model.AddressCur_mobile </span>
				</span>
				</label>
				</div>


			</div>

				<div class="rowcs" >

					<div class ="columNew">

						<label >
						<span>
						
							  
							
						</span>


						<span>

				
				
					Tình trạng nơi ở hiện tại*:
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				&nbsp;&nbsp;&nbsp;&nbsp; 
				<span>  
				@if(@Model.AddressCur_in_propertystatus =="O")
				{

				<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
				<span class ="text-write"> Sở hữu  </span>
				}
				else 
				{

				<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
				<span > Sở hữu  </span>
				} 
				 &nbsp;
				 :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 
				@if(@Model.AddressCur_in_propertystatus =="R")		
				{

				<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
				<span class ="text-write"> Thuê  </span>
				}
				else 
				{

				<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
				<span > Thuê  </span>
				}
				
				:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				
				@if(@Model.AddressCur_in_propertystatus =="F")		
				{

				<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
				<span class ="text-write"> Nhà người thân  </span>
				}
				else 
				{

				<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
				<span> Nhà người thân  </span>
				}

				 :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  <img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
				 <span> Khác </span>
				 </span>
				</label>
				
					</div>
				</div>
				<div class="rowcs" >

						<div class ="columNew">

						<label >
						<span>
						
							Đối với khách hàng thuê trọ(nếu có)* 
							
						</span>
						
							<br>
						</label>
						
					</div>

					
				</div>
			
				<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
						Tên chủ nhà trọ(*):&nbsp;&nbsp;&nbsp;&nbsp;
					</span>
					&nbsp;&nbsp;&nbsp;&nbsp; <span class="text-write"> @Model.AddressCur_landlord </span>
					</label>
					
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;
			
			
					
					<label >
					
					<span>

					 <img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
				 	
					 Thuê nhà nguyên căn &nbsp;
				 :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 
				 <img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
				 		Thuê phòng trọ _ Phòng số

				

					 <span class="text-write"> @Model.AddressCur_roomno </span>
					</span>

					</label>
					</div>


				</div>

			
				<div class="rowcs" >

						<div class ="columNew">

						<label >
						<span>
						 
							Mô tả đường đi*: @Model.AddressCur_landmark
							
						</span>
						
							<br>
						</label>
						
					</div>
				</div>

				<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					
						Địa chỉ Hộ khẩu*:&nbsp;&nbsp;&nbsp;&nbsp;
					</span>
					
					</label>
					
				
					&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;
			
				@if(@Model.IsDuplicateAdrees)
				{

					<label >
					
					<span>

					<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
					<span class="text-write">  Giống địa chị hiện tại </span> &nbsp;
				 :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 
				 <img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
				 	<span>	Khác địa chỉ hiện tại 
					</span>

					</label>
				}

				else 
				{
				<label >
					
					<span>

					<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
					<span >  Giống địa chị hiện tại </span> &nbsp;
				 :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 
				 <img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
				 	<span class="text-write">	Khác địa chỉ hiện tại </span>
					</span>

					</label>

				}
					
					</div>


				</div>

	@if(@Model.IsDuplicateAdrees)
	{
<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					Địa chỉ sổ hộ khẩu*:
						
					</span>
					<span class=""> _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ __ _ _ _ __ _ _ _ __ _ _ _ __ _ _ _ __ _ _ _ __ _ _ __ _ _ _ _</span>
							<br>
					</label>
					
				</div>
			

				<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Số sổ hộ khẩu:
				
				 </span>
				 &nbsp;&nbsp;&nbsp;&nbsp; 

				<span class=""> @Model.Familybooknumber</span>
				</label>
				
			
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;

			
			
				<label>
				<span>
				Điện thoại bàn:
				</span>
				&nbsp;&nbsp;&nbsp;&nbsp; 

				<span class="">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ __ _ _ _  </span>
				</label>
				</div>


			</div>




				<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					
						Mô tả đường đi*:
						
					</span>
					<span >_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ __ _ _ _  </span>
							<br>
					</label>
					
				</div>
			</div>
	</div>
	}
	else
	{

<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					Địa chỉ sổ hộ khẩu*:
						
					</span>
					<span class="text-write">
					
					@Model.PermetAddressText
					  </span>
							<br>
					</label>
					
				</div>
			

				<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Số sổ hộ khẩu:
				
				 </span>
				 &nbsp;&nbsp;&nbsp;&nbsp; 

				<span class="text-write"> @Model.Familybooknumber </span>
				</label>
				
			
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;

			
			
				<label>
				<span>
				Điện thoại bàn:
				</span>
				&nbsp;&nbsp;&nbsp;&nbsp; 

				<span class="text-write">@Model.AddressPer_mobile </span>
				</label>
				</div>


			</div>




				<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					
						Mô tả đường đi*:
						
					</span>
					<span class="text-write"> @Model.AddressCur_landmark </span>
							<br>
					</label>
					
				</div>
			</div>
	</div>
	}

	

	<div class="sectionInfo">

			<h2>3. Thông tin khoản vay</h2>
				<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					
						Mục đích khoản vay(*): 
						
					</span>

					&nbsp;&nbsp;&nbsp;&nbsp;
					<span class=""> 
					@if(Model.Loanpurpose =="A")
					{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
								<span class ="text-write">	Mua hàng </span>
					}
					else 
					{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
								<span>	Mua hàng </span>

					}
				
					
					&nbsp;&nbsp;

						@if(Model.Loanpurpose =="H")
					{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
								<span class ="text-write">Sủa nhà </span>
					}
					else 
					{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
								<span>Sủa nhà</span>

					}
				
					
					&nbsp;&nbsp;
					@if(Model.Loanpurpose =="M")
					{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
								<span class ="text-write">Chi phí y tế </span>
					}
					else 
					{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
								<span>Chi phí y tế</span>

					}

					&nbsp;&nbsp;
						@if(Model.Loanpurpose =="P")
					{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
								<span class ="text-write">Khác </span>
					}
					else 
					{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
								<span>Khác</span>

					}
					</span>


					</label>
					
				</div>


				<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					
						Ngày đề nghị thanh toán(*): 
						
					</span>
					
						<label>Ngày <span class="text-write">@Model.DuedayRecomend </span>hàng tháng</label> <br>
					</label>
					
				</div>

				
					<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					
						Sản phẩm vay(*): 
						
					</span>
					
						 <span class="text-write">@Model.SanphamvayText </span> </br>
					</label>
					
				</div>

				
				
				<div class="rowcs columNew" >
				

					<label >
						Số tiền đề nghị bao gồm:
					
					</label>
					
				</div>

				<div class="rowcs columNew" >
				<label >
				<span>
				
					A.Khoản vay tiêu dùng*
					:&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				&nbsp;&nbsp; <span class="text-write"> 
			
						@String.Format("{0:C0}", Model.Totalloanamountreq )
					</span>
				</label>
				
			
				&nbsp;&nbsp;&nbsp;&nbsp;
			
				<label >
				<span>
				Bằng chữ
				</span>
				:&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-write"> @Model.TotalloanamountreqText </span>
				</label>

				<label >
				<span>
				Thời hạn
				</span>
				:&nbsp;&nbsp;<span class="text-write"> @Model.Tenure </span>
				Tháng
				</label>
				
			


			</div>
				@if (Model.Laa_app_ins_applicable =="True" )
				{
					<div class="rowcs columNew" >
						<label>B. Khách hàng đồng ý mua bảo hiểm người vay. Trường hợp khách hàng không đồng ý mua bảo hiểm người vay đề nghị ghi rõ <br> tại đây
						<span class="text-write">Có</span>

						</label>

					</div>


				}
				else 
				{
						<div class="rowcs columNew" >
						<label>B. Khách hàng đồng ý mua bảo hiểm người vay. Trường hợp khách hàng không đồng ý mua bảo hiểm người vay đề nghị ghi rõ <br> tại đây
						<span class="text-write">Không</span>

						</label>

					</div>
				}
		
			
			<div class="rowcs columNew" >
				<label>C.Tổng số tiền đề nghị vay(bao gồm phí bảo hiểm nếu có)*:<span class="text-write">@Model.TotalloanamountreqTextInclue</span> </label>
				

			</div>
				
		
	</div>


	<div class="sectionInfo">

			<h2>4.  Thông tin nghề nghiệp</h2>
				<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					
						Nguồn thu nhập(*): 
						
					</span>
					
						&nbsp;&nbsp;&nbsp;&nbsp; <span class=""> 

						@if(Model.Priority_c =="Bank Statement" || Model.Priority_c =="Pay Slip" )
						{
						<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >

						 <span class="text-write">Từ lương </span>
						
						}
						else 
						{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >

						 		<span>Từ lương </span>
						}


					
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

					
						@if(Model.Priority_c =="Business License" || Model.Priority_c =="No Business License" )
						{
						<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >

						 <span class="text-write">Kinh doanh </span>
						
						}
						else 
						{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >

						 		<span>Kinh doanh </span>
						}

						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

						@if(Model.Priority_c =="None"  )
						{
						<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >

						 <span class="text-write">Khác </span>
						
						}
						else 
						{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >

						 		<span>Khác </span>
						}
					
					</label>

					
				</div>

				<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					
						Tên công ty(*): 
						
					</span>
					
						<label>  <span class="text-write">@Model.Others</span></label><br>
					</label>
					
				</div>

				<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					
						Địa chỉ công ty(*): 
						
					</span>
					
						<label>  <span class="text-write">@Model.AddressCompanyInfo </span></label><br>
					</label>
					
				</div>
				
				
				

				<div class="rowcs" >

					<div class ="columNew">

			<label >
				
				
					

					&nbsp;&nbsp;&nbsp;&nbsp; <span class=""> 
				<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
				<span class ="text-write">
					Trụ sở chính
				</span>

				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 
				 
				  <img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
				Chi nhánh
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 				<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
				Khác

				
					</label>
					
				</div>
				</div>
				
				
				<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					
						MST(*): 
						
					</span>
					
						<label>  <span class="text-write">@Model.Tax_code </span></label><br>
					</label>
					
				</div>

				<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					
						Điện thoại bàn: 
						
					</span>
					
						<label>  <span class="text-write"> @Model.Phone </span></label><br>
					</label>
					
				</div>

				<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					
						Thời gian làm việc*:  
						
					</span>

					<label>  <span class="text-write">@Model.Presentjobyear </span></label>				
					<label>  <span>năm </span></label>

					<label>  <span class="text-write">@Model.Presentjobmth </span></label>				
					<label>  <span>tháng </span></label>

					<label>  <span >Vị trí </span></label>				
					<label>  <span class="text-write">@Model.Position </span></label>
					</label>
					
				</div>
	</div>

	<div class="sectionInfo">

			<h2>5.  Thông tin thu nhập</h2>
				<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Thu nhập chính(*): 
					
				</span>
				
				 
  					<label>  <span class="text-write">@String.Format("{0:C0}", Model.Amount )</span></label><br>
				</label>
				
				</div>
				<br>


				<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Thu nhập khác: 
					
				</span>
				
				 

  					<label>  <span class="text-write"> </span></label><br>
				</label>
				
				</div>
<br> 
<br>
<br> 
<br>
				<div class="rowcs" >
				  <p > <strong>Thông tin sau đây bắt buộc đối với khách hàng có nguồn thu nhập từ lương </strong> </p>

				</div>


				<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Hình thức nhận lương(*): 
					
				</span>
				
				 
  					<label> 
					  
					  
					  &nbsp;&nbsp;&nbsp;&nbsp; <span class=""> 

						@if(Model.Accountbank =="1")
						{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
								<span class ="text-write"> TK ngân hàng </span>
						}
						else 
						{
							<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
								<span>  TK ngân hàng </span>
						}
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 

					 	@if(Model.Accountbank =="0")
						{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >
								<span class ="text-write"> Tiền mặt  </span>
						}
						else 
						{
							<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >
								<span class ="">  Tiền mặt  </span>
						}

						</span>
				 
					   </label><br>
				</label>
				
				</div>


				<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Ngày nhận lương(*):
					
				</span>
				
				 
  					<label> Ngày  <span class="text-write">@Model.Dueday  </span> hàng tháng</label><br>
				</label>
				
				</div>



			</div>

	</div>


	<div class="sectionInfo">

			<h2>6. Thông tin vợ/chồng (nếu có)</h2>
			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Họ và tên: 
					
				</span>
				
				 
  					<label>  <span class="text-write"> @Model.Spousename </span></label><br>
				</label>
				
				</div>

				
				<div class ="columNew">

				<label >
				<span>
				
					CMND: 
					
				</span>
				
				 
  					<label>  <span class="text-write"> @Model.Spouse_id_c </span></label><br>
				</label>
				
				</div>

				<div class ="columNew">

				<label >
				<span>
				
					ĐTDD: 
					
				</span>
				
				 
  					<label>  <span class="text-write"> @Model.Spouse_phoneNumber </span></label><br>
				
  				
				
				</label>
				
				</div>



				<div class ="columNew">

				<label >
				<span>
				
					Công ty: 
					
				</span>
				
				 
  					<label>  <span class="text-write">@Model.Spouse_companyName  </span></label><br>
				
  				
				
				</label>
				
				</div>





				<div class ="columNew">

				<label >
				<span>
				
					Địa chỉ công ty: 
					
				</span>
				
				 
  					<label>  <span class="text-write"> @Model.Spouse_addressName </span></label><br>
				
  				
				
				</label>
				
				</div>
			</div>

	</div>


	<div class="sectionInfo">

			<h2>7. Thông tin tham chiếu</h2>

			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					1.Họ và tên: 
					
				</span>
				
				 
  					<label>  <span class="text-write">@Model.Refferee1_Refereename </span></label><br>
				</label>
				
				</div>


			</div>

			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Số điện thoại: 
					
				</span>
				
				 
  					<label>  <span class="text-write"> @Model.Refferee1_Phone1 </span></label><br>
				</label>
				
				</div>
			</div>

			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Mối quan hệ: 
					
				</span>
				
				 
  					<label>  <span class="text-write"> @Model.Refferee1_Refereerelation</span></label><br>
				</label>
				
				</div>


			</div>

	
			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					2.Họ và tên: 
					
				</span>
				
				 
  					<label>  <span class="text-write"> @Model.Refferee2_Refereename </span></label><br>
				</label>
				
				</div>


			</div>

			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Số điện thoại: 
					
				</span>
				
				 
  					<label>  <span class="text-write"> @Model.Refferee2_Phone1 </span></label><br>
				</label>
				
				</div>
			</div>

			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Mối quan hệ: 
					
				</span>
				
				 
  					<label>  <span class="text-write"> @Model.Refferee2_Refereerelation  </span></label><br>
				</label>
				
				</div>


			</div>


	<div class="sectionInfo">

			<h2>8. Thông tin tài khoản ngân hàng</h2>
			

			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Ngân hàng: 
					
				</span>
				
				 
  					<label>  <span class="text-write"> @Model.BankNameText </span></label><br>
				</label>
				
				</div>


			</div>

			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Chi nhánh: 
					
				</span>
				
				 
  					<label>  <span class="text-write"> @Model.Bankbranch </span></label><br>
				</label>
				
				</div>


			</div>

			<div class="rowcs" >

				<div class ="columNew">

				<label >
				<span>
				
					Số TK: 
					
				</span>
				
				 
  					<label>  <span class="text-write"> @Model.Accno </span></label><br>
				</label>
				
				</div>


			</div>
			
	</div>

	

		</div>


		<div class="sectionInfo">

			<h2>9.  Ghi chú thông tin khoản vay và khách hàng</h2>
				<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					
						Bảo mật thông tin với: 
						
					</span>
					
						&nbsp;&nbsp;&nbsp;&nbsp; <span class=""> 

						@if(Model.PrivateInfo =="1")
						{
						<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >

						 <span class="text-write">Người thân </span>
						
						}
						else 
						{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >

						 		<span>Người thân </span>
						}


					
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

					
					@if(Model.PrivateInfo =="2")
						{
						<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >

						 <span class="text-write"> Vợ chồng </span>
						
						}
						else 
						{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >

						 		<span> Vợ chồng </span>
						}

						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

						@if(Model.PrivateInfo =="3")
						{
						<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/checkbox1.png" alt="" >

						 <span class="text-write">Khác </span> 
						 <span> @Model.PrivateInfoOther</span>

					
						
						}
						else 
						{
								<img style ="width:16px; height:16px" src ="https://portal.vietbankfc.vn/unselect.png" alt="" >

						 		<span>Khác </span>
						}


						
					
					</label>

					
				</div>
<br> 
<br>
<br> 
<br>

				<div class="rowcs" >

					<div class ="columNew">

					<label >
					<span>
					
						Ghi chú chi tiết: 
						
					</span>
					<br>
					<div class="text-write">				  
							@Model.NotedDetailPrivate
					</div>
					
						
				

					</label>
					
				</div>

	
		</div>

		<body>

</html>
</html>