﻿
 <h3 class="header smaller lighter blue">9.Thong tin tài khoản ngân hàng</h3>


      <div class="form-group">

                <label class="col-sm-2 control-label no-padding-right">Ngân hàng<span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="txtCMND" placeholder="Mô tả đường đi" class="form-control" />
                </div>
                
        </div>


        
      <div class="form-group">

                <label class="col-sm-2 control-label no-padding-right">Chi nhánh<span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="txtCMND" placeholder="Mô tả đường đi" class="form-control" />
                </div>
                
        </div>

        
      <div class="form-group">

                <label class="col-sm-2 control-label no-padding-right">số tk<span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="txtCMND" placeholder="Mô tả đường đi" class="form-control" />
                </div>
                
        </div>




