﻿                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Họ<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="fname"  name ="fname" placeholder="Nhập họ và tên" class="form-control" />
                        </div>
                       
                    </div>





                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên lót<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="mname" name ="mname" placeholder="Nhập tên lót" class="form-control" />
                        </div>
                        <label for="form-field-1"  class="col-sm-2 control-label no-padding-right">Tên<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                         
                              <input type="text"name ="lname" id ="lname" placeholder="Nhập tên" class="form-control" />
                           
                        </div>
                    </div>
					

                
                


                        <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Cách xưng hô<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                        <select id="title"name ="title" class="chosen-select form-control" data-placeholder="Chọn cách xưng  hô">
                        <option value="MR">MR</option>
                            <option value="MRS">MRS </option>

                            <option value="MS">MS</option>

                            
                        <select>
                        </div>

                        </div>

					  <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Giới tính<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                              <select  name ="gender" id ="gender" class="chosen-select form-control">
                                <option value="0">Nam</option>
                                <option value="1">Nữ</option>
                            </select>
                        </div>
						<label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày tháng năm sinh<span class="required">(*)</span> </label>
                           <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control date-picker"  id="dob" name ="dob" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
					
					
				
 

                  <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">CMND<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                        
                                <input type="text" id="nationalid" name  ="nationalid" placeholder="Nhập số CMND" class="form-control" />
                         
                            <div style="margin-top:10px">
                                
                                <a class="btn btn-info" id="btn_CheckDup" style="
                                 background-color: #0D622F !important;
                                ">
                                    Check Duplicate
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <p id="checkdupResult" style="color:green"></p>
                            </div>

                        </div>
                    </div>

                    
                   
					
<div class="form-group">
        
        <label class="col-sm-2 control-label no-padding-right">CMND Cũ(CCCD)</label>
        <div class="col-sm-4">
                <input type="text" id="notedetails" name ="notedetails" placeholder="CMND cũ" class="form-control" />
        </div>
        </div>
                    
      
        <div class="form-group">
            <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Nơi cấp<span class="required">(*)</span></label>
            <div class="col-sm-4">
                    <select id="idissuer"name ="idissuer" class="chosen-select form-control" data-placeholder="Nơi cấp CMND">
                    <select>
                    </div>
            <label class="col-sm-2 control-label no-padding-right">Ngày cấp CMND/CCCD<span class="required">(*)</span></label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input class="form-control date-picker" name ="nationalidissuedate" id="nationalidissuedate" />
                    <span class="input-group-addon">
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
        </div>





    
		
					 <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">ĐTDĐ<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                             <input type="text" typeInput ="phoneInput"  id="mobile" name ="Mobile" placeholder="Điện thoại di dộng" class="form-control" />
                        </div>
                    </div>

	              <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Điện thoại bàn<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                             <input type="text" typeInput ="phoneInput"  id="fixphone" name ="fixphone" placeholder="Điện thoại di dộng" class="form-control" />
                        </div>
                        
                    </div>



                        <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Mã số kinh doanh<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                        <select id="salesofficer"  name ="salesofficer" class="chosen-select form-control" data-placeholder="Chọn mã số kinh doanh">
                        <option value="MR">MR</option>
                        <option value="MRS">MRS </option>

                        <option value="MS">MS</option>


                        <select>
                        </div>
                        </div>


                <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">Trạng thái hôn nhân<span class="required">(*)</span></label>
                <div class="col-sm-4">
                <select id="maritalstatus"name ="maritalstatus" class="chosen-select form-control" data-placeholder="Chọn cách xưng  hô">
                        <option value="W">Ly hôn </option>
                        <option value="M">Hôn nhân </option>

                        <option value="S">Độc thân</option>
                <select>
                </div>
            </div>
            
            <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Trình độ học vấn<span class="required">(*)</span></label>
                    <div class="col-sm-4">
                    <select id="eduqualify"name ="eduqualify" class="chosen-select form-control" data-placeholder="Trình độ học vấn">
                    <option value="CE">Cao đăng hoặc tương đương    </option>
                    <option value="HG">Phổ thông( lớp12)    </option>

                    <option value="LG">Dưới phổ thông     </option>
                    <option value="U">Đại học</option>

                    <option value="UU">Cao học</option>


                    <select>
                    </div>
            </div>


         <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Số người phụ thuộc</label>
                <div class="col-sm-4">
                        <input type="text" id="noofdependentin" name ="noofdependentin" placeholder="Số người phụ thuộc" class="form-control" />
                </div>
                
            </div>





        

            <div class="form-group">
        
        <label class="col-sm-2 control-label no-padding-right">Số sổ hộ khẩu<span class="required">(*)</span></label>
        <div class="col-sm-4">
                <input type="text" id="familybooknumber" name ="familybooknumber" placeholder="Sổ hộ khẩu" class="form-control" />
        </div>

        </div>


         
    




        
        
         <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Hình thức thanh toán<span class="required">(*)</span></label>
                <div class="col-sm-4">


                         <select id="paymentchannel"name ="paymentchannel" class="chosen-select form-control" data-placeholder="Hình thức thanh toán">
                                <option value="O">khấu trừ qua lương   </option>
                                <option value="T">trích nợ tự động    </option>
                                <option value="C">Thông thường     </option>

                            
                        <select>
                </div>
                
            </div>




        
         <div class="form-group" style ="display:none">
                
                <label class="col-sm-2 control-label no-padding-right">Loan category<span class="required">(*)</span></label>
                <div class="col-sm-4">


                         <select id="categoryid"name ="categoryid"  class="chosen-select form-control" data-placeholder="Chọn cách xưng  hô">
                        <option value="TEL">TELESALE   </option>
                            <option value="DAN">ĐẶNG NAM    </option>

                            <option value="TNE">TNES    </option>
    <option value="OTH">OTHER    </option>
            <option value="FIV">FIN VIỆT   </option>    

                    <option value="VTI">VIỆT TÍN</option>        
                            <option value="THIENTU">THIÊN TÚ</option>         

                            <option value="SMARTNET">SMARTNET</option>        

                              <option value="DIAMOND_STAR">DIAMOND STAR</option>    
  <option value="CALLUS">CALLUS</option>    
       <option value="DIGIPAY">DIGIPAY</option>                                        
                        <select>
                </div>
                
            </div>

 <div class="form-group">
            <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày thanh toán hàng tháng<span class="required">(*)</span></label>
              
              <div class="col-sm-4">
  
                        <input type="text" id="dueday" name ="dueday" placeholder="" class="form-control" />

                </div>
                    
        </div>

         <div class="form-group">
            <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày đề nghị thanh toán hàng tháng<span class="required">(*)</span></label>
              
              <div class="col-sm-4">
  
                        <input type="text" id="duedayRecomend" name ="duedayRecomend" placeholder="" class="form-control" />

                </div>
                    
        </div>

    <div class="form-group">
            <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên ngân hàng<span class="required">(*)</span></label>
              
              <div class="col-sm-4">
                      
                       <select id="bankname"name ="bankname" class="chosen-select form-control" data-placeholder="Chọn ngân hàng giải ngân">
                     
                            
                        <select>
                        
                </div>
                    
        </div>



         <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Chi nhánh ngân hàng</label>
                <div class="col-sm-4">
                        <input type="text" id="bankbranch" name ="bankbranch" placeholder="Nhập tên chi nhánh ngân hàng giải ngân" class="form-control" />
                </div>
                
            </div>

               <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Số tài khoản<span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="accno" name ="accno" placeholder="Số tài khoản giải ngân" class="form-control" />
                </div>
                
            </div>


                <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Loại tài khoản<span class="required">(*)</span></label>
                <div class="col-sm-4">


                         <select id="acctype"name ="acctype" class="chosen-select form-control" data-placeholder="Chọn loại tài khoản">
                           <option value="SAVINGS"  > Tài khoản tiết kiệm  </option>
                            <option value="CURRENT" select >CURRENT ACCOUNT   </option>
                            <option value="OVRDRAFT">OVRDRAFT ACCOUNT   </option>
                            <option value="JOINT">JOINT ACCOUNT    </option>

                            
                        <select>
                </div>
                
            </div>  
      
<script>


$('#btn_CheckDup').click(function (e) {
let value = $("#nationalid").val();
checkDUP( value);
});


$('#btn_CheckCIC').click(function (e) {
let value = $("#nationalid").val();
CheckCIC( value);
});

function checkDUP( value) {
   
    if(value =="" || value.length >12 || value.length < 9)
    {
            swal({
                    title: "Thành công",
                    text: ` Dữ liệu không hợp lệ:  CMND 9 số, CCCD  là 10 số`,
                    type: "error",
                    timer: 4000,
                    showConfirmButton: true,
                }, function () {

                });
            return;
    }

    $('#panel_body').block();

    if (isNullOrWhiteSpace(value))
        return;
        var objectSend = JSON.stringify({
            'Value': value
        });
        $.ajax({
            traditional: true,
            url: '/mirae/CheckCMND',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: objectSend,
            success: function (data) {
                var result =data.data.Data;
                if (result.StatusNumber == "0") {
                    swal({
                        title: "Thành công",
                        text: 'Đủ điều kiện',
                        type: "success",
                        timer: 4000,
                        showConfirmButton: true,
                    }, function () {

                    });
                }
                else {
                    swal({
                        title: "Khách hàng",
                        text: 'Không đủ điều kiện',
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    });
                }
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
              
            },
            complete: function () {
                $('#panel_body').unblock();
            },
        });
   

}
</script>