﻿





        <div class="form-group">
                    <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Họ và tên<span class="required">(*)</span></label>
                    <div class="col-sm-4">
                        <input type="text" id="txtCMND" placeholder="Nơi cấp" class="form-control" />
                    </div>
                    <label class="col-sm-2 control-label no-padding-right">Điện thoại liên hệ<span class="required">(*)</span></label>
                    <div class="col-sm-4">
                         <input type="text" id="Refferenphone_1" name ="Refferenphone_1"   typeInput = "phoneInput"  placeholder="Điện thoài liên hệ" class="form-control" />
                    </div>
       </div>


  <div class="form-group">
              <label class="col-sm-2 control-label no-padding-right">Cách xưng hô<span class="required">(*)</span></label>
                <div class="col-sm-4">
                       <select id="in_refereerelation1 "name ="1in_refereerelation" class="chosen-select form-control" data-placeholder="Chọn đường">
                                <option value="MR">MR</option>
                                 <option value="MRS">MRS </option>

                                  <option value="MS">MS</option>

                                  
                         <select>
                </div>
                
        </div>


          <div class="form-group">

              <label class="col-sm-2 control-label no-padding-right">Mối quan hệ <span class="required">(*)</span></label>
                <div class="col-sm-4">
                       <select id="in_refereerelation1 "name ="1in_refereerelation" class="chosen-select form-control" data-placeholder="Chọn đường">
                                <option value="R">Người thân</option>
                                 <option value="CA">Người đồng vay</option>

                                  <option value="WH">Vợ chồng</option>

                                     <option value="F">Bạn bè</option>
                         <select>
                </div>
                
        </div>
