﻿@model VS_LOAN.Core.Web.Helpers.ExportMiraeItem



<div class="rowcs" >
	<div class ="columNew">

	<label >
	<span>

	@Model.LableText

	</span>


	<label for="vehicle1">@Model.DisplayText</label>
	</label>
	</div>
</div>

	