﻿

@{  

   var student = ViewBag.listKey;  
} 

<style>

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        height: 100vh;
    }

    /* Style the close button */
    .topright {
        float: right;
        cursor: pointer;
        font-size: 28px;
    }

        .topright:hover {
            color: red;
        }
</style>


@using VS_LOAN.Core.Web.Resources;
@{
    ViewBag.Title = "Tạo hồ sơ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model String

<div class="main-content-inner">

    <div class="page-content" id="panel_body">
        <form id ="frmEdit"> 
			<div>Đối với trường hợp cập nhật thông tin khoản vay (Scheme , số tiền vay, bảo hiểm, số kỳ thanh toán ), bắt buộc truyền đủ thông tin các trường sau: </div>
           
		  <div>Đối với cập nhật thông tin khách hàng  </div>
				@foreach (var item in student)
				{
				
				
				<div class="checkbox">
					<label>

						<input type="checkbox" name ="key"  value="@item.Key" >@item.Title

					</label>
				</div>
				}
				
				<button type ="button" id ="btn_Temp" > Click </button>

        </form>


    </div>
</div>



<script>
var save =false;
	$('#btn_Temp').click(function (e) {

    
        var idas = window.location.pathname.split("/").pop();



        var data = {};
        
        $("#frmEdit").serializeArray().map(function(x){data[x.name] = x.value;});     
		
         
         var objectSend = JSON.stringify(data);
	
        var yourArray = [];


        yourArray.push("id:" + idas);
		
        $("input:checkbox[name=key]:checked").each(function () {

			yourArray.push($(this).val());
        });

        if (yourArray.length < 1) {
            alert("404");
            return;
        }

        var objectSend = JSON.stringify(yourArray);
		
       

        if(save ==true)
        {
            return;
        }
        
        save =true;
        
      
        $.ajax({
            traditional: true,
            url: '@Url.Action("update3ppost", "Mirae")',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: objectSend,
            success: function (data) {
               if (data.success == true) {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: "Thành công",
                        type: "success",
                        timer: 4000,
                        showConfirmButton: true,
                    }, function () {
                            save = false; 
                            
                    });
                }
                else {
                    swal({
                        title: "Có lỗi",
                        text: data.code,
                        type: "error",
                        timer: 4000,
                        showConfirmButton: true,
                    }, function () {
                         save = false;
                         
                    });
                }
            },
            error: function (jqXHR, exception) {

                showError(jqXHR, exception);
            },
            complete: function () {

                 $('#panel_body').unblock();
                  save = false;
            },
        });
    });


</script>




