﻿

 <h3 class="header smaller lighter blue">7.Thông tin Vợ/Chồng(Nếu là kết hôn)</h3>


<div class="form-group">
        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Họ và tên   <span class="required">(*)</span></label>
        <div class="col-sm-4">
        <input type="text" id="spousename" name ="spousename" placeholder="Nhập họ tên" class="form-control" />
        </div>
        <label class="col-sm-2 control-label no-padding-right">CMND<span class="required">(*)</span></label>
        <div class="col-sm-4">
          <input type="text" id="spouse_id_c" name ="Spouse_id_c" placeholder="CMND" class="form-control" />
        </div>
</div>


<div class="form-group">
        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">ĐTDD  <span class="required">(*)</span></label>
        <div class="col-sm-4">
        <input type="text" id="spouse_phoneNumber" name ="spouse_phoneNumber" placeholder="Điện thoại di động" class="form-control" />
        </div>
        <label class="col-sm-2 control-label no-padding-right">Công ty<span class="required">(*)</span></label>
        <div class="col-sm-4">
        <input type="text" id="spouse_companyName" name ="spouse_companyName" placeholder="Công ty" class="form-control" />
        </div>
</div>

  <div class="form-group">
                    
                    <label class="col-sm-2 control-label no-padding-right">Địa chỉ <span class="required">(*)</span></label>
                    <div class="col-sm-4">
                            <input type="text" id="spouse_addressName" name ="spouse_addressName" placeholder="Địa chỉ công ty" class="form-control" />
                    </div>
                    
 </div>

 








   

     